
/*** Textarea
*************************************/

 textarea
{
    border: 1px solid #AAAAAA;
    margin:0px 0px 5px 0px;
}

 textarea.disabled
{
    background-color: #FAFAFA;
    background-image: url("../img/disabled-bg.gif");
    background-repeat: repeat;
    color: #C2C2C2;
    opacity: 1;
}

textarea {
    background-color: #fff;
    background-image: none;
    border: none;
    box-shadow: 0 1px 1px #919191 inset, 0 -1px 4px rgba(222,222,222,0.56) inset, 0 0 4px 1px #fff;
    color: #3e3e3e;
    padding: 0.769em 0.769em 0.769em 0.769em;
    border-radius: 2px 2px 2px 2px;
    font-size: 1em;
    line-height: 1.3em;
    vertical-align: middle;

    &:focus {
        background-color: #fff5da;
    }

    &:disabled {
        background-color: #eaeaea;
        background-image: url('../img/texture-45dg-lines-gray.gif');
        background-repeat: repeat;
        background-position: top left;
    }
}


/*** Select
*************************************/

select {
    background-color: #fff;
    background-image: none;
    border: none;
    box-shadow: 0 1px 1px #919191 inset, 0 -1px 4px rgba(222,222,222,0.56) inset, 0 0 4px 1px #fff;
    color: #3e3e3e;
    padding: 0 0 0 0.385em ;
    border-radius: 2px 2px 2px 2px;
    @include font-size-px-to-em(13);
    height: 2em;
    vertical-align: middle;
    line-height: 2em;
    border: 1px solid #bdbdbd;

    option {
        padding: 0 0 0 0.769em;
        vertical-align: middle;
    }

    &:focus {
        background-color: #fff5da;
    }

    &:disabled {
        background-color: #eaeaea;
        background-image: url('../img/texture-45dg-lines-gray.gif');
        background-repeat: repeat;
        background-position: top left;
    }
    
    &[multiple]
    {
        height:auto;
    }
}


/*** Input text
*************************************/

input[type="text"],
input[type="password"] {
    background-color: #fff;
    background-image: none;
    border: none;
    box-shadow: 0 1px 1px #919191 inset, 0 -1px 4px rgba(222,222,222,0.56) inset, 0 0 4px 1px #fff;
    color: #3e3e3e;
    padding: 0 0 0 0.769em;
    border-radius: 2px 2px 2px 2px;
    font-size: 1em;
    height: 2em;
    line-height: 2em;
    vertical-align: middle;

    &:focus {
        background-color: #fff5da;
    }

    &:disabled {
        background-color: #eaeaea;
        background-image: url('../img/texture-45dg-lines-gray.gif');
        background-repeat: repeat;
        background-position: top left;
    }
}

input.search[type="text"]
{
    padding: 0 0 0 1.923em;
    background-image:url('../img/icon-search.png');
    background-repeat: no-repeat;
    background-position: 0.4em center;
}




/*** Fieldset
**********************************/

fieldset {

    border: none;
    padding: 0px;
	margin:1em 0px;
	
    legend {
        padding: 0px;
		
		&.h1, &.h2, &.h3, &.h4, &.h5, &.h6
		{
			margin:0px;
		}
    }

    small {
        display: block;
    }

    hr {
        margin: 0.5em 0px;
    }
}






/***  Label
**********************************/

label, .label {
    line-height: 2em;
}

/*** Input(text), Select
**********************************/

.field-container-select {
    padding: 0px 2px 0px 0px;
}

.field-container-text {
    padding: 0px 0.923em 0px 0px;
}

.field-container-select select,
.field-container-text input[type="text"] {

}

/*** Field container radio
************************************************/

.field-container-radio {

    input[type="radio"] {
        margin-right: 5px;
    }

    div {
        position: relative;
        top: -3px;

        small {
            margin-left: 24px;
            padding-bottom: 5px;
        }
    }
}


/*** Form row structure
************************************************/

.form-row {
    clear: both;
	
	.form-row-label {
		float: left;
		width: 173px;
		text-align: right;
		padding: 0px 17px 0px 0px;
	}

	.form-row-content {
		float: left;
		
		&.nofield,
		> .nofield
		{
			padding-top:0.385em;
		}
		
		> span.nofield
		{
			display:inline-block;
		}
	}
}



/*** Form item structure
************************************************/

.form-item {
    clear: both;
	
	.form-item-label {
		color: #000000;
	}

	.form .form-item-content {
		padding: 0 0 0 1em;
	}
}





/*** Form item row
************************************************/
.form-item-row {
    .form-item {
        display: inline-block;
        padding-right: 1em;
    }
}

/*** Search result
************************************************/

.search-result {
    
    .result {
        list-style-type: none;
        padding-left: 0;
        margin-top: 0;
        margin-right: 0 !important;
        float: left;
        width: 70%;

        li {
            padding-right: 2em;
        }
    }

    .result-options {
        padding: 0;
        margin: 0;
        width: 30%;
        float: left;
    }
}

/*** Custom form styles
************************************************/

 .table-field-label {
    display:block;
    padding-top:8px;

    &.small {
        padding-top: 3px;
    }
 }

 .form-label-cell {
    width:195px;
    padding:5px 0px;
    padding-right:1em;
    text-align:right;  
 }

.form-field-cell {
    width:385px;
    padding:5px 0px;
}

.field-text-containerbox {
    padding:0px 0.769em 0px 0px;

    input.text,
	input[type="text"]	{
        width:100%;
    }
}

.field-search-containerbox {
    padding:0px 1.923em 0px 0px;

    input.text.search,
	input.search[type="text"]	{
        width:100%;
    }
}

.field-select-containerbox {
    padding:0px 0px 0px 0px;

    select {
        width:100%;
    }
}

.field-textarea-containerbox {
    padding:0px 1.538em 0px 0px;
    textarea {
        width:100%;
    }
}

.tagset {
    padding:5px 0px 10px 0px;

    .tag {
        display:inline-block;
        line-height:18px;
        margin:0px 7px 0px 0px;

        .remove {
            vertical-align:middle;
            display:inline-block;
            width:12px;
            height:13px;
            margin:0px 0px 0px 5px;
            background-image:url(../img/tag-delete-icon.png);
            background-repeat:no-repeat;
            background-position:center left;
            cursor:pointer;
        }
    }
}


/*** Mandatory
************************************************/
.required:after {
    content: " *";
}

.required-field {
    font-size: 0.813em;
    color: red;
}

.mandatory:after {
    content: " *";
    color: red;
    font-size: 18px;
    text-align: super;
}


/*** Form horizontal
************************************************/
.form-horizontal .form-group .control-content {
    padding-top: 8px;
}