

$img-folder-path: "../img/";

$table-header-bg: "table-header-bg.png";
$breadcrumb-arrow: "breadcrumb-arrow.png";




/* color */
$link-color: #149ECB;
$navigation-background: #06526b;
$default-font-color: #3e3e3e;

/* font-size */
$base-font-size-pixel: 13px;
$base-font-size: 13; //in pixels





//colors 
$light-grey: #eee;
$grey: #bdbdbd;