
<script type="text/ng-template" id="">

</script>

<div class="tabs" ng-controller="LaskentakaavaMenuController">
    <a ng-repeat="menuitem in menuitems" href="{{menuitem.url}}" ng-class="cssClass(menuitem)">
        <span>{{menuitem.title}}</span>
    </a>
</div>
<div class="tabsheets">

    <h2>Laskentakaavat</h2>
    <span ng-click="createKaava()" class="button small">Luo laskentakaava</span>

    <div ng-show="showForm">
        <form name="kaavaForm" novalidate>
        <div class="form-row">
            <div class="form-row-label">Laskentakaavan nimi</div>

            <div class="form-row-content">
                <input type="text" ng-model="kaava.nimi" required />
            </div>
            <div class="clear"></div>
        </div>
        <div class="form-row">
            <div class="form-row-label">Laskentakaavan kuvaus</div>

            <div class="form-row-content">
                <textarea ng-model="kaava.kuvaus"></textarea>
            </div>
            <div class="clear"></div>
        </div>
        <div class="form-row" ng-show="!kaava.id">
            <div class="form-row-label">Laskentakaavan tyyppi</div>

            <div class="form-row-content">
                <input type="radio" name="tyyppi" value="NIMETTYTOTUUSARVO" ng-model="kaava.tyyppi" /> Totuusarvofunktio
                <br />
                <input type="radio" name="tyyppi" value="NIMETTYLUKUARVO" ng-model="kaava.tyyppi" /> Lukuarvofunktio
            </div>
            <div class="clear"></div>
        </div>
        <div class="form-row">
            <button class="button small primary"
                  ng-click="saveKaava(kaava)"
                  ng-disabled="kaavaForm.$invalid">Tallenna</button>
            <span class="button small" ng-click="cancelEdit(kaava)">Peruuta</span>
        </div>
        </form>
    </div>

    <div class="width-60">
        <div class="notification info" ng-show="laskentakaavat.length == 0 && !valintaryhmaOid">
            <p ng-show="!valintaryhmaOid">Yhtään laskentakaavaa ei ole luotu.</p>
            <p ng-show="valintaryhmaOid">Tälle valintaryhmälle ei ole luotu yhtään laskentakaavaa.</p>
        </div>
        <table class="virkailija-table-1" ng-show="laskentakaavat.length > 0">
            <thead>
                <tr>
                    <th>Nimi</th>
                    <th>Kuvaus</th>
                    <th>Tila</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="kaava in laskentakaavat">
                    <td>
                        <a href="#{{linkprefix}}/laskentakaava/{{kaava.id}}">{{kaava.nimi}}</a>
                    </td>
                    <td>
                        {{kaava.kuvaus}}
                    </td>
                    <td>
                        <span ng-show="kaava.onLuonnos">LUONNOS</span>
                        <span ng-show="!kaava.onLuonnos">VALMIS</span>
                    </td>
                    <td>
                        <a ng-click="editKaava(kaava)">Muokkaa</a>
                    </td>
                </tr>
            </tbody>
        </table>

        <div ng-repeat="valintaryhmaList in valintaryhmat.valintaryhmaList()">
            <div ng-repeat="valintaryhma in valintaryhmaList">
                <h3>{{valintaryhma.nimi}}</h3>
                <div class="notification info margin-bottom-2" ng-show="!valintaryhma.laskentakaavat || valintaryhma.laskentakaavat.length == 0">
                    <p ng-show="!valintaryhma.oid">Yhtään laskentakaavaa ei ole luotu.</p>
                    <p ng-show="valintaryhma.oid">Tälle valintaryhmälle ei ole luotu yhtään laskentakaavaa.</p>
                </div>
                <table class="virkailija-table-1" ng-show="valintaryhma.laskentakaavat.length > 0">
                    <thead>
                    <tr>
                        <th>Nimi</th>
                        <th>Kuvaus</th>
                        <th>Tila</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="kaava in valintaryhma.laskentakaavat">
                        <td>
                            <a href="#{{linkprefix}}/laskentakaava/{{kaava.id}}">{{kaava.nimi}}</a>
                        </td>
                        <td>
                            {{kaava.kuvaus}}
                        </td>
                        <td>
                            <span ng-show="kaava.onLuonnos">LUONNOS</span>
                            <span ng-show="!kaava.onLuonnos">VALMIS</span>
                        </td>
                        <td>
                            <a ng-click="editKaava(kaava)">Muokkaa</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>