

<!-- kaava root needed for drag & drop -->
<div class="gradingformula dd" style="width:60%;float:left;">
    <div class="frame">
        <span class="icon">&#8302;</span>
        <span class="label" ng-click="showDetails(funktio)">
        <span class="bold">{{funktio.syoteparametrit[0].data.arvo}}</span>
    </div>

    <ul kaavadrag class="frame-content">
        <li class="item" ng-repeat="farg in funktio.funktioargumentit" >
            <div ng-controller="treeNodeController">
                <div ng-include="getFunktioTemplate(farg)"></div>
            </div>
        </li>
    </ul>
</div>

<!-- template jota käytetään kaikkien funktioiden piirtämiseen -->
<script type="text/ng-template" id="node_template.html">
    
    <div ng-include="'leaf_template.html'"></div>
    
    <ul ng-if="funktio.funktioargumentit" ng-init="parent = farg">
        <li class="item" ng-repeat="farg in funktio.funktioargumentit" ng-class="farg.dragClasses()">
            <div ng-controller="treeNodeController">
                <div ng-include="getFunktioTemplate(farg)"></div>
            </div>
        </li>
    </ul>
</script>


<!-- Laskentakaavaviite--> 
<script type="text/ng-template" id="subformula_template.html">
    <div class="frame" ng-class="selected == funktio ? 'active' : ''">
        <span class="icon">&#8302;</span>
        <span class="label" ng-click="showKaavaDetails(funktio)">{{funktio.nimi}}</span>
    </div>
</script>


<!-- Valitaan funktion nimen perusteella, mitä templatea piirtämiseen käytetään --> 
<script type="text/ng-template" id="leaf_template.html">
    <div ng-if="farg.nimi == 'LUKUARVO'" ng-include="'lukuarvo.html'"></div>
    <div ng-if="farg.nimi == 'TOTUUSARVO'" ng-include="'totuusarvo.html'"></div>
    <div ng-if="farg.nimi == 'HAKUTOIVE'" ng-include="'hakutoive.html'"></div>
    <div ng-if="farg.nimi == 'DEMOGRAFIA'" ng-include="'demografia.html'"></div>
    
    <div ng-if="farg.nimi == 'HAETOTUUSARVO'" ng-include="'haettava_arvo.html'"></div>
    <div ng-if="farg.nimi == 'HAELUKUARVO'" ng-include="'haettava_arvo.html'"></div>
    <div ng-if="farg.nimi == 'HAEMERKKIJONOJAKONVERTOILUKUARVOKSI'" ng-include="'haettava_arvo.html'"></div>
    <div ng-if="farg.nimi == 'HAEMERKKIJONOJAVERTAAYHTASUURUUS'" ng-include="'haettava_arvo.html'"></div>
    <div ng-if="farg.nimi == 'HAEMERKKIJONOJAKONVERTOITOTUUSARVOKSI'" ng-include="'haettava_arvo.html'"></div>
    <div ng-if="farg.nimi == 'VALINTAPERUSTEYHTASUURUUS'" ng-include="'haettava_arvo.html'"></div>
    
    <div ng-if="farg.nimi == 'SUMMA'" ng-include="'summa.html'"></div>

    <div ng-if="farg.nimi == 'TAI'" ng-include="'funktio.html'"></div>
    <div ng-if="farg.nimi == 'TULO'" ng-include="'funktio.html'"></div>
    <div ng-if="farg.nimi == 'JOS'" ng-include="'funktio.html'"></div>
    <div ng-if="farg.nimi == 'OSAMAARA'" ng-include="'funktio.html'"></div>
    <div ng-if="farg.nimi == 'SUUREMPI'" ng-include="'funktio.html'"></div>
    <div ng-if="farg.nimi == 'YHTASUURI'" ng-include="'funktio.html'"></div>
    <div ng-if="farg.nimi == 'PIENEMPI'" ng-include="'funktio.html'"></div>
    <div ng-if="farg.nimi == 'MEDIAANI'" ng-include="'funktio.html'"></div>
    <div ng-if="farg.nimi == 'PIENEMPITAIYHTASUURI'" ng-include="'funktio.html'"></div>
    <div ng-if="farg.nimi == 'SUUREMPITAIYHTASUURI'" ng-include="'funktio.html'"></div>
    <div ng-if="farg.nimi == 'EI'" ng-include="'funktio.html'"></div>
    <div ng-if="farg.nimi == 'JA'" ng-include="'funktio.html'"></div>
    <div ng-if="farg.nimi == 'MAKSIMI'" ng-include="'funktio.html'"></div>
    <div ng-if="farg.nimi == 'MINIMI'" ng-include="'funktio.html'"></div>
    <div ng-if="farg.nimi == 'NEGAATIO'" ng-include="'funktio.html'"></div>
    <div ng-if="farg.nimi == 'KESKIARVO'" ng-include="'funktio.html'"></div>
    <div ng-if="farg.nimi == 'PAINOTETTUKESKIARVO'" ng-include="'funktio.html'"></div>
    <div ng-if="farg.nimi == 'KONVERTOILUKUARVO'" ng-include="'funktio.html'"></div>
    <div ng-if="farg.nimi == 'HYLKAA'" ng-include="'funktio.html'"></div>
    <div ng-if="farg.nimi == 'PYORISTYS'" ng-include="'funktio.html'"></div>
    <div ng-if="farg.nimi == 'SKAALAUS'" ng-include="'funktio.html'"></div>
    
    <div ng-if="farg.nimi == 'NMINIMI'" ng-include="'fargumentticount_funktio_handle.html'"></div>
    <div ng-if="farg.nimi == 'NMAKSIMI'" ng-include="'fargumentticount_funktio_handle.html'"></div>
    <div ng-if="farg.nimi == 'KESKIARVONPARASTA'" ng-include="'fargumentticount_funktio_handle.html'"></div>
    <div ng-if="farg.nimi == 'SUMMANPARASTA'" ng-include="'fargumentticount_funktio_handle.html'"></div>
    
    <div ng-if="farg.nimi == 'HYLKAAARVOVALILLA'" ng-include="'hylkaa_arvovalilla.html'"></div>
    
    <div ng-if="farg.nimi == 'NIMETTYLUKUARVO'" ng-include="'nimetty_lukuarvo.html'"></div>
    <div ng-if="farg.nimi == 'NIMETTYTOTUUSARVO'" ng-include="'nimetty_totuusarvo.html'"></div>

</script>



<!-- 
    HAETOTUUSARVO
    HAELUKUARVO
    HAEMERKKIJONOJAKONVERTOILUKUARVOKSI
    HAEMERKKIJONOJAVERTAAYHTASUURUUS
    HAEMERKKIJONOJAKONVERTOITOTUUSARVOKSI
    HAEMERKKIJONOJAKONVERTOITOTUUSARVOKSI
    VALINTAPERUSTEYHTASUURUUS
 -->
<script type="text/ng-template" id="haettava_arvo.html">
    <div class="parameter" ng-class="selected == funktio ? 'active' : ''">
        <span class="icon">&#8302;</span>
        <span class="label" ng-click="showDetails(funktio)">
            <span ng-if="funktio.data.valintaperusteviitteet[0].lahde == 'HAETTAVA_ARVO'">Arvo hakemukselta</span> 
            <span ng-if="funktio.data.valintaperusteviitteet[0].lahde == 'SYOTETTAVA_ARVO'">Syötettävä arvo</span> 
            <span ng-if="funktio.data.valintaperusteviitteet[0].lahde == 'HAKUKOHTEEN_ARVO'">Hakukohteen arvo</span> 
            <span ng-if="funktio.data.valintaperusteviitteet[0].tunniste">({{funktio.data.valintaperusteviitteet[0].tunniste}})</span>
            <span ng-if="funktio.data.valintaperusteviitteet[0].kuvaus">- {{funktio.data.valintaperusteviitteet[0].kuvaus}}</span>
        </span>
    </div>
</script>



<!-- 
    N MINIMI 
    N MAKSIMI
    N PARASTA KESKIARVO
    SUMMA N PARASTA 
-->
<script type="text/ng-template" id="fargumentticount_funktio_handle.html">

    <div class="function" ng-class="selected == funktio ? 'active' : ''">
        <span class="icon">&#8302;</span>
        <span ng-if="!funktio.data.syoteparametrit[0].arvo" class="label" ng-click="showDetails(funktio)">
            <span ng-if="funktio.nimi == 'NMINIMI'">N huonoin</span>
            <span ng-if="funktio.nimi == 'NMAKSIMI'">N paras</span>
            <span ng-if="funktio.nimi == 'KESKIARVONPARASTA'">N:n suurimman keskiarvo</span>
            <span ng-if="funktio.nimi == 'SUMMANPARASTA'">N:n suurimman summa</span>
        </span>
        <span ng-if="funktio.data.syoteparametrit[0].arvo" ng-click="showDetails(funktio)" class="label">
            <span ng-if="funktio.nimi == 'NMINIMI'">{{funktio.syoteparametrit[0].data.arvo}} huonoin</span>
            <span ng-if="funktio.nimi == 'NMAKSIMI'">{{funktio.syoteparametrit[0].data.arvo}} paras</span>
            <span ng-if="funktio.nimi == 'KESKIARVONPARASTA'">{{funktio.syoteparametrit[0].data.arvo}} suurimman keskiarvo</span>
            <span ng-if="funktio.nimi == 'SUMMANPARASTA'">{{funktio.syoteparametrit[0].data.arvo}} suurimman summa</span>

        </span>
    </div>
</script>


<!-- NIMETTY LUKUARVO -->
<script type="text/ng-template" id="nimetty_lukuarvo.html">
    <div class="frame">
        <span class="icon">&#8302;</span>
        <span class="label" ng-click="showDetails(funktio)">{{funktio.syoteparametrit[0].data.arvo}} - Nimetty arvo</span>
    </div>
</script>

<!-- NIMETTY TOTUUSARVO -->
<script type="text/ng-template" id="nimetty_totuusarvo.html">
    <div class="frame">
        <span class="icon">&#8302;</span>
        <span class="label" ng-click="showDetails(funktio)">{{funktio.syoteparametrit[0].data.arvo}} - Nimetty arvo</span>
    </div>
</script>

<!-- LUKUARVO -->
<script type="text/ng-template" id="lukuarvo.html">
    <div class="parameter" ng-class="selected == funktio ? 'active' : ''">
        <span class="icon">&#8302;</span>
        <span class="label" ng-click="showDetails(funktio)">
            <span class="label" ng-if="!funktio.data.syoteparametrit[0].arvo" ng-click="showDetails(funktio)">Vakio</span>
            <span class="label" ng-if="funktio.data.syoteparametrit[0].arvo" ng-click="showDetails(funktio)">{{funktio.data.syoteparametrit[0].arvo}}</span>
        </span>
    </div>
</script>

<!-- TOTUUSARVO -->
<script type="text/ng-template" id="totuusarvo.html">
    <div class="parameter" ng-class="selected == funktio ? 'active' : ''">
        <span class="icon">&#8302;</span>
        <span class="label" ng-click="showDetails(funktio)">
            <span ng-if="!funktio.data.syoteparametrit[0].arvo">Totuusarvo</span>
            <span class="label" ng-if="funktio.data.syoteparametrit[0].arvo !== undefined" ng-click="showDetails(funktio)">{{funktio.data.syoteparametrit[0].arvo}}</span>
        </span>
    </div>
</script>

<!-- HAKUTOIVE -->
<script type="text/ng-template" id="hakutoive.html">
    <div class="parameter" ng-class="selected == funktio ? 'active' : ''">
        <span class="icon">&#8302;</span>
        <span class="label" ng-click="showDetails(funktio)">
            <span ng-if="funktio.data.syoteparametrit[0].arvo">{{funktio.data.syoteparametrit[0].arvo}}. hakutoive</span>
            <span ng-if="!funktio.data.syoteparametrit[0].arvo">Hakutoive</span>
        </span>
    </div>
</script>

<!-- DEMOGRAFIA -->
<script type="text/ng-template" id="demografia.html">
    <div class="parameter" ng-class="selected == funktio ? 'active' : ''">
        <span class="icon">&#8302;</span>
        <span class="label" ng-click="showDetails(funktio)">Demografia</span>
    </div>
</script>

<!-- HYLKÄÄ ARVOVÄLILLÄ -->
<script type="text/ng-template" id="hylkaa_arvovalilla.html">
    <div class="function" ng-class="selected == funktio ? 'active' : ''">
        <span class="icon">&#8302;</span>
        <span class="label" ng-click="showDetails(funktio)">
        <span>Hylkää arvovälillä: </span>
        <span ng-if="funktio.syoteparametrit[1].data.arvo">{{funktio.syoteparametrit[1].data.arvo}}</span>
        <span ng-if="!funktio.syoteparametrit[1].data.arvo">?</span>
        <span> - </span>
        <span ng-if="funktio.syoteparametrit[2].data.arvo">{{funktio.syoteparametrit[2].data.arvo}}</span>
        <span ng-if="!funktio.syoteparametrit[2].data.arvo">?</span>
        <span ng-if="funktio.syoteparametrit[0].data.arvo"> ({{funktio.syoteparametrit[0].data.arvo}})</span>
    </div>
</script>

<!-- SUMMA -->
<script type="text/ng-template" id="summa.html">
    <div class="function" ng-class="selected == funktio ? 'active' : ''">
        <span class="icon sum">&#8302;</span>
        <span class="label" ng-click="showDetails(funktio)">Summa</span>
    </div>    
</script>


<!-- 
TAI
TULO
JOS
OSAMAARA
SUUREMPI
SKAALAUS 
PYORISTYS
PAINOTETTUKESKIARVO
HYLKAA
KONVERTOILUKUARVO
KESKIARVO
NEGAATIO
MINIMI
MAKSIMI
JA
EI
SUUREMPITAIYHTASUURI
PIENEMPITAIYHTASUURI
MEDIAANI
PIENEMPI
YHTASUURI
-->
<script type="text/ng-template" id="funktio.html">
    <div class="function" ng-class="selected == funktio ? 'active' : ''">
        <span class="icon">&#8302;</span>
       
        <span class="label" ng-if="funktio.nimi == 'TULO'" ng-click="showDetails(funktio)">Tulo</span>
        <span class="label" ng-if="funktio.nimi == 'JOS'" ng-click="showDetails(funktio)">Jos</span>
        <span class="label" ng-if="funktio.nimi == 'OSAMAARA'" ng-click="showDetails(funktio)">Osamäärä</span>
        <span class="label" ng-if="funktio.nimi == 'SUUREMPI'" ng-click="showDetails(funktio)">Suurempi</span>
        <span class="label" ng-if="funktio.nimi == 'YHTASUURI'" ng-click="showDetails(funktio)">Yhtäsuuri</span>
        <span class="label" ng-if="funktio.nimi == 'TAI'" ng-click="showDetails(funktio)">Tai</span>
        <span class="label" ng-if="funktio.nimi == 'PIENEMPI'" ng-click="showDetails(funktio)">Pienempi</span>
        <span class="label" ng-if="funktio.nimi == 'MEDIAANI'" ng-click="showDetails(funktio)">Mediaani</span>
        <span class="label" ng-if="funktio.nimi == 'PIENEMPITAIYHTASUURI'" ng-click="showDetails(funktio)">Pienempi tai yhtäsuuri</span>
        <span class="label" ng-if="funktio.nimi == 'SUUREMPITAIYHTASUURI'" ng-click="showDetails(funktio)">Suurempi tai yhtäsuuri</span>
        <span class="label" ng-if="funktio.nimi == 'EI'" ng-click="showDetails(funktio)">Ei</span>
        <span class="label" ng-if="funktio.nimi == 'JA'" ng-click="showDetails(funktio)">Ja</span>
        <span class="label" ng-if="funktio.nimi == 'MAKSIMI'" ng-click="showDetails(funktio)">Maksimi</span>
        <span class="label" ng-if="funktio.nimi == 'MINIMI'" ng-click="showDetails(funktio)">Minimi</span>
        <span class="label" ng-if="funktio.nimi == 'NEGAATIO'" ng-click="showDetails(funktio)">Negaatio</span>
        <span class="label" ng-if="funktio.nimi == 'KESKIARVO'" ng-click="showDetails(funktio)">Keskiarvo</span>
        <span class="label" ng-if="funktio.nimi == 'KONVERTOILUKUARVO'" ng-click="showDetails(funktio)">Lukuarvon konversio</span>
        <span class="label" ng-if="funktio.nimi == 'HYLKAA'" ng-click="showDetails(funktio)">Hylkää</span>
        <span class="label" ng-if="funktio.nimi == 'PYORISTYS'" ng-click="showDetails(funktio)">Pyöristys</span>
        <span class="label" ng-if="funktio.nimi == 'SKAALAUS'" ng-click="showDetails(funktio)">Skaalaus</span>
        <span class="label" ng-if="funktio.nimi == 'PAINOTETTUKESKIARVO'" ng-click="showDetails(funktio)">Painotettu keskiarvo</span>
    </div>    
</script>






<!-- UUDEN FUNKTIO LISÄYS -->
<script type="text/ng-template" id="tyhja_template.html">
    <div class="function">
        <span class="dropzone">{{funktio.otsikko()}}</span>
        
        <table class="dropmenu-table" ng-if="funktio.isLukuarvoFunktio()">
            <thead>
                <th colspan="2">Lisää uusi funktio</th>
            </thead>
            <tbody>
                <tr>
                    <td ng-click="addNewFunktio(parent, 'HAELUKUARVO', funktio.nimi())"><span>Arvo hakemukselta</span></td>
                    <td ng-click="addNewFunktio(parent, 'LUKUARVO', funktio.nimi())"><span>Vakio</span></td>
                </tr>
                <tr>
                    <td ng-click="addNewFunktio(parent, 'SUMMA', funktio.nimi())"><span>Summa</span></td>
                    <td ng-click="addNewFunktio(parent, 'JOS', funktio.nimi())"><span>Jos</span></td>
                </tr>
                <tr>
                    <td ng-click="addNewFunktio(parent, 'TULO', funktio.nimi())"><span>Tulo</span></td>
                    <td ng-click="addNewFunktio(parent, 'OSAMAARA', funktio.nimi())"><span>Osamäärä</span></td>
                </tr>
                <tr>
                    <td ng-click="addNewFunktio(parent, 'KESKIARVO', funktio.nimi())"><span>Keskiarvo</span></td>
                    <td ng-click="addNewFunktio(parent, 'MEDIAANI', funktio.nimi())"><span>Mediaani</span></td>
                    
                </tr>
                <tr>
                    <td ng-click="addNewFunktio(parent, 'MINIMI', funktio.nimi())"><span>Minimi</span></td>
                    <td ng-click="addNewFunktio(parent, 'MAKSIMI', funktio.nimi())"><span>Maksimi</span></td>
                </tr>
                <tr>
                    <td ng-click="addNewFunktio(parent, 'SUMMANPARASTA', funktio.nimi())"><span>N parasta summa</span></td>
                    <td ng-click="addNewFunktio(parent, 'KESKIARVONPARASTA', funktio.nimi())">
                        <span>N parasta keskiarvo</span></td>
                </tr>
                <tr>
                    <td ng-click="addNewFunktio(parent, 'NMAKSIMI', funktio.nimi())"><span>N paras</span></td>
                    <td ng-click="addNewFunktio(parent, 'NMINIMI', funktio.nimi())"><span>N huonoin</span></td>
                </tr>
                <tr>
                    <td ng-click="addNewFunktio(parent, 'NEGAATIO', funktio.nimi())"><span>Negaatio</span></td>
                    <td ng-click="addNewFunktio(parent, 'PYORISTYS', funktio.nimi())"><span>Pyöristys</span></td>
                </tr>
                <tr>
                    <td ng-click="addNewFunktio(parent, 'HYLKAA', funktio.nimi())"><span>Hylkää</span></td>
                    <td ng-click="addNewFunktio(parent, 'HYLKAAARVOVALILLA', funktio.nimi())"><span>Hylkää arvovälillä</span></td>
                </tr>
                <tr>
                    <td ng-click="addNewFunktio(parent, 'KONVERTOILUKUARVO', funktio.nimi())"><span>Konversio</span></td>
                    <td ng-click="addChildLaskentakaava(parent, funktio.nimi())"><span>Viittaus toiseen kaavaan</span></td>
                </tr>
                <tr>
                    <td ng-click="addNewFunktio(parent, 'HAEMERKKIJONOJAKONVERTOILUKUARVOKSI', funktio.nimi())"><span>Hae merkkijono ja konvertoi lukuarvoksi</span></td>
                    <td ng-click="addNewFunktio(parent, 'NIMETTYLUKUARVO', funktio.nimi())"><span>Nimetty lukuarvo</span></td>
                </tr>
                <tr>
                    <td ng-click="addNewFunktio(parent, 'SKAALAUS', funktio.nimi())"><span>Skaalaus</span></td>
                    <td ng-click="addNewFunktio(parent, 'PAINOTETTUKESKIARVO', funktio.nimi())"><span>Painotettu keskiarvo</span></td>
                </tr>

            </tbody>
        </table>
        <table class="dropmenu-table" ng-if="funktio.isTotuusarvoFunktio()">
            <thead>
                <th colspan="2">Lisää uusi funktio</th>
            </thead>
            <tbody>
                <tr>
                    <td ng-click="addNewFunktio(parent, 'HAETOTUUSARVO', funktio.nimi())"><span>Arvo hakemukselta</span>
                    </td>
                    <td ng-click="addNewFunktio(parent, 'TAI', funktio.nimi())"><span>Tai</span></td>
                </tr>
                <tr>
                    <td ng-click="addNewFunktio(parent, 'SUUREMPITAIYHTASUURI', funktio.nimi())"><span>Suurempi tai yhtä suuri</span>
                    </td>
                    <td ng-click="addNewFunktio(parent, 'SUUREMPI', funktio.nimi())"><span>Suurempi</span></td>
                </tr>
                <tr>
                    <td ng-click="addNewFunktio(parent, 'YHTASUURI', funktio.nimi())"><span>Yhtä suuri</span></td>
                    <td ng-click="addNewFunktio(parent, 'PIENEMPI', funktio.nimi())"><span>Pienempi</span></td>
                </tr>
                <tr>
                    <td ng-click="addNewFunktio(parent, 'PIENEMPITAIYHTASUURI', funktio.nimi())"><span>Pienempi tai yhtä suuri</span>
                    </td>
                    <td ng-click="addNewFunktio(parent, 'EI', funktio.nimi())"><span>Ei</span></td>
                </tr>
                <tr>
                    <td ng-click="addNewFunktio(parent, 'TOTUUSARVO', funktio.nimi())"><span>Totuusarvo</span></td>
                    <td ng-click="addNewFunktio(parent, 'JA', funktio.nimi())"><span>Ja</span></td>
                </tr>
                <tr>
                    <td ng-click="addNewFunktio(parent, 'DEMOGRAFIA', funktio.nimi())"><span>Demografia</span></td>
                    <td ng-click="addNewFunktio(parent, 'HAKUTOIVE', funktio.nimi())"><span>Hakutoive</span></td>
                </tr>
                <tr>
                    <td ng-click="addNewFunktio(parent, 'HAEMERKKIJONOJAKONVERTOITOTUUSARVOKSI'
                    , funktio.nimi())"><span>Hae merkkijono ja konvertoi totuusarvoksi</span></td>
                    <td ng-click="addNewFunktio(parent, 'NIMETTYTOTUUSARVO', funktio.nimi())"><span>Nimetty totuusarvo</span></td>
                </tr>
                <tr>
                    <td ng-click="addNewFunktio(parent, 'HAEMERKKIJONOJAVERTAAYHTASUURUUS', funktio.nimi())"><span>Hae merkkijono ja vertaa yhtäsuuruus</span></td>
                    <td ng-click="addNewFunktio(parent, 'VALINTAPERUSTEYHTASUURUUS', funktio.nimi())"><span>Valintaperusteyhtasuuruus</span></td>
                </tr>
            </tbody>
        </table>

    </div>
</script>
