<!-- LASKENTAKAAVAPAGE CONTENT -->
<h1>Laskentakaavan muokkaus</h1>


<div class="tabs" ng-controller="LaskentakaavaMenuController">
    <a ng-repeat="menuitem in menuitems" href="{{menuitem.url}}" ng-class="cssClass(menuitem)">
        <span>{{menuitem.title}}</span>
    </a>
</div>


<div class="tabsheets">

    <!-- LASKENTAKAAVAN MUOKKAUS -->
    <span class="button small" ng-click="goToListing()"><i class="fa fa-arrow-left"></i> Palaa listalle</span>
    <span class="button small" ng-click="saveKaavaAsCompleted()"><i class="fa fa-floppy-o"></i> Tallenna valmiina</span>
    <span class="button small" ng-click="saveKaavaAsDraft()"><i class="fa fa-floppy-o"></i> Tallenna luonnoksena</span>

    <div class="clear"></div>

    <div class="notification warning margin-top-2" ng-show="errors.length > 0">
        <ul>
            <li ng-repeat="error in errors">{{error.virheviesti}}</li>
        </ul>
    </div>
    

    <!-- Laskentakaavapuu -->
    <div ng-include="'laskentakaava/laskentakaavapuu.html'"></div>

    <!-- Laskentakaavan tai funktion asetukset -->
    <div ng-include="'laskentakaava/laskentakaavamenu.html'"></div>


    <div class="clear"></div>
</div>
