<h1>Laskentakaavan muokkaus</h1>

<div class="tabs" ng-controller="LaskentakaavaMenuController">
    <a ng-repeat="menuitem in menuitems" href="{{menuitem.url}}" ng-class="cssClass(menuitem)">
        <span>{{menuitem.title}}</span>
    </a>
</div>


<div class="tabsheets">

<!--<span class="button small">Uusi kaava</span>
<span class="button small">Tuo kaava</span>-->
<span class="button small" ng-click="goToListing()">Palaa listalle</span>
<span class="button small" ng-click="saveKaavaAsCompleted()">Tallenna valmiina</span>
<span class="button small" ng-click="saveKaavaAsDraft()">Tallenna luonnoksena</span>

<script type="text/ng-template" id="frame_template.html">
    <div class="frame">
        <span class="icon">&#8302;</span>
        <span class="label" ng-click="showDetails(funktio)">{{funktio.naytettavaNimi}}</span>
    </div>
    <ul class="frame-content list">
        <li class="item" ng-repeat="farg in funktio.funktioargumentit" ng-init="parent = funktio; funktio = farg"
            ng-include="funktio.template()">
        </li>
    </ul>
</script>

<script type="text/ng-template" id="subformula_template.html">
    <div ng-class="funktio.funktioCssClass('frame', selected)">
        <span class="icon">&#8302;</span>
        <span class="label" ng-click="showKaavaDetails(funktio)">{{funktio.nimi}}</span>
    </div>
</script>

<script type="text/ng-template" id="funktio_template.html">
    <div ng-class="funktio.funktioCssClass('function', selected)">
        <span ng-class="funktio.iconCssClass()">&#8302;</span>
        <span class="label" ng-click="showDetails(funktio)">{{funktio.naytettavaNimi}}</span>
        <span class="notification warning" ng-show="funktio.hasErrors()">!</span>
    </div>
    <ul class="function-content list">
        <li class="item" ng-repeat="farg in funktio.funktioargumentit" ng-init="parent = funktio; funktio = farg"
            ng-include="funktio.template()">
        </li>
    </ul>
</script>

<script type="text/ng-template" id="parametri_template.html">
    <div ng-class="funktio.funktioCssClass('parameter', selected)">
        <span class="icon">&#8302;</span>
        <span class="label" ng-click="showDetails(funktio)">{{funktio.naytettavaNimi}}</span>
    </div>
</script>

<script type="text/ng-template" id="tyhja_template.html">
    <div class="function">
        <span class="dropzone">{{funktio.otsikko()}}</span>

        <table class="dropmenu-table" ng-show="funktio.isLukuarvoFunktio()">
            <thead>
            <th colspan="2">Lisää uusi funktio</th>
            </thead>
            <tbody>
            <tr>
                <td ng-click="addNewFunktio(parent, 'HAELUKUARVO', funktio.nimi())"><span>Arvo hakemukselta</span></td>
                <td ng-click="addNewFunktio(parent, 'HAELUKUARVO', funktio.nimi())"><span>Syötettävä arvo</span></td>
            </tr>
            <tr>
                <td ng-click="addNewFunktio(parent, 'LUKUARVO', funktio.nimi())"><span>Vakio</span></td>
                <td ng-click="addNewFunktio(parent, 'SUMMA', funktio.nimi())"><span>Summa</span></td>
            </tr>
            <tr>
                <td ng-click="addNewFunktio(parent, 'TULO', funktio.nimi())"><span>Tulo</span></td>
                <td ng-click="addNewFunktio(parent, 'OSAMAARA', funktio.nimi())"><span>Osamäärä</span></td>
            </tr>
            <tr>
                <td ng-click="addNewFunktio(parent, 'KESKIARVO', funktio.nimi())"><span>Keskiarvo</span></td>
                <td ng-click="addNewFunktio(parent, 'MAKSIMI', funktio.nimi())"><span>Maksimi</span></td>
            </tr>
            <tr>
                <td ng-click="addNewFunktio(parent, 'MINIMI', funktio.nimi())"><span>Minimi</span></td>
                <td ng-click="addNewFunktio(parent, 'MEDIAANI', funktio.nimi())"><span>Mediaani</span></td>
            </tr>
            <tr>
                <td ng-click="addNewFunktio(parent, 'SUMMANPARASTA', funktio.nimi())"><span>N parasta summa</span></td>
                <td ng-click="addNewFunktio(parent, 'KESKIARVONPARASTA', funktio.nimi())">
                    <span>N parasta keskiarvo</span></td>
            </tr>
            <tr>
                <td ng-click="addNewFunktio(parent, 'NMAKSIMI', funktio.nimi())"><span>N maksimi</span></td>
                <td ng-click="addNewFunktio(parent, 'NMINIMI', funktio.nimi())"><span>N minimi</span></td>
            </tr>
            <tr>
                <td ng-click="addNewFunktio(parent, 'NEGAATIO', funktio.nimi())"><span>Negaatio</span></td>
                <td ng-click="addNewFunktio(parent, 'JOS', funktio.nimi())"><span>Jos</span></td>
            </tr>
            <tr>
                <td ng-click="addNewFunktio(parent, 'KONVERTOILUKUARVO', funktio.nimi())">Konversio</td>
                <td ng-click="addChildLaskentakaava(parent, funktio.nimi())"><span>Viittaus toiseen kaavaan</span></td>
            </tr>
            </tbody>
        </table>
        <table class="dropmenu-table" ng-show="funktio.isTotuusarvoFunktio()">
            <thead>
            <th colspan="2">Lisää uusi funktio</th>
            </thead>
            <tbody>
            <tr>
                <td ng-click="addNewFunktio(parent, 'HAETOTUUSARVO', funktio.nimi())"><span>Arvo hakemukselta</span>
                </td>
                <td ng-click="addNewFunktio(parent, 'TAI', funktio.nimi())"><span>Tai</span></td>
            </tr>
            <tr>
                <td ng-click="addNewFunktio(parent, 'SUUREMPITAIYHTASUURI', funktio.nimi())"><span>Suurempi tai yhtä suuri</span>
                </td>
                <td ng-click="addNewFunktio(parent, 'SUUREMPI', funktio.nimi())"><span>Suurempi</span></td>
            </tr>
            <tr>
                <td ng-click="addNewFunktio(parent, 'YHTASUURI', funktio.nimi())"><span>Yhtä suuri</span></td>
                <td ng-click="addNewFunktio(parent, 'PIENEMPI', funktio.nimi())"><span>Pienempi</span></td>
            </tr>
            <tr>
                <td ng-click="addNewFunktio(parent, 'PIENEMPITAIYHTASUURI', funktio.nimi())"><span>Pienempi tai yhtä suuri</span>
                </td>
                <td ng-click="addNewFunktio(parent, 'EI', funktio.nimi())"><span>Ei</span></td>
            </tr>
            <tr>
                <td ng-click="addNewFunktio(parent, 'TOTUUSARVO', funktio.nimi())"><span>Totuusarvo</span></td>
                <td ng-click="addNewFunktio(parent, 'JA', funktio.nimi())"><span>Ja</span></td>
            </tr>
            <tr>
                <td ng-click="addNewFunktio(parent, 'DEMOGRAFIA', funktio.nimi())"><span>Demografia</span></td>
                <td ng-click="addNewFunktio(parent, 'HAKUTOIVE', funktio.nimi())"><span>Hakutoive</span></td>
            </tr>
            </tbody>
        </table>

    </div>
</script>

<!-- Arvojen syöttö -templatet -->
<script type="text/ng-template" id="desimaaliluku-template">
    <input type="text" size="9" ng-model="param.data.arvo"/>
</script>
<script type="text/ng-template" id="kokonaisluku-template">
    <input type="text" size="9" ng-model="param.data.arvo"/>
</script>
<script type="text/ng-template" id="totuusarvo-template">
    <input type="radio" size="9" ng-model="param.data.arvo" value="true"/> Tosi
    <input type="radio" size="9" ng-model="param.data.arvo" value="false"/> Epätosi
</script>
<script type="text/ng-template" id="merkkijono-template">
    <input type="text" size="9" ng-model="param.data.arvo"/>
</script>

<script type="text/ng-template" id="arvovalikonvertteri-template">
    <div class="form-item-content">

        <div class="settingsbox">
            <table class="settingstable">
                <thead>
                <tr>
                    <td></td>
                    <td>Min</td>
                    <td></td>
                    <td>Max</td>
                    <td>Pisteet</td>
                    <td>Palauta haettu arvo</td>
                    <td>Hylkäys- peruste</td>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="konvparam in f.konvertteri.parametrit">
                    <td>
                        <a ng-click="f.konvertteri.removeParametri(konvparam)">X</a>
                    </td>
                    <td>
                        <input type="text" size="1" ng-model="konvparam.data.minValue"/>
                    </td>
                    <td>&ndash;</td>
                    <td>
                        <input type="text" size="1" ng-model="konvparam.data.maxValue"/>
                    </td>
                    <td><input type="text" size="3" ng-disabled="konvparam.data.palautaHaettuArvo"
                               ng-model="konvparam.data.paluuarvo"/></td>
                    <td><input type="checkbox" ng-model="konvparam.data.palautaHaettuArvo"/></td>
                    <td><input type="checkbox" ng-model="konvparam.data.hylkaysperuste"/></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</script>

<script type="text/ng-template" id="arvokonvertteri-template">
    <div class="form-item-content">

        <div class=" settingsbox">
            <table class="settingstable">
                <thead>
                <tr>
                    <td></td>
                    <td>Arvo</td>
                    <td>Pisteet</td>
                    <td>Hylkäysperuste</td>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="konvparam in f.konvertteri.parametrit">
                    <td>
                        <a ng-click="f.konvertteri.removeParametri(konvparam)">X</a>
                    </td>
                    <td><input type="text" size="9" ng-model="konvparam.data.arvo"/></td>
                    <td><input type="text" size="9" ng-model="konvparam.data.paluuarvo"/></td>
                    <td><input type="checkbox" ng-model="konvparam.data.hylkaysperuste"/></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>


    <!--
        <div class="form-item" ng-show="f.showHaettavaArvoTyyppi()">
            <label class="form-item-label" for="" style="width:100px;">Tiedon tyyppi</label>

            <div class="form-item-content">
                <div class="field-select-containerbox">
                    <select>
                        <option>Ylioppilasarvosana</option>
                        <option>Vaihtoehto 2</option>
                        <option>Vaihtoehto 3</option>
                    </select>
                </div>

                <div class=" settingsbox">
                    <table class="settingstable">
                        <thead>
                        <tr>
                            <td>Arvosana</td>
                            <td>Pisteet</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Laudatur (L)</td>
                            <td><input type="text" size="5" /></td>
                        </tr>
                        <tr>
                            <td>Eximia cum laude approbatur (E)</td>
                            <td><input type="text" size="5" /></td>
                        </tr>
                        <tr>
                            <td>Magna cum laude approbatur (M)</td>
                            <td><input type="text" size="5" /></td>
                        </tr>
                        <tr>
                            <td>Cum laude approbatur (C)</td>
                            <td><input type="text" size="5" /></td>
                        </tr>
                        <tr>
                            <td>Lubenter approbatur (B)</td>
                            <td><input type="text" size="5" /></td>
                        </tr>
                        <tr>
                            <td>Approbatur (A)</td>
                            <td><input type="text" size="5" /></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    -->
</script>

<div class="clear"></div>

<div class="notification warning margin-top-2" ng-show="errors.length > 0">
    <ul>
        <li ng-repeat="error in errors">{{error.virheviesti}}</li>
    </ul>
</div>

<div class="clear"></div>

<div class="gradingformula dd" jq-nestable="{onChange: kaavaDragged}" style="width:60%;float:left;"
     ng-repeat="kaava in domain.laskentakaava()"
     ng-init="funktio = kaava.funktiopuu()"
     ng-include="funktio.template()">

</div>

<div style="width:30%;float:right;" ng-show="showKaavaMenu">
    <div class="settingsform">
        <h3>Laskentakaavaviittauksen asetukset</h3>

        <div ng-repeat="valintaryhmaList in kaavaLista.valintaryhmaList()">
            <div ng-repeat="valintaryhma in valintaryhmaList" ng-show="valintaryhma.laskentakaavat.length > 0">
                <h3>{{valintaryhma.nimi}}</h3>

                <div ng-repeat="kaava in valintaryhma.laskentakaavat">
                    <input type="radio" name="kaava" value="{{kaava.id}}" ng-model="f.data.id"/>
                    {{kaava.nimi}}
                </div>
            </div>
        </div>


        <span class="button small" ng-show="!f.data.deleted" ng-click="f.data.deleted=true">Poista funktiokutsu</span>
        <span class="button small" ng-show="f.data.deleted" ng-click="f.data.deleted=false">Palauta funktiokutsu</span>
    </div>

</div>

<div class="" style="width:30%;float:right;" ng-show="showTemplate">
    <div class="settingsform">

        <h3>Funktioasetukset</h3>

        <div class="form-item" ng-show="f.isNimettava()">
            <label class="form-item-label" for="">Nimi</label>

            <div class="form-item-content">
                <div class="field-text-containerbox">
                    <input type="text" ng-model="f.getNimiParametri().data.arvo"/>
                </div>
            </div>
            <div class="clear"></div>
        </div>

        <!-- Haettava arvo -->
        <div class="form-item" ng-show="f.isHaettavaArvoTyyppi()">
            <label class="form-item-label" style="width:50px;">Tyyppi</label>

            <div class="form-item-content">
                <div class="field-select-containerbox">
                    <select ng-model="f.data.valintaperuste.lahde">
                        <option value="HAETTAVA_ARVO">Arvo hakemukselta</option>
                        <option value="SYOTETTAVA_ARVO">Syötettävä arvo</option>
                    </select>
                </div>
                <div class="field-container-checkbox">
                    <input type="checkbox" id="requiredparam" ng-model="f.data.valintaperuste.onPakollinen"/>
                    <label for="requiredparam">Pakollinen tieto</label>
                </div>
            </div>

            <label class="form-item-label" style="width:50px;">Kuvaus</label>

            <div class="form-item-content">
                <textarea style="width: 330px" ng-model="f.data.valintaperuste.kuvaus"></textarea>
            </div>

            <div class="form-item">
                <label class="form-item-label" for="">Tunniste</label>

                <div class="form-item-content">
                    <div class="field-text-containerbox">
                        <input type="text" ng-model="f.data.valintaperuste.tunniste" required="required"/>
                    </div>
                </div>
                <div class="clear"></div>
            </div>

            <label class="form-item-label" style="width:50px;">Arvomuunnin</label>

            <div class="form-item-content">
                <div class="field-select-containerbox">
                    <select ng-change="f.konvertteri.setTyyppi(f.konvertteri.uusityyppi)"
                            ng-model="f.konvertteri.uusityyppi">
                        <option value="ARVOVALIKONVERTTERI">Arvovälimuunnin</option>
                        <option value="ARVOKONVERTTERI">Arvovaihtoehdot</option>
                    </select>
                </div>
            </div>

            <div class="form-item" ng-show="f.konvertteri.tyyppi">
                <label class="form-item-label" for="" style="width:100px;">Konversiomäärittelyt</label>

                <div class="form-item-content" ng-include="f.konvertteri.template">

                </div>
                <span class="button small" ng-click="f.konvertteri.addParametri()">Lisää parametri</span>

                <div class="clear"></div>
            </div>


            <div class="form-item" ng-show="false">
                <label class="form-item-label" for="" style="width:50px;">Lähde</label>

                <div class="form-item-content">
                    <div class="field-select-containerbox">
                        <select>
                            <option>Todennetun osaamisen rekisteri</option>
                            <option>Vaihtoehto 2</option>
                            <option>Vaihtoehto 3</option>
                        </select>
                    </div>
                    <div class="field-textarea-containerbox">
                        <textarea></textarea>
                    </div>
                </div>
                <div class="clear"></div>
            </div>

            <div class="clear"></div>
        </div>

        <div class="form-item" ng-show="f.konvertteri && !f.isHaettavaArvoTyyppi()">

            <div class="form-item-content">
                <div class="field-select-containerbox">
                    <select ng-change="f.konvertteri.setTyyppi(f.konvertteri.uusityyppi)"
                            ng-model="f.konvertteri.uusityyppi">
                        <option value="ARVOVALIKONVERTTERI">Arvovälimuunnin</option>
                        <option value="ARVOKONVERTTERI">Arvovaihtoehdot</option>
                    </select>
                </div>
            </div>

            <label class="form-item-label" style="width:100px;"
                   ng-show="f.konvertteri.template">Konversiomäärittelyt</label>

            <div class="form-item-content" ng-include="f.konvertteri.template">

            </div>
            <span class="button small" ng-click="f.konvertteri.addParametri()">Lisää parametri</span>

            <div class="clear"></div>
        </div>

        <div class="form-item" ng-show="f.isSyoteparametritVisible()">
            <label class="form-item-label" style="width:100px;">Arvon määrittelyt</label>

            <div class="form-item-content">

                <div class=" settingsbox">
                    <table class="settingstable">
                        <thead>
                        <tr>
                            <td>Määrite</td>
                            <td>Arvo</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="param in f.syoteparametrit" ng-show="param.isVisible()">
                            <td>Avain: {{param.avain}}</td>
                            <td ng-init="paramKey = param.avain"
                                ng-include="param.template()"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="clear"></div>
        </div>

        <span class="button small" ng-show="!f.data.deleted" ng-click="f.data.deleted=true">Poista funktiokutsu</span>
        <span class="button small" ng-show="f.data.deleted" ng-click="f.data.deleted=false">Palauta funktiokutsu</span>
    </div>

</div>

<div class="clear"></div>

</div>


<!--
<div class="gradingformula" style="width:60%;float:left;">
	<div class="frame"><span class="icon">&#8302;</span><span class="label">Valintakoepisteet</span></div>
	<ul class="frame-content">
		<li>
			<div class="function"><span class="icon">&#8302;</span><span class="label">Skaalaus</span></div>
			<ul class="function-content">
				<li>
					<div class="frame"><span class="icon">&#8302;</span><span class="label">Valintakokeen raakapisteet</span></div>
					<ul class="frame-content">
						<li>
							<div class="function">
								<span class="icon sum">&#8302;</span><span class="label">Summa</span>
								<ul class="dropmenu-list">
									<li><span>Lisää uusi funktio</span></li>
									<li><span>Summa</span></li>
									<li><span>Tulo</span></li>
									<li><span>Jäännös</span></li>
									<li><span>Jakojäännös</span></li>
									<li><span>Paras joukosta</span></li>
									<li><span>Toiseksi paras joukosta</span></li>
									<li><span>Kolmanneksi paras joukosta</span></li>
									<li><span>Kaksi parasta joukosta</span></li>
									<li><span>Kolme parasta joukosta</span></li>
									<li><span>N parasta joukosta</span></li>
									<li><span>Huonoin joukosta</span></li>
									<li><span>Ei mikään joukosta</span></li>
								</ul>
							</div>
							<ul class="function-content">
								<li>
									<div class="parameter"><span class="icon">&#8302;</span><span class="label">Tehtävä 1</span></div>
								</li>
								<li>
									<div class="parameter"><span class="icon">&#8302;</span><span class="label">Tehtävä 1</span></div>
								</li>
								<li>
									<div class="parameter"><span class="icon">&#8302;</span><span class="label">Tehtävä 1</span></div>
								</li>
								<li>
									<div class="parameter"><span class="icon">&#8302;</span><span class="label">Tehtävä 1</span></div>
								</li>
							</ul>
						</li>
					</ul>
				</li>
			</ul>
		</li>
	</ul>
	<div class="frame"><span class="icon">&#8302;</span><span class="label">Alkupisteet</span></div>
	<ul class="frame-content">
		<li>
			<div class="function"><span class="icon">&#8302;</span><span class="label">Paras seuraavista</span></div>
			<ul class="function-content">
				<li>
					<div class="function"><span class="icon sum">&#8302;</span><span class="label">Summa</span></div>
					<ul class="function-content">
						<li>
							<div class="parameter"><span class="icon">&#8302;</span><span class="label">Äidinkieli</span></div>
						</li>
						<li>
							<div class="parameter"><span class="icon">&#8302;</span><span class="label">Lorem ipsum</span></div>
						</li>
						<li>
							<div class="parameter"><span class="icon">&#8302;</span><span class="label">Dolor sit amet</span></div>
						</li>
						<li>
							<div class="parameter"><span class="icon">&#8302;</span><span class="label">Matematiikka</span></div>
						</li>
					</ul>
				</li>
				<li>
					<div class="function"><span class="icon sum">&#8302;</span><span class="label">Summa</span></div>
					<ul class="function-content">
						<li>
							<div class="parameter"><span class="icon">&#8302;</span><span class="label">Äidinkieli</span></div>
						</li>
						<li>
							<div class="function"><span class="icon sum">&#8302;</span><span class="label">Summa</span></div>
							<ul class="function-content">
								<li>
									<div class="function"><span class="icon">&#8302;</span><span class="label">Paras seuraavista</span></div>
									<ul class="function-content">
										<li>
											<div class="parameter"><span class="icon">&#8302;</span><span class="label">Vieras kieli</span></div>
										</li>
										<li>
											<div class="parameter"><span class="icon">&#8302;</span><span class="label">Toinen kotimainen</span></div>
										</li>
									</ul>
								</li>
								<li>
									<div class="function"><span class="icon">&#8302;</span><span class="label">Paras seuraavista</span></div>
									<ul class="function-content">
										<li>
											<div class="parameter"><span class="icon">&#8302;</span><span class="label">Ainereaali (BI)</span></div>
										</li>
										<li>
											<div class="parameter"><span class="icon">&#8302;</span><span class="label">Ainereaali (FY)</span></div>
										</li>
										<li>
											<div class="parameter"><span class="icon">&#8302;</span><span class="label">Ainereaali (KE)</span></div>
										</li>
									</ul>
								</li>
								<li>
									<div class="function"><span class="icon">&#8302;</span><span class="label">Paras seuraavista</span></div>
									<ul class="function-content">
										<li>
											<div class="parameter"><span class="icon">&#8302;</span><span class="label">Ainereaali (muut)</span></div>
										</li>
										<li>
											<div class="function"><span class="icon">&#8302;</span><span class="label">Toiseksi paras seuraavista</span></div>
											<ul class="function-content">
												<li>
													<div class="parameter"><span class="icon">&#8302;</span><span class="label">Ainereaali (BI)</span></div>
												</li>
												<li>
													<div class="parameter"><span class="icon">&#8302;</span><span class="label">Ainereaali (FY)</span></div>
												</li>
												<li>
													<div class="parameter"><span class="icon">&#8302;</span><span class="label">Ainereaali (KE)</span></div>
												</li>
											</ul>
										</li>
									</ul>
								</li>
								<li>
									<div class="function"><span class="icon">&#8302;</span><span class="label">Paras seuraavista</span></div>
									<ul class="function-content">
										<li>
											<div class="parameter"><span class="icon">&#8302;</span><span class="label">Matematiikka (P)</span></div>
										</li>
										<li>
											<div class="parameter"><span class="icon">&#8302;</span><span class="label">Matematiikka (L)</span></div>
										</li>
									</ul>
								</li>
							</ul>
						</li>
					</ul>
				</li>
			</ul>
		</li>
	</ul>
</div>-->

<!--
Case: Frame

<div class="frame"><span class="icon">&#8302;</span><span class="label">** label **</span></div>
<ul class="frame-content">
	<li>
		** Function/Param **
	</li>
</ul>


Case: Function

<div class="function">
	<span class="icon">&#8302;</span><span class="label">** function operation **</span>
	<ul class="dropmenu-list">
		<li><span>Lisää uusi funktio</span></li>
		<li><span>Summa</span></li>
		<li><span>Tulo</span></li>
		<li><span>Jäännös</span></li>
		<li><span>Jakojäännös</span></li>
		<li><span>Paras joukosta</span></li>
		<li><span>Toiseksi paras joukosta</span></li>
		<li><span>Kolmanneksi paras joukosta</span></li>
		<li><span>Kaksi parasta joukosta</span></li>
		<li><span>Kolme parasta joukosta</span></li>
		<li><span>N parasta joukosta</span></li>
		<li><span>Huonoin joukosta</span></li>
		<li><span>Ei mikään joukosta</span></li>
	</ul>
</div>
<ul class="function-content">
	<li>
		** Function/Param/Frame **
	</li>
<ul>

Case: Param

<div class="parameter"><span class="icon">&#8302;</span><span class="label">** label **</span></div>

-->


