

<!-- kaava root needed for drag & drop -->
<div class="gradingformula dd" style="width:60%;float:left;">
    
    <div class="frame">
        <span class="icon">&#8302;</span>
        <span class="label"><span class="bold">{{model.laskentakaavapuu.nimi}}</span></span>
    </div>

    <!-- piirretään laskentakaavapuu, oletetaan että kaavan sisältö ei voi olla pelkästään yksi laskentakaavaviite -->
    <ul class="frame-content">
        <li class="item" ng-repeat="funktiowrapper in model.laskentakaavapuu.funktiokutsu.funktioargumentit" ng-init="parent = model.laskentakaavapuu.funktiokutsu">
            <div ng-include="'funktiokutsu'"></div>
        </li>
    </ul>
</div>



<!-- template jota käytetään kaikkien funktioiden piirtämiseen -->
<script type="text/ng-template" id="funktiokutsu">
     
    <!-- piirretään laskentakaavan funktiokutsu jossa ollaan -->
    <div ng-if="funktiowrapper.lapsi" ng-include="'template_selector'"></div>
    
    <!-- käydään rekursiivisesti nykyisen funktion lapset läpi -->
    <ul ng-if="funktiowrapper.lapsi.funktioargumentit" ng-init="parent = funktiowrapper">
        <li ng-if="parent.lapsi.funktioargumentit.length > 0 && parent.lapsi.funktioargumentit[0] !== null || isNimettyFunktioargumentti(parent.lapsi)" class="item" ng-repeat="funktiowrapper in parent.lapsi.funktioargumentit track by $index">
            <div ng-if="funktiowrapper.lapsi.lapsityyppi === 'funktiokutsu'" ng-include="'funktiokutsu'"></div>
            <div ng-if="funktiowrapper.lapsi.lapsityyppi === 'laskentakaava'" ng-include="'laskentakaavaviite'"></div>
            <div ng-if="funktiowrapper.lapsi == undefined" ng-include="'nimettyFunktioSlot'"></div>
        </li>
        
        <li ng-if="!isNimettyFunktioargumentti(parent.lapsi)" ng-include="'addFunktio'"></li>
    </ul>
</script>



<!-- Valitaan funktion nimen perusteella, mitä templatea piirtämiseen käytetään -->
<script type="text/ng-template" id="template_selector">
    <div ng-if="funktiowrapper.lapsi.funktionimi == 'LUKUARVO'" ng-include="'lukuarvo'"></div>
    <div ng-if="funktiowrapper.lapsi.funktionimi == 'TOTUUSARVO'" ng-include="'totuusarvo'"></div>
    <div ng-if="funktiowrapper.lapsi.funktionimi == 'HAKUTOIVE'" ng-include="'hakutoive'"></div>
    <div ng-if="funktiowrapper.lapsi.funktionimi == 'DEMOGRAFIA'" ng-include="'demografia'"></div>

    <div ng-if="funktiowrapper.lapsi.funktionimi == 'HAETOTUUSARVO'" ng-include="'haettava_arvo'"></div>
    <div ng-if="funktiowrapper.lapsi.funktionimi == 'HAELUKUARVO'" ng-include="'haettava_arvo'"></div>
    <div ng-if="funktiowrapper.lapsi.funktionimi == 'HAEMERKKIJONOJAKONVERTOILUKUARVOKSI'" ng-include="'haettava_arvo'"></div>
    <div ng-if="funktiowrapper.lapsi.funktionimi == 'HAEMERKKIJONOJAVERTAAYHTASUURUUS'" ng-include="'haettava_arvo'"></div>
    <div ng-if="funktiowrapper.lapsi.funktionimi == 'HAEMERKKIJONOJAKONVERTOITOTUUSARVOKSI'" ng-include="'haettava_arvo'"></div>
    <div ng-if="funktiowrapper.lapsi.funktionimi == 'VALINTAPERUSTEYHTASUURUUS'" ng-include="'haettava_arvo'"></div>
    <div ng-if="funktiowrapper.lapsi.funktionimi == 'HAELUKUARVOEHDOLLA'" ng-include="'haettava_arvo'"></div>

    <div ng-if="funktiowrapper.lapsi.funktionimi == 'SUMMA'" ng-include="'summa'"></div>

    <div ng-if="funktiowrapper.lapsi.funktionimi == 'TAI'" ng-include="'funktio'"></div>
    <div ng-if="funktiowrapper.lapsi.funktionimi == 'TULO'" ng-include="'funktio'"></div>
    <div ng-if="funktiowrapper.lapsi.funktionimi == 'JOS'" ng-include="'funktio'"></div>
    <div ng-if="funktiowrapper.lapsi.funktionimi == 'OSAMAARA'" ng-include="'funktio'"></div>
    <div ng-if="funktiowrapper.lapsi.funktionimi == 'SUUREMPI'" ng-include="'funktio'"></div>
    <div ng-if="funktiowrapper.lapsi.funktionimi == 'YHTASUURI'" ng-include="'funktio'"></div>
    <div ng-if="funktiowrapper.lapsi.funktionimi == 'PIENEMPI'" ng-include="'funktio'"></div>
    <div ng-if="funktiowrapper.lapsi.funktionimi == 'MEDIAANI'" ng-include="'funktio'"></div>
    <div ng-if="funktiowrapper.lapsi.funktionimi == 'PIENEMPITAIYHTASUURI'" ng-include="'funktio'"></div>
    <div ng-if="funktiowrapper.lapsi.funktionimi == 'SUUREMPITAIYHTASUURI'" ng-include="'funktio'"></div>
    <div ng-if="funktiowrapper.lapsi.funktionimi == 'EI'" ng-include="'funktio'"></div>
    <div ng-if="funktiowrapper.lapsi.funktionimi == 'JA'" ng-include="'funktio'"></div>
    <div ng-if="funktiowrapper.lapsi.funktionimi == 'MAKSIMI'" ng-include="'funktio'"></div>
    <div ng-if="funktiowrapper.lapsi.funktionimi == 'MINIMI'" ng-include="'funktio'"></div>
    <div ng-if="funktiowrapper.lapsi.funktionimi == 'NEGAATIO'" ng-include="'funktio'"></div>
    <div ng-if="funktiowrapper.lapsi.funktionimi == 'KESKIARVO'" ng-include="'funktio'"></div>
    <div ng-if="funktiowrapper.lapsi.funktionimi == 'PAINOTETTUKESKIARVO'" ng-include="'funktio'"></div>
    <div ng-if="funktiowrapper.lapsi.funktionimi == 'KONVERTOILUKUARVO'" ng-include="'funktio'"></div>
    <div ng-if="funktiowrapper.lapsi.funktionimi == 'HYLKAA'" ng-include="'funktio'"></div>
    <div ng-if="funktiowrapper.lapsi.funktionimi == 'PYORISTYS'" ng-include="'funktio'"></div>
    <div ng-if="funktiowrapper.lapsi.funktionimi == 'SKAALAUS'" ng-include="'funktio'"></div>

    <div ng-if="funktiowrapper.lapsi.funktionimi == 'NMINIMI'" ng-include="'fargumentticount_funktio_handle'"></div>
    <div ng-if="funktiowrapper.lapsi.funktionimi == 'NMAKSIMI'" ng-include="'fargumentticount_funktio_handle'"></div>
    <div ng-if="funktiowrapper.lapsi.funktionimi == 'KESKIARVONPARASTA'" ng-include="'fargumentticount_funktio_handle'"></div>
    <div ng-if="funktiowrapper.lapsi.funktionimi == 'SUMMANPARASTA'" ng-include="'fargumentticount_funktio_handle'"></div>

    <div ng-if="funktiowrapper.lapsi.funktionimi == 'HYLKAAARVOVALILLA'" ng-include="'hylkaa_arvovalilla'"></div>

    <div ng-if="funktiowrapper.lapsi.funktionimi == 'NIMETTYLUKUARVO'" ng-include="'nimetty_lukuarvo'"></div>
    <div ng-if="funktiowrapper.lapsi.funktionimi == 'NIMETTYTOTUUSARVO'" ng-include="'nimetty_totuusarvo'"></div>

</script>

<!-- Laskentakaavaviite-->
<script type="text/ng-template" id="laskentakaavaviite">
    <div class="frame" ng-class="funktioSelection == funktiowrapper.lapsi ? 'active' : ''">
        <span class="icon">&#8302;</span>
        <span class="label" ng-click="setFunktioSelection(funktiowrapper.lapsi, false, parent.lapsi, $index)">{{funktiowrapper.lapsi.nimi}}</span>
    </div>
</script>


<!--
    HAETOTUUSARVO
    HAELUKUARVO
    HAEMERKKIJONOJAKONVERTOILUKUARVOKSI
    HAEMERKKIJONOJAVERTAAYHTASUURUUS
    HAEMERKKIJONOJAKONVERTOITOTUUSARVOKSI
    HAEMERKKIJONOJAKONVERTOITOTUUSARVOKSI
    VALINTAPERUSTEYHTASUURUUS
 -->
<script type="text/ng-template" id="haettava_arvo">
    <div class="parameter" ng-class="funktioSelection == funktiowrapper.lapsi ? 'active' : ''">
        <span class="icon">&#8302;</span>
        <span class="label" ng-click="setFunktioSelection(funktiowrapper.lapsi, true, parent.lapsi, $index)">
            <span>{{funktionimiService.getName(funktiowrapper.lapsi.funktionimi)}}</span>
            <span ng-if="funktiowrapper.lapsi.valintaperusteviitteet[0].tunniste">({{funktiowrapper.lapsi.valintaperusteviitteet[0].tunniste}})</span>
            <span ng-if="funktiowrapper.lapsi.valintaperusteviitteet[0].kuvaus">- {{funktiowrapper.lapsi.valintaperusteviitteet[0].kuvaus}}</span>
        </span>
    </div>
</script>


<!--
    N MINIMI
    N MAKSIMI
    N PARASTA KESKIARVO
    SUMMA N PARASTA 
-->
<script type="text/ng-template" id="fargumentticount_funktio_handle">

    <div class="function" ng-class="funktioSelection == funktiowrapper.lapsi ? 'active' : ''">
        <span class="icon">&#8302;</span>
        <span ng-if="!funktiowrapper.lapsi.syoteparametrit[0].arvo" class="label" ng-click="setFunktioSelection(funktiowrapper.lapsi, true, parent.lapsi, $index)">
            <span>{{funktionimiService.getName(funktiowrapper.lapsi.funktionimi)}}</span>
        </span>
        <span ng-if="funktiowrapper.lapsi.syoteparametrit[0].arvo" ng-click="setFunktioSelection(funktiowrapper.lapsi, true, parent.lapsi, $index)" class="label">
            <span ng-if="funktiowrapper.lapsi.funktionimi == 'NMINIMI'">{{funktiowrapper.lapsi.syoteparametrit[0].arvo}} huonoin</span>
            <span ng-if="funktiowrapper.lapsi.funktionimi == 'NMAKSIMI'">{{funktiowrapper.lapsi.syoteparametrit[0].arvo}} paras</span>
            <span ng-if="funktiowrapper.lapsi.funktionimi == 'KESKIARVONPARASTA'">{{funktiowrapper.lapsi.syoteparametrit[0].arvo}} suurimman keskiarvo</span>
            <span ng-if="funktiowrapper.lapsi.funktionimi == 'SUMMANPARASTA'">{{funktiowrapper.lapsi.syoteparametrit[0].arvo}} suurimman summa</span>

        </span>
    </div>
</script>


<!-- NIMETTY LUKUARVO -->
<script type="text/ng-template" id="nimetty_lukuarvo">
    <div class="frame">
        <span class="icon">&#8302;</span>
        <span class="label"
              ng-click="setFunktioSelection(funktiowrapper.lapsi, true, parent.lapsi, $index)">{{funktiowrapper.lapsi.syoteparametrit[0].arvo}} - {{funktionimiService.getName(funktiowrapper.lapsi.funktionimi)}}</span>
    </div>
</script>

<!-- NIMETTY TOTUUSARVO -->
<script type="text/ng-template" id="nimetty_totuusarvo">
    <div class="frame">
        <span class="icon">&#8302;</span>
        <span class="label" ng-click="setFunktioSelection(funktiowrapper.lapsi, true, parent.lapsi, $index)">{{funktiowrapper.lapsi.syoteparametrit[0].arvo}} - {{funktionimiService.getName(funktiowrapper.lapsi.funktionimi)}}</span>
    </div>
</script>

<!-- LUKUARVO -->
<script type="text/ng-template" id="lukuarvo">
    <div class="parameter" ng-class="funktioSelection == funktiowrapper.lapsi ? 'active' : ''">
        <span class="icon">&#8302;</span>
        <span class="label" ng-if="!funktiowrapper.lapsi.syoteparametrit[0].arvo"
              ng-click="setFunktioSelection(funktiowrapper.lapsi, true, parent.lapsi, $index)">{{funktionimiService.getName(funktiowrapper.lapsi.funktionimi)}}</span>  
        <span class="label" ng-if="funktiowrapper.lapsi.syoteparametrit[0].arvo" ng-click="setFunktioSelection(funktiowrapper.lapsi, true, parent.lapsi, $index)">{{funktiowrapper.lapsi.syoteparametrit[0].arvo}}</span>

    </div>
</script>

<!-- TOTUUSARVO -->
<script type="text/ng-template" id="totuusarvo">
    <div class="parameter" ng-class="funktioSelection == funktiowrapper.lapsi ? 'active' : ''">
        <span class="icon">&#8302;</span>
        
        <span class="label" ng-click="setFunktioSelection(funktiowrapper.lapsi, true, parent.lapsi, $index)">
            <span ng-if="!funktiowrapper.lapsi.syoteparametrit[0].arvo">{{funktionimiService.getName(funktiowrapper.lapsi.funktionimi)}}</span>
            <span class="label" ng-if="funktiowrapper.lapsi.syoteparametrit[0].arvo !== undefined"
                  ng-click="setFunktioSelection(funktiowrapper.lapsi, true, parent.lapsi, $index)">
                  <span ng-if="funktiowrapper.lapsi.syoteparametrit[0].arvo === 'true'">Tosi</span>
                  <span ng-if="funktiowrapper.lapsi.syoteparametrit[0].arvo === 'false'">Epätosi</span>
            </span>
        </span>
    </div>
</script>

<!-- HAKUTOIVE -->
<script type="text/ng-template" id="hakutoive">
    <div class="parameter" ng-class="funktioSelection == funktiowrapper.lapsi ? 'active' : ''">
        <span class="icon">&#8302;</span>
        <span class="label" ng-click="setFunktioSelection(funktiowrapper.lapsi, true, parent.lapsi, $index)">
            <span ng-if="funktiowrapper.lapsi.syoteparametrit[0].arvo">{{funktiowrapper.lapsi.syoteparametrit[0].arvo}}. hakutoive</span>
            <span ng-if="!funktiowrapper.lapsi.syoteparametrit[0].arvo">{{funktionimiService.getName(funktiowrapper.lapsi.funktionimi)}}</span>
        </span>
    </div>
</script>

<!-- DEMOGRAFIA -->
<script type="text/ng-template" id="demografia">
    <div class="parameter" ng-class="funktioSelection == funktiowrapper.lapsi ? 'active' : ''">
        <span class="icon">&#8302;</span>
        <span class="label" ng-click="setFunktioSelection(funktiowrapper.lapsi, true, parent.lapsi, $index)">{{funktionimiService.getName(funktiowrapper.lapsi.funktionimi)}}</span>
    </div>
</script>

<!-- HYLKÄÄ ARVOVÄLILLÄ -->
<script type="text/ng-template" id="hylkaa_arvovalilla">
    <div class="function" ng-class="funktioSelection == funktiowrapper.lapsi ? 'active' : ''">
        <span class="icon">&#8302;</span>
        <span class="label" ng-click="setFunktioSelection(funktiowrapper.lapsi, true, parent.lapsi, $index)">
        <span>{{funktionimiService.getName(funktiowrapper.lapsi.funktionimi)}}: </span>
        <span ng-if="funktiowrapper.lapsi.syoteparametrit[1].arvo">{{funktiowrapper.lapsi.syoteparametrit[1].arvo}}</span>
        <span ng-if="!funktiowrapper.lapsi.syoteparametrit[1].arvo">?</span>
        <span> - </span>
        <span ng-if="funktiowrapper.lapsi.syoteparametrit[2].arvo">{{funktiowrapper.lapsi.syoteparametrit[2].arvo}}</span>
        <span ng-if="!funktiowrapper.lapsi.syoteparametrit[2].arvo">?</span>
        <span ng-if="funktiowrapper.lapsi.syoteparametrit[0].arvo"> ({{funktiowrapper.lapsi.syoteparametrit[0].arvo}})</span>
    </div>
</script>

<!-- SUMMA -->
<script type="text/ng-template" id="summa">
    <div class="function" ng-class="funktioSelection == funktiowrapper.lapsi ? 'active' : ''">
        <span class="icon sum">&#8302;</span>
        <span class="label" ng-click="setFunktioSelection(funktiowrapper.lapsi, true, parent.lapsi, $index)">Summa</span>
    </div>
</script>


<!-- 
TAI
TULO
JOS
OSAMAARA
SUUREMPI
SKAALAUS 
PYORISTYS
PAINOTETTUKESKIARVO
HYLKAA
KONVERTOILUKUARVO
KESKIARVO
NEGAATIO
MINIMI
MAKSIMI
JA
EI
SUUREMPITAIYHTASUURI
PIENEMPITAIYHTASUURI
MEDIAANI
PIENEMPI
YHTASUURI
-->
<script type="text/ng-template" id="funktio">
    <div class="function" ng-class="funktioSelection == funktiowrapper.lapsi ? 'active' : ''">
        <span class="icon">&#8302;</span>
        <span class="label" ng-click="setFunktioSelection(funktiowrapper.lapsi, true, parent.lapsi, $index)">{{funktionimiService.getName(funktiowrapper.lapsi.funktionimi)}}</span>
    </div>
</script>



<!-- Nimetty funktioargumentti, jolle ei ole asetettu arvoa -->
<script type="text/ng-template" id="nimettyFunktioSlot">
    <span class="label" ng-init="funktioSlotIndex = findFunktioSlotIndex(parent.lapsi, $index)" ng-click="showNewFunktioList = true">
        
        <div ng-if="parent.lapsi.funktionimi === 'OSAMAARA'">
            <span ng-if="$index == 0"><i style="font-size: 18px" class="fa fa-plus-square kaavaeditor-blue"></i> Osoittaja </span>
            <span ng-if="$index == 1"><i style="font-size: 18px" class="fa fa-plus-square kaavaeditor-blue"></i> Nimittäjä</span>
        </div>
        <div ng-if="parent.lapsi.funktionimi === 'PAINOTETTUKESKIARVO'">
            <span ng-if="$index % 2 == 0"><i style="font-size: 18px" ng-click="showNewFunktioList = true" class="fa fa-plus-square kaavaeditor-blue"></i> Lukuarvo</span>
            <span ng-if="$index % 2 == 1"><i style="font-size: 18px" ng-click="showNewFunktioList = true" class="fa fa-plus-square kaavaeditor-blue"></i> Painotuskerroin</span>
        </div>
        <div ng-if="parent.lapsi.funktionimi === 'SKAALAUS' || 
                    parent.lapsi.funktionimi === 'NEGAATIO' || 
                    parent.lapsi.funktionimi === 'EI' || 
                    parent.lapsi.funktionimi === 'HYLKAA' ||
                    parent.lapsi.funktionimi === 'KONVERTOILUKUARVO' ||
                    parent.lapsi.funktionimi === 'PYORISTYS' || 
                    parent.lapsi.funktionimi === 'HYLKAAARVOVALILLA'">
            <span ng-if="$index == 0"><i style="font-size: 18px" ng-click="showNewFunktioList = true" class="fa fa-plus-square kaavaeditor-blue"></i> Funktioargumentti</span>
        </div>
        <div ng-if="parent.lapsi.funktionimi === 'NIMETTYTOTUUSARVO'">
            <span ng-if="$index == 0"><i style="font-size: 18px" ng-click="showNewFunktioList = true" class="fa fa-plus-square kaavaeditor-blue"></i> Nimetty totuusarvo</span>
        </div>
        <div ng-if="parent.lapsi.funktionimi === 'NIMETTYLUKUARVO'">
            <span ng-if="$index == 0"><i style="font-size: 18px" ng-click="showNewFunktioList = true" class="fa fa-plus-square kaavaeditor-blue"></i> Nimetty lukuarvo</span>
        </div>
        <div ng-if="parent.lapsi.funktionimi === 'YHTASUURI' || 
                    parent.lapsi.funktionimi === 'SUUREMPITAIYHTASUURI' ||
                    parent.lapsi.funktionimi === 'PIENEMPITAIYHTASUURI' ||
                    parent.lapsi.funktionimi === 'SUUREMPI' ||
                    parent.lapsi.funktionimi === 'PIENEMPI'">
            <span ng-if="$index == 0"><i style="font-size: 18px" ng-click="showNewFunktioList = true" class="fa fa-plus-square kaavaeditor-blue"></i> Vasen operandi</span>
            <span ng-if="$index == 1"><i style="font-size: 18px" ng-click="showNewFunktioList = true" class="fa fa-plus-square kaavaeditor-blue"></i> Oikea operandi</span>
        </div>
        <div ng-if="parent.lapsi.funktionimi === 'JOS'">
            <span ng-if="$index == 0"><i style="font-size: 18px" ng-click="showNewFunktioList = true" class="fa fa-plus-square kaavaeditor-blue"></i> Ehto</span>
            <span ng-if="$index == 1"><i style="font-size: 18px" ng-click="showNewFunktioList = true" class="fa fa-plus-square kaavaeditor-blue"></i> Sitten</span>
            <span ng-if="$index == 2"><i style="font-size: 18px" ng-click="showNewFunktioList = true" class="fa fa-plus-square kaavaeditor-blue"></i> Muuten</span>
        </div>
    </span>

    <div ng-if="showNewFunktioList && isLukuarvoFunktioSlot(parent.lapsi, funktioSlotIndex)" class="function" ng-include="'lukuarvoFunktiot'"></div>
    <div ng-if="showNewFunktioList && !isLukuarvoFunktioSlot(parent.lapsi, funktioSlotIndex)" class="function" ng-include="'totuusarvoFunktiot'"></div>

</script>





<!-- UUDEN FUNKTIO LISÄYS -->
<script type="text/ng-template" id="addFunktio">
    <span class="label"><i style="font-size: 18px;" class="fa fa-plus-square kaavaeditor-blue" ng-click="showNewFunktioList = {visible: true}"></i> </span>
    <div ng-init="funktioSlotIndex = findFunktioSlotIndex(parent.lapsi, $index)" ng-if="showNewFunktioList.visible && isLukuarvoFunktioSlot(parent.lapsi, funktioSlotIndex)" class="function" ng-include="'lukuarvoFunktiot'"></div>
    <div ng-init="funktioSlotIndex = findFunktioSlotIndex(parent.lapsi, $index)" ng-if="showNewFunktioList.visible && !isLukuarvoFunktioSlot(parent.lapsi, funktioSlotIndex)" class="function" ng-include="'totuusarvoFunktiot'"></div>
</script>


<!-- UUSI LUKUARVOFUNKTIO -->
<script type="text/ng-template" id="lukuarvoFunktiot">
    <table class="dropmenu-table">
        <thead>
            <th colspan="2">Lisää uusi funktio</th>
        </thead>
        <tbody>
            <tr>
                <td ng-click="addFunktio(parent, 'HAELUKUARVO', funktioSlotIndex); showNewFunktioList.visible = false"><span>Arvo hakemukselta</span></td>
                <td ng-click="addFunktio(parent, 'LUKUARVO', funktioSlotIndex); showNewFunktioList.visible = false"><span>Vakio</span></td>
            </tr>
            <tr>
                <td ng-click="addFunktio(parent, 'SUMMA', funktioSlotIndex); showNewFunktioList.visible = false"><span>Summa</span></td>
                <td ng-click="addFunktio(parent, 'JOS', funktioSlotIndex); showNewFunktioList.visible = false"><span>Jos</span></td>
            </tr>
            <tr>
                <td ng-click="addFunktio(parent, 'TULO', funktioSlotIndex); showNewFunktioList.visible = false"><span>Tulo</span></td>
                <td ng-click="addFunktio(parent, 'OSAMAARA', funktioSlotIndex); showNewFunktioList.visible = false"><span>Osamäärä</span></td>
            </tr>
            <tr>
                <td ng-click="addFunktio(parent, 'KESKIARVO', funktioSlotIndex); showNewFunktioList.visible = false"><span>Keskiarvo</span></td>
                <td ng-click="addFunktio(parent, 'MEDIAANI', funktioSlotIndex); showNewFunktioList.visible = false"><span>Mediaani</span></td>

            </tr>
            <tr>
                <td ng-click="addFunktio(parent, 'MINIMI', funktioSlotIndex); showNewFunktioList.visible = false"><span>Minimi</span></td>
                <td ng-click="addFunktio(parent, 'MAKSIMI', funktioSlotIndex); showNewFunktioList.visible = false"><span>Maksimi</span></td>
            </tr>
            <tr>
                <td ng-click="addFunktio(parent, 'SUMMANPARASTA', funktioSlotIndex); showNewFunktioList.visible = false"><span>N parasta summa</span></td>
                <td ng-click="addFunktio(parent, 'KESKIARVONPARASTA', funktioSlotIndex); showNewFunktioList.visible = false">
                    <span>N parasta keskiarvo</span></td>
            </tr>
            <tr>
                <td ng-click="addFunktio(parent, 'NMAKSIMI', funktioSlotIndex); showNewFunktioList.visible = false"><span>N paras</span></td>
                <td ng-click="addFunktio(parent, 'NMINIMI', funktioSlotIndex); showNewFunktioList.visible = false"><span>N huonoin</span></td>
            </tr>
            <tr>
                <td ng-click="addFunktio(parent, 'NEGAATIO', funktioSlotIndex); showNewFunktioList.visible = false"><span>Negaatio</span></td>
                <td ng-click="addFunktio(parent, 'PYORISTYS', funktioSlotIndex); showNewFunktioList.visible = false"><span>Pyöristys</span></td>
            </tr>
            <tr>
                <td ng-click="addFunktio(parent, 'HYLKAA', funktioSlotIndex); showNewFunktioList.visible = false"><span>Hylkää</span></td>
                <td ng-click="addFunktio(parent, 'HYLKAAARVOVALILLA', funktioSlotIndex); showNewFunktioList.visible = false">
                    <span>Hylkää arvovälillä</span></td>
            </tr>
            <tr>
                <td ng-click="addFunktio(parent, 'KONVERTOILUKUARVO', funktioSlotIndex); showNewFunktioList.visible = false"><span>Konversio</span></td>
                <td ng-click="addFunktio(parent, 'LASKENTAKAAVAVIITE', funktioSlotIndex); showNewFunktioList.visible = false"><span>Viittaus toiseen kaavaan</span></td>
            </tr>
            <tr>
                <td ng-click="addFunktio(parent, 'HAEMERKKIJONOJAKONVERTOILUKUARVOKSI', funktioSlotIndex); showNewFunktioList.visible = false"><span>Hae merkkijono ja konvertoi lukuarvoksi</span>
                </td>
                <td ng-click="addFunktio(parent, 'NIMETTYLUKUARVO', funktioSlotIndex); showNewFunktioList.visible = false"><span>Nimetty lukuarvo</span>
                </td>
            </tr>
            <tr>
                <td ng-click="addFunktio(parent, 'SKAALAUS', funktioSlotIndex); showNewFunktioList.visible = false"><span>Skaalaus</span></td>
                <td ng-click="addFunktio(parent, 'PAINOTETTUKESKIARVO', funktioSlotIndex); showNewFunktioList.visible = false">
                    <span>Painotettu keskiarvo</span></td>
            </tr>
        </tbody>
    </table>
</script>

<!-- UUSI TOTUUSARVOFUNKTIO -->
<script type="text/ng-template" id="totuusarvoFunktiot">
    <table class="dropmenu-table">
            <thead>
                <th colspan="2">Lisää uusi funktio</th>
            </thead>
            <tbody>
                <tr>
                    <td ng-click="addFunktio(parent, 'HAETOTUUSARVO', funktioSlotIndex); funktioasetukset.showNewFunktioList.visible = false"><span>Arvo hakemukselta</span>
                    </td>
                    <td ng-click="addFunktio(parent, 'TAI', funktioSlotIndex); funktioasetukset.showNewFunktioList.visible = false"><span>Tai</span></td>
                </tr>
                <tr>
                    <td ng-click="addFunktio(parent, 'SUUREMPITAIYHTASUURI', funktioSlotIndex); funktioasetukset.showNewFunktioList.visible = false"><span>Suurempi tai yhtä suuri</span>
                    </td>
                    <td ng-click="addFunktio(parent, 'SUUREMPI', funktioSlotIndex); funktioasetukset.showNewFunktioList.visible = false"><span>Suurempi</span></td>
                </tr>
                <tr>
                    <td ng-click="addFunktio(parent, 'YHTASUURI', funktioSlotIndex); funktioasetukset.showNewFunktioList.visible = false"><span>Yhtä suuri</span></td>
                    <td ng-click="addFunktio(parent, 'PIENEMPI', funktioSlotIndex); funktioasetukset.showNewFunktioList.visible = false"><span>Pienempi</span></td>
                </tr>
                <tr>
                    <td ng-click="addFunktio(parent, 'PIENEMPITAIYHTASUURI', funktioSlotIndex); funktioasetukset.showNewFunktioList.visible = false"><span>Pienempi tai yhtä suuri</span>
                    </td>
                    <td ng-click="addFunktio(parent, 'EI', funktioSlotIndex); funktioasetukset.showNewFunktioList.visible = false"><span>Ei</span></td>
                </tr>
                <tr>
                    <td ng-click="addFunktio(parent, 'TOTUUSARVO', funktioSlotIndex); funktioasetukset.showNewFunktioList.visible = false"><span>Totuusarvo</span></td>
                    <td ng-click="addFunktio(parent, 'JA', funktioSlotIndex); funktioasetukset.showNewFunktioList.visible = false"><span>Ja</span></td>
                </tr>
                <tr>
                    <td ng-click="addFunktio(parent, 'DEMOGRAFIA', funktioSlotIndex); funktioasetukset.showNewFunktioList.visible = false"><span>Demografia</span></td>
                    <td ng-click="addFunktio(parent, 'HAKUTOIVE', funktioSlotIndex); funktioasetukset.showNewFunktioList.visible = false"><span>Hakutoive</span></td>
                </tr>
                <tr>
                    <td ng-click="addFunktio(parent, 'HAEMERKKIJONOJAKONVERTOITOTUUSARVOKSI', funktioSlotIndex); funktioasetukset.showNewFunktioList.visible = false"><span>Hae merkkijono ja konvertoi totuusarvoksi</span></td>
                    <td ng-click="addFunktio(parent, 'NIMETTYTOTUUSARVO', funktioSlotIndex); funktioasetukset.showNewFunktioList.visible = false">
                        <span>Nimetty totuusarvo</span></td>
                </tr>
                <tr>
                    <td ng-click="addFunktio(parent, 'HAEMERKKIJONOJAVERTAAYHTASUURUUS', funktioSlotIndex); funktioasetukset.showNewFunktioList.visible = false"><span>Hae merkkijono ja vertaa yhtäsuuruus</span>
                    </td>
                    <td ng-click="addFunktio(parent, 'VALINTAPERUSTEYHTASUURUUS', funktioSlotIndex); funktioasetukset.showNewFunktioList.visible = false"><span>Valintaperusteyhtasuuruus</span>
                    </td>
                </tr>
            </tbody>
        </table>
</script>

