
<!-- Arvojen syöttö -templatet -->
<script type="text/ng-template" id="desimaaliluku-template">
    <input type="text" size="9" ng-model="syoteparametri.arvo"/>
</script>
<script type="text/ng-template" id="kokonaisluku-template">
    <input type="text" size="9" ng-model="syoteparametri.arvo"/>
</script>
<script type="text/ng-template" id="totuusarvo-template">
    <input type="radio" size="9" ng-model="syoteparametri.arvo" value="true"/> Tosi
    <input type="radio" size="9" ng-model="syoteparametri.arvo" value="false"/> Epätosi
</script>
<script type="text/ng-template" id="merkkijono-template">
    <input type="text" size="9" ng-model="syoteparametri.arvo"/>
</script>


<!-- ARVOVÄLIKONVERTTERI template -->
<script type="text/ng-template" id="arvovalikonvertteri-template">
    <div class="form-item-content">

        <div class="settingsbox">
            <table class="settingstable">
                <thead>
                <tr>
                    <td></td>
                    <td>Min</td>
                    <td></td>
                    <td>Max</td>
                    <td>Pisteet</td>
                    <td>Palauta haettu arvo</td>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="parametri in funktioSelection.lapsi.arvovalikonvertteriparametrit">
                    <td>
                        <a ng-click="removeKonvertteriParametri($index, konvertteriparametriSelection)"><i class="fa fa-trash-o"></i></a>
                    </td>
                    <td>
                        <input type="text" size="1" ng-model="parametri.minValue"/>
                    </td>
                    <td>
                        <span ng-show="!$last" class="white-space-nowrap">&le; x &lt;</span>
                        <span ng-show="$last" class="white-space-nowrap">&le; x &le;</span>
                    </td>
                    <td>
                        <input type="text" size="1" ng-model="parametri.maxValue"/>
                    </td>
                    <td><input type="text" size="3" ng-disabled="parametri.palautaHaettuArvo == 'true'"
                               ng-model="parametri.paluuarvo"/></td>

                    <td><input type="checkbox" ng-model="parametri.palautaHaettuArvo" ng-true-value="true" ng-false-value="false"/></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</script>


<!-- ARVOKONVERTTERI template -->
<script type="text/ng-template" id="arvokonvertteri-template">

    <div class="form-item-content">

        <div class=" settingsbox">
            <table class="settingstable">
                <thead>
                <tr>
                    <td></td>
                    <td>Arvo</td>
                    <td>Pisteet</td>
                    <td>Hylkäysperuste</td>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="parametri in funktioSelection.lapsi.arvokonvertteriparametrit">
                    <td>
                        <a ng-click="removeKonvertteriParametri($index)"><i class="fa fa-trash-o"></i></a>
                    </td>
                    <td><input type="text" size="9" ng-model="parametri.arvo"/></td>
                    <td><input type="text" size="9" ng-model="parametri.paluuarvo"/></td>
                    <td><input type="checkbox" ng-model="parametri.hylkaysperuste" ng-true-value="true" ng-false-value="false" /></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</script>




<!-- LASKENTAKAAVAVIITTAUKSEN ASETUKSET -->
<div style="width:30%;float:right;" ng-if="funktioasetukset.showLaskentakaavaInformation">
    <div class="settingsform">
        <h3>Laskentakaavaviittauksen asetukset</h3>
        
        <div ng-repeat="valintaryhmaList in kaavaLista.valintaryhmaList()">
            <div ng-repeat="valintaryhma in valintaryhmaList" ng-if="valintaryhma.laskentakaavat.length > 0">
                <h3>{{valintaryhma.nimi}}</h3>
                <div ng-repeat="kaava in valintaryhma.laskentakaavat">
                    <div class="margin-bottom-1" ng-hide="kaava.id == fetched">
                        <input type="radio" name="kaava" value="{{kaava.id}}" ng-model="funktioSelection.lapsi.data.id"/>
                        {{kaava.nimi}} TODO -> template ng-model= ???
                    </div>
                </div>
            </div>
        </div>


        <span class="button small" ng-click="removeLaskentakaavaviite()">Poista laskentakaavaviite</span>
    </div>
</div>


<!-- FUNKTIOASETUKSET -->
<div class="" style="width:30%;float:right;" ng-if="funktioasetukset.showFunktioInformation">
    <div class="settingsform">

        <h3>Funktioasetukset</h3>
        <div class="form-item" ng-if="funktioSelection.isNimettava()">
            <label class="form-item-label" for="">Nimi</label>

            <div class="form-item-content">
                <div class="field-text-containerbox">
                    <input type="text" ng-model="funktioSelection.lapsi.funktionimi"/>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        
        <!-- Valintaperusteviitteet -->
        <div class="form-item" >
            <div ng-if="funktioSelection.lapsi.valintaperusteviitteet" ng-repeat="valintaperusteviite in funktioSelection.lapsi.valintaperusteviitteet">
                <label class="form-item-label" style="width:50px;">Tyyppi</label>
                <div class="form-item-content">
                    <div class="field-select-containerbox">
                        <select ng-model="valintaperusteviite.lahde" ng-options="item.key as item.text for item in valintaperusteviitetyypit">
                        </select>        
                    </div>
                    <div class="field-container-checkbox">
                        <input type="checkbox" id="requiredparam" ng-model="valintaperusteviite.onPakollinen"/>
                        <label for="requiredparam">Pakollinen tieto</label>
                    </div>
                </div>

                <label class="form-item-label" style="width:50px;">Kuvaus</label>

                <div class="form-item-content">
                    <textarea style="width: 330px" ng-model="valintaperusteviite.kuvaus"></textarea>
                </div>

                <div class="form-item">
                    <label class="form-item-label" for="">Tunniste</label>

                    <div class="form-item-content">
                        <div class="field-text-containerbox">
                            <input type="text" ng-model="valintaperusteviite.tunniste" required="required"/>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    
        <!-- Konvertterit -->
        <div class="form-item"> 
            
            <div ng-if="funktiokuvausForSelection.konvertteri">
                <label class="form-item-label" style="width:50px;">Arvomuunnin</label>

                <div class="form-item-content">
                    <div class="field-select-containerbox">
                        
                        <select ng-change="changeKonvertteriparametriTypeSelection(funktioasetukset.konvertteriType)"
                                ng-model="funktioasetukset.konvertteriType" ng-options="konvertterityyppi.tyyppi as konvertterityyppi.tyyppi for konvertterityyppi in funktiokuvausForSelection.konvertteri.konvertteriTyypit">
                        </select>

                    </div>
                </div>
               
                <div class="form-item">
                    <label ng-if="funktioSelection.lapsi.arvokonvertteriparametrit.length > 0 || funktioSelection.lapsi.arvovalikonvertteriparametrit.length > 0" class="form-item-label" for="" style="width:100px;">Konversiomäärittelyt</label>
                    <div class="form-item-content" ng-if="funktioSelection.lapsi.arvokonvertteriparametrit.length > 0" ng-include="'arvokonvertteri-template'"></div>
                    <div class="form-item-content" ng-if="funktioSelection.lapsi.arvovalikonvertteriparametrit.length > 0" ng-include="'arvovalikonvertteri-template'"></div>
                    <div class="clear"></div>
                </div>
                
                <span class="button small" ng-click="addFunktiokonvertteriparametri()"><i class="fa fa-plus"></i> Parametri</span>

            </div>

            <div class="clear"></div>
        </div>

        <!-- SYÖTEPARAMETRIT -->
        <div class="form-item" ng-if="funktioSelection.lapsi.syoteparametrit.length > 0">
            <label class="form-item-label" style="width:100px;">Arvon määrittelyt</label>

            <div class="form-item-content">

                <div class=" settingsbox">
                    <table class="settingstable">
                        <thead>
                            <tr>
                                <td>Määrite</td>
                                <td>Arvo</td>
                            </tr>
                        </thead>
                        <tbody>

                            <tr ng-repeat="syoteparametri in funktioSelection.lapsi.syoteparametrit">
                                <td>Avain: {{syoteparametri.avain}}</td>
                                <td ng-include="syoteparametriTemplate(funktioSelection, $index)"></td>
                            </tr>
                            <tr>
                                <td>Tallenna tulos</td>
                                <td><input type="checkbox" ng-model="funktioSelection.lapsi.tallennaTulos" ng-false-value="false" ng-true-value="true"/></td>
                            </tr>
                            <tr>
                                <td>Tulostunniste</td>
                                <td><input type="text" ng-model="funktioSelection.lapsi.tulosTunniste" /></td>
                            </tr>
                             <tr>
                                <td>Tulosteksti FI</td>
                                <td><input type="text" ng-model="funktioSelection.lapsi.tulosTekstiFi" /></td>
                            </tr>
                             <tr>
                                <td>Tulosteksti SV</td>
                                <td><input type="text" ng-model="funktioSelection.lapsi.tulosTekstiSv" /></td>
                            </tr>
                             <tr>
                                <td>Tulosteksti EN</td>
                                <td><input type="text" ng-model="funktioSelection.lapsi.tulosTekstiEn" /></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        
        <span class="button small" ng-click="removeFunktiokutsu()"><i class="fa fa-trash-o"></i> Poista funktiokutsu</span>

    </div>

</div>

