<!-- LASKENTAKAAVAPAGE CONTENT -->
<h1>Laskentakaavan muokkaus</h1>


<div class="tabs" ng-controller="LaskentakaavaMenuController">
    <a ng-repeat="menuitem in menuitems" href="{{menuitem.url}}" ng-class="cssClass(menuitem)">
        <span>{{menuitem.title}}</span>
    </a>
</div>

<div class="tabsheets">

    <!-- LASKENTAKAAVAN MUOKKAUS -->
    <span class="btn btn-sm btn-default" ng-click="goToListing()"><i class="fa fa-arrow-left"></i> Palaa</span>
    <span class="btn btn-sm btn-default" ng-click="persistLaskentakaava()"><i class="fa fa-floppy-o"></i> Tallenna</span>

    <!--
    <span class="button small" ng-click="saveKaavaAsDraft()"><i class="fa fa-floppy-o"></i> Tallenna luonnoksena</span>
    -->

    <div class="clear"></div>

    <div class="alert alert-danger margin-top-2" ng-show="errors.length > 0">
        <p ng-if="errors">Laskentakaavassa on virheitä, tarkista että olet täyttänyt kaikki pakolliset kentät</p>
    </div>

    <!-- Laskentakaavapuu -->
    <div ng-include="'laskentakaava/laskentakaavapuu.html'"></div>

    <!-- Laskentakaavan tai funktion asetukset -->
    <div ng-include="'laskentakaava/laskentakaavamenu.html'"></div>

    <div class="clear"></div>
</div>
