<h1>Hakukohteen muokkaus</h1>

<div class="tabs">
    <a href="#/etusivu" class="tab current"><span>Valintaryhmät ja hakukohteet</span></a>
    <a ng-show="model.hakukohde" href="#/hakukohde/{{model.hakukohde.oid}}/laskentakaavalista" class="tab"><span>Laskentakaavat</span></a>
    <a auth="crudOph" href="#/import" class="tab float-right"><span>Yhteisvalinnan hallinta</span></a>
</div>

<div class="tabsheets">
    <breadcrumb></breadcrumb>
    <form class="form-horizontal" name="form" ng-submit="submit()">
        <div class="form-group">
            <label class="col-md-2 control-label">Hakukohteen nimi</label>

            <div class="col-md-10 control-content">{{model.hakukohde.nimi}} ({{model.hakukohde.oid}})</div>
        </div>


        <div class="form-group">
            <label class="col-md-2 control-label">Hakukohdekoodi: </label>

            <div class="col-md-6 control-content">
                <table class="virkailija-table-1">
                    <thead>
                    <tr>
                        <th>koodi</th>
                        <th>arvo</th>
                        <th>nimi</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="align-center">{{model.hakukohde.hakukohdekoodi.uri}}</td>
                        <td class="align-center">{{model.hakukohde.hakukohdekoodi.arvo}}</td>
                        <td class="align-center">{{model.hakukohde.hakukohdekoodi.nimiFi}}</td>
                    </tr>

                    </tbody>

                </table>
            </div>
        </div>

        <div class="form-group">

            <div class="col-md-offset-2 col-md-10">
                <input type="text" ng-model="uusiHakukohdeUri"
                       typeahead-editable="false"
                       typeahead="koodi as koodi.metadata[0].nimi + ' (' + koodi.koodiUri + ')' for koodi in model.hakukohdekoodit| filter:$viewValue | orderBy:'metadata[0].nimi' | limitTo :10 ">
                <button class="btn btn-sm btn-primary" auth="update" type="button" ng-click="addHakukohdeUri()"
                        ng-disabled="!uusiHakukohdeUri"><i class="fa fa-refresh"></i> Päivitä
                </button>
            </div>

        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Haun Tunniste (oid):</label>

            <div class="control-content col-md-10">
                {{model.haku.nimi.kieli_fi}} ({{model.haku.oid}})
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Tarjoaja (oid):</label>

            <div class="control-content col-md-10">
                {{model.hakukohde.tarjoajaOid}}
                <!--<br/>{{model.selectedHakukohde.tarjoajaOid}}-->
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Julkaisutila:</label>

            <div class="control-content col-md-10">
                {{model.hakukohde.tila}}
                <!--<br/>{{model.selectedHakukohde.tarjoajaOid}}-->
            </div>
        </div>

        <div class="form-group" ng-show="model.parentValintaryhma.nimi">
            <div class="col-md-2 control-label">Valintaryhmä</div>

            <div class="control-content">
                <!--{{model.hakukohde.oid}}-->
                {{model.parentValintaryhma.nimi}}
                <!--
                <input type="text" ng-model="hakukohde.oid" disabled />
                -->
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Kuuluu sijoitteluun</label>

            <div class="control-content col-md-10">
                {{model.kuuluuSijoitteluun ? 'Kyllä' : 'Ei'}}
            </div>
        </div>

        <div class="form-group width-100">
            <label class="col-md-2 control-label">Valinnan vaiheet</label>

            <div class="control-content col-md-10">
                <table auth="update" ng-show="model.valinnanvaiheet"
                       class="virkailija-table-1">
                    <thead>
                    <tr>
                        <th>Aktiivinen</th>
                        <th>Nimi</th>
                        <th>Periytyy</th>
                        <th>Tyyppi</th>
                        <th>Poista</th>
                    </tr>
                    </thead>
                    <tbody ui-sortable ng-model="model.valinnanvaiheet">
                    <tr ng-repeat="data in model.valinnanvaiheet">
                        <td><input type="checkbox" ng-model="data.aktiivinen"/></td>
                        <td class="align-center">
                            <a ng-class="{true:'', false:'line-through'}[data.aktiivinen]"
                               href="#/hakukohde/{{hakukohdeOid}}/{{model.getValinnanvaiheType(data)}}/{{data.oid}}">{{data.nimi}}</a>
                        </td>
                        <td class="align-center">{{data.inheritance ? 'Kyllä' : 'Ei'}}</td>
                        <td class="align-center">{{data.valinnanVaiheTyyppi}}</td>
                        <td class="align-center">
                                <span auth="crud" ng-show="!data.inheritance" class="btn remove"
                                      ng-click="model.remove(data)"></span>
                        </td>

                    </tr>
                    </tbody>
                </table>
            </div>

        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10" ng-show="model.hakukohde.oid">
                <span auth="crud" class="btn btn-sm btn-default" ng-click="lisaaValinnanVaihe()"><i
                        class="fa fa-plus"></i> Valinnanvaihe</span>
                <span auth="crud" class="btn btn-sm btn-default" ng-click="lisaaValintakoeValinnanVaihe()"><i
                        class="fa fa-plus"></i> Valintakoevalinnanvaihe</span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Hakijaryhmat</label>

            <div class="control-content col-md-10">
                <table ng-show="model.hakijaryhmat" class="virkailija-table-1">
                    <thead>
                    <tr>
                        <th>Nimi</th>
                        <th>Laskentakaava</th>
                        <th>Kiintiö</th>
                        <th>Periytyy</th>
                        <th>Valintatapajonot</th>
                        <th>Poista</th>
                    </tr>
                    </thead>
                    <tbody ui-sortable ng-model="model.hakijaryhmat">
                    <tr ng-repeat="data in model.hakijaryhmat">
                        <td class="align-center">
                            <a href="#/hakukohde/{{hakukohdeOid}}/hakijaryhma/{{data.oid}}">{{data.nimi}}</a>
                        </td>
                        <td class="align-center">{{data.laskentakaava_nimi}}</td>
                        <td class="align-center">{{data.kiintio}}</td>
                        <td class="align-center">{{data.inheritance ? 'Kyllä' : 'Ei'}}</td>
                        <td class="align-center">
                        <span ng-repeat="jono in data.valintatapajonot"
                              ng-class="{true:'', false:'line-through'}[jono.valintatapajono.aktiivinen]">
                            <a href="#/hakukohde/{{model.hakukohde.oid}}/valinnanvaihe/{{jono.valintatapajono.valinnan_vaihe}}/valintatapajono/{{jono.valintatapajono.oid}}">{{jono.valintatapajono.nimi}}</a>{{!$last ? ', ' : ''}}
                        </span>
                        </td>
                        <td class="align-center">
                            <i auth="crud" ng-show="!data.inheritance" class="fa fa-trash-o"
                               ng-click="removeHakijaryhma(data.oid)"></i>
                        </td>
                    </tr>
                    </tbody>
                </table>


                <div ng-show="model.hakukohde.oid">
                    <span auth="crud" class="btn btn-sm btn-default" ng-click="lisaaHakijaryhma()"><i
                            class="fa fa-plus"></i> Hakijaryhma</span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2">
                <button type="button" class="btn btn-sm btn-default" ng-click="cancel()"><i
                        class="fa fa-arrow-left"></i> Takaisin
                </button>
                <button auth="update" ng-disabled="!form.$valid" class="btn btn-sm btn-primary" type="submit"><i
                        class="fa fa-floppy-o"></i>
                    Tallenna
                </button>

            </div>
        </div>
    </form>
</div>