<!-- Arvojen syöttö -templatet -->
<script type="text/ng-template" id="desimaaliluku-template">
    <input ng-disabled="alikaavaValues.isAlikaava || !userAccess.updateOrg" type="text" size="15" ng-model="syoteparametri.arvo"/>
</script>
<script type="text/ng-template" id="kokonaisluku-template">
    <input ng-disabled="alikaavaValues.isAlikaava || !userAccess.updateOrg" type="text" size="15" ng-model="syoteparametri.arvo"/>
</script>
<script type="text/ng-template" id="totuusarvo-template">
    <input ng-disabled="alikaavaValues.isAlikaava || !userAccess.updateOrg" type="radio" size="15" ng-model="syoteparametri.arvo"
           value="true"/> Tosi
    <input ng-disabled="alikaavaValues.isAlikaava || !userAccess.updateOrg" type="radio" size="15" ng-model="syoteparametri.arvo"
           value="false"/> Epätosi
</script>
<script type="text/ng-template" id="merkkijono-template">
    <input ng-disabled="alikaavaValues.isAlikaava || !userAccess.updateOrg" type="text" size="15" ng-model="syoteparametri.arvo"/>
</script>
<script type="text/ng-template" id="arvojoukko-template">
    <select ng-disabled="alikaavaValues.isAlikaava || !userAccess.updateOrg" ng-model="syoteparametri.arvo"
            ng-options="arvo.avain as arvo.arvo for arvo in funktiokuvausSyoteparametri.arvojoukko | orderBy:'arvo'">
        <option value=""></option>
    </select>
</script>
<!-- Valintaperuste default template -->
<script type="text/ng-template" id="valintaperuste-default-template">
    <div class="form-item-content">
        <form class="form-horizontal valintaperuste-form" style="overflow-x: scroll" role="form">
            <h3 ng-if="valintaperusteviite.kuvaus">{{valintaperusteviite.kuvaus}}</h3>

            <h3 ng-if="!valintaperusteviite.kuvaus">{{valintaperusteviite.nimi}}</h3>

            <div class="form-group">
                <label class="col-md-2 control-label">{{ t('laskentakaavaviiteasetuksetmodal.tyyppi') || 'Tyyppi'
                    }}</label>

                <div class="col-md-6">
                    <select class="form-control" ng-disabled="alikaavaValues.isAlikaava || !userAccess.updateOrg" ng-model="valintaperuste.lahde"
                            ng-if="!isYoFunktiokutsu(funktioSelection)"
                            ng-options="item.key as item.text for item in valintaperusteviitetyypit">
                    </select>

                    <p class="form-control-static" ng-init="valintaperuste.lahde = 'HAETTAVA_ARVO'"
                       ng-if="isYoFunktiokutsu(funktioSelection)">{{ t('laskentakaavat.funktioasetukset.haettava_arvo')
                        || 'Arvo hakemukselta' }}</p>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label">{{ t('laskentakaavaviiteasetuksetmodal.pakollinen') || 'Pakollinen
                    tieto' }}</label>

                <div class="col-md-6">
                    <div class="checkbox">
                        <label>
                            <input ng-disabled="alikaavaValues.isAlikaava || !userAccess.updateOrg" type="checkbox" id="requiredparam" ng-model="valintaperuste.onPakollinen"/>
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label">{{ t('laskentakaavaviiteasetuksetmodal.kuvaus') || 'Kuvaus'
                    }}</label>

                <div class="col-md-6">
                    <textarea ng-disabled="alikaavaValues.isAlikaava || !userAccess.updateOrg" class="form-control"
                              ng-model="valintaperuste.kuvaus"></textarea>
                </div>
            </div>



            <div class="form-group">
                <label class="col-md-2 control-label">{{ t('laskentakaavaviiteasetuksetmodal.tunniste') || 'Tunniste'}}</label>

                <div class="col-md-6">
                    <div>
                        <div ng-if="valintaperuste.lahde === 'HAETTAVA_ARVO' && bigdata.length > 0">
                            <p class="form-control-static">Hakulomakkeen tunniste</p>
                            <select ng-model="valintaperuste.tunniste"
                                    ng-options="data.key as data.value for data in bigdata"
                                    ng-disabled="alikaavaValues.isAlikaava || !userAccess.updateOrg">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                    <div>
                        <div ng-if="valintaperuste.lahde === 'HAETTAVA_ARVO' && lisakysymysAvaimet.length > 0">
                            <p class="form-control-static">Lisäkysymyksen tunniste</p>
                            <select ng-model="valintaperuste.tunniste"
                                    ng-options="data.key as data.value for data in lisakysymysAvaimet"
                                    ng-disabled="alikaavaValues.isAlikaava || !userAccess.updateOrg">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                    <div>
                        <span class="help-block">Vapaamuotoinen tunniste</span>
                        <input ng-disabled="alikaavaValues.isAlikaava || !userAccess.updateOrg" type="text" ng-model="valintaperuste.tunniste" class="form-control"
                               required="required"/>
                    </div>

                <button ng-if="valintaperuste.lahde === 'SYOTETTAVA_ARVO'" ng-disabled="!userAccess.updateOrg" ng-click="generateSyoteId(valintaperuste)"
                      class="btn btn-sm btn-default">{{ t('laskentakaavaviiteasetuksetmodal.generoi') || 'Generoi tunniste' }}</button>
                </div>
            </div>

            <div class="form-group" ng-if="valintaperuste.lahde === 'SYOTETTAVA_ARVO'">

                <label class="col-md-2 control-label">{{ t('laskentakaavaviiteasetuksetmodal.vaatiiOsallistumisen') || 'Vaatii
                    osallistumisen' }}</label>

                <div class="col-md-10">
                    <div class="checkbox">
                        <label>
                            <input ng-disabled="alikaavaValues.isAlikaava || !userAccess.updateOrg" type="checkbox"
                           ng-model="valintaperuste.vaatiiOsallistumisen"/>
                        </label>
                    </div>
                </div>

            </div>

    <div class="col-md-10" ng-if="valintaperusteviite.tyyppi == 'ARVOJOUKKO'">
        <select ng-disabled="alikaavaValues.isAlikaava || !userAccess.updateOrg" ng-model="valintaperuste.tunniste"
                ng-options="arvo.avain as arvo.arvo for arvo in valintaperusteviite.arvojoukko | orderBy:'arvo'"></select>
    </div>

    </form>

    <div id="valintaperusteviite-kuvaukset">

        <div class="valintaperuste-form" ng-if="valintaperuste.kuvaukset.tekstit.length > 0">
            <table class="table">
                <thead>
                <tr>
                    <td>{{ t('laskentakaavaviiteasetuksetmodal.kieli') || 'Kieli' }}</td>
                    <td>{{ t('laskentakaavaviiteasetuksetmodal.kuvaus') || 'Kuvaus' }}</td>
                    <td>{{ t('valintaperusteet.poista') || 'Poista'}}</td>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="kuvaus in valintaperuste.kuvaukset.tekstit">
                    <td><select ng-disabled="alikaavaValues.isAlikaava || !userAccess.updateOrg" ng-model="kuvaus.kieli"
                                ng-options="item.key as item.text for item in arvokonvertterikuvauskielet"></select>
                    </td>
                    <td><input ng-disabled="alikaavaValues.isAlikaava || !userAccess.updateOrg" type="text" size="15"
                               ng-model="kuvaus.teksti"/></td>
                    <td>
                        <button class="btn btn-sm btn-default" ng-disabled="alikaavaValues.isAlikaava || !userAccess.updateOrg"
                                ng-click="removeValintaperusteviiteKuvaus($index, valintaperuste)"><i
                                class="fa fa-trash-o"></i></button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <h3>{{ t('laskentakaavaviiteasetuksetmodal.hylkays') || 'Hylkäysperustekuvaukset' }}</h3>
        <button ng-disabled="alikaavaValues.isAlikaava || !userAccess.updateOrg" class="btn btn-sm btn-default"
                ng-click="addValintaperusteviitekuvaus(valintaperuste)"><i
                class="fa fa-plus"></i> {{ t('laskentakaavaviiteasetuksetmodal.kuvaus') || 'Kuvaus' }}
        </button>
    </div>

</script>


<!-- ARVOVÄLIKONVERTTERI template -->
<script type="text/ng-template" id="arvovalikonvertteri-template">
    <div class="form-item-content">

        <div class="settingsbox">
            <form ng-repeat="parametri in funktioSelection.lapsi.arvovalikonvertteriparametrit"
                  class="form-horizontal arvovalikonvertteri-form " role="form">

                <div class="pull-right">
                    <button ng-disabled="alikaavaValues.isAlikaava || !userAccess.updateOrg" class="btn btn-sm btn-default"
                            ng-click="removeKonvertteriParametri($index, 'ARVOVALIKONVERTTERI')"><i
                            class="fa fa-trash-o"></i> {{ t('funktiokutsuasetuksetmodal.poista.arvovalikonvertteri') ||
                        'Poista arvovälikonvertteri' }}
                    </button>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-3">{{ t('laskentakaavaviiteasetuksetmodal.arvovali') || 'Arvoväli'}}</label>
                    <div class="col-md-2">
                        <input ng-disabled="alikaavaValues.isAlikaava || !userAccess.updateOrg" type="text" size="10"
                               ng-model="parametri.minValue" placeholder="Min" class="form-control"/>
                   </div>
                    <div class="col-md-1">
                        <span ng-show="!$last" class="white-space-nowrap">&le; x &lt;</span>
                        <span ng-show="$last" class="white-space-nowrap">&le; x &le;</span>
                    </div>
                   <div class="col-md-2">
                        <input ng-disabled="alikaavaValues.isAlikaava || !userAccess.updateOrg" class="form-control" type="text" size="10"
                               ng-model="parametri.maxValue" placeholder="Max"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-3" for="palautahaettu">{{ t('laskentakaavaviiteasetuksetmodal.palauta') || 'Palauta
                        haettu arvo' }}</label>

                    <div class="col-md-3">
                        <div class="checkbox">
                            <label>
                                <input id="palautahaettu" ng-disabled="alikaavaValues.isAlikaava || !userAccess.updateOrg" type="checkbox"
                                       ng-model="parametri.palautaHaettuArvo" ng-true-value="'true'"
                                       ng-false-value="'false'"/>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">{{ t('laskentakaavaviiteasetuksetmodal.pisteet') || 'Pisteet'
                        }}</label>
                    <div class="col-md-6">
                        <input type="text" size="10" ng-model="parametri.paluuarvo" class="form-control"
                           placeholder="{{ t('laskentakaavaviiteasetuksetmodal.pisteet') || 'Pisteet' }}"
                           ng-disabled="parametri.palautaHaettuArvo == 'true' || alikaavaValues.isAlikaava || !userAccess.updateOrg"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3" for="hylkaysperuste">{{ t('laskentakaavaviiteasetuksetmodal.hylkaysperuste')
                        || 'Hylkäysperuste' }}</label>
                    <div class="col-md-3">
                        <div class="checkbox">
                            <label>
                                <input id="hylkaysperuste" ng-disabled="alikaavaValues.isAlikaava || !userAccess.updateOrg" type="checkbox"
                                       ng-model="parametri.hylkaysperuste" ng-true-value="'true'"
                                       ng-false-value="'false'"/>
                            </label>
                        </div>
                    </div>
                </div>



                <div class="form-group" ng-if="parametri.hylkaysperuste === 'true'">
                    <label class="control-label col-md-3">{{ t('laskentakaavaviiteasetuksetmodal.hylkays') || 'Hylkäysperustekuvaukset' }}</label>
                    <div class="col-md-6">
                        <button ng-disabled="alikaavaValues.isAlikaava || !userAccess.updateOrg" class="btn btn-sm btn-default"
                                ng-click="addArvokonvertterikuvaus(parametri)"><i
                                class="fa fa-plus"></i> {{ t('laskentakaavaviiteasetuksetmodal.kuvaus') || 'Kuvaus' }}
                        </button>
                    </div>
                </div>

                <div class="form-group" ng-if="parametri.hylkaysperuste === 'true'">

                    <div class="col-md-offset-3 col-md-6" arvovalikonvertteri-kuvaukset" ng-if="parametri.hylkaysperuste">
                        <table class="table" ng-if="parametri.kuvaukset.tekstit.length > 0">
                            <thead>
                                <tr>
                                    <td>{{ t('laskentakaavaviiteasetuksetmodal.kieli') || 'Kieli' }}</td>
                                    <td>{{ t('laskentakaavaviiteasetuksetmodal.kuvaus') || 'Kuvaus' }}</td>
                                    <td></td>
                                </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="kuvaus in parametri.kuvaukset.tekstit">
                                <td><select ng-disabled="alikaavaValues.isAlikaava || !userAccess.updateOrg" ng-model="kuvaus.kieli"
                                            ng-options="item.key as item.text for item in arvokonvertterikuvauskielet"></select>
                                </td>
                                <td><input ng-disabled="alikaavaValues.isAlikaava || !userAccess.updateOrg" type="text" size="15"
                                           ng-model="kuvaus.teksti"/></td>
                                <td>
                                    <button class="btn btn-sm btn-default" ng-disabled="alikaavaValues.isAlikaava || !userAccess.updateOrg"
                                            ng-click="removeKonvertteriParametriKuvaus($index, parametri)"><i
                                            class="fa fa-trash-o"></i></button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    </div>
                    </div>
            </form>


        </div>
    </div>
</script>


<!-- ARVOKONVERTTERI template -->
<script type="text/ng-template" id="arvokonvertteri-template">


    <div class="settingsbox">
        <form ng-repeat="parametri in funktioSelection.lapsi.arvokonvertteriparametrit"
              class="form-horizontal arvokonvertteri-form" role="form">

                <div class="pull-right">
                        <button ng-disabled="alikaavaValues.isAlikaava || !userAccess.updateOrg" class="btn btn-sm btn-default pull-right"
                            ng-click="removeKonvertteriParametri($index, 'ARVOKONVERTTERI')"><i
                            class="fa fa-trash-o"></i> {{ t('funktiokutsuasetuksetmodal.poista.arvokonvertteri') || 'Poista arvokonvertteri'}}</button>
                </div>


            <div class="form-group">
                <label class="col-md-3 control-label">{{ t('laskentakaavaviiteasetuksetmodal.arvo') || 'Arvo' }}</label>

                <div class="col-md-6"
                     ng-if="funktiokuvausForSelection.konvertteri.konvertteriTyypit[0].arvotyyppi != 'ARVOJOUKKO'">
                    <input class="form-control" ng-disabled="alikaavaValues.isAlikaava || !userAccess.updateOrg" type="text" size="9" ng-model="parametri.arvo"
                           placeholder="{{ t('laskentakaavaviiteasetuksetmodal.arvo') || 'Arvo' }}"/>
                </div>

                <div class="col-md-6"
                     ng-if="funktiokuvausForSelection.konvertteri.konvertteriTyypit[0].arvotyyppi == 'ARVOJOUKKO'">
                    <select ng-disabled="alikaavaValues.isAlikaava || !userAccess.updateOrg" ng-model="parametri.arvo" class="form-control"
                            ng-options="arvo.avain as arvo.arvo for arvo in funktiokuvausForSelection.konvertteri.konvertteriTyypit[0].arvojoukko | orderBy:'arvo'"></select>
                </div>

            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="pisteet">{{ t('laskentakaavaviiteasetuksetmodal.pisteet') || 'Pisteet'
                    }}</label>

                <div class="col-md-6">
                    <input ng-disabled="alikaavaValues.isAlikaava || !userAccess.updateOrg" type="text" id="pisteet" size="9" ng-model="parametri.paluuarvo" class="form-control"
                           placeholder="{{ t('laskentakaavaviiteasetuksetmodal.pisteet') || 'Pisteet' }}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3" for="hylkaysperuste">{{ t('laskentakaavaviiteasetuksetmodal.hylkaysperuste') || 'Hylkäysperuste' }}</label>
                <div class="col-md-9">
                    <div class="checkbox">
                        <label>
                            <input id="hylkaysperuste" ng-disabled="alikaavaValues.isAlikaava || !userAccess.updateOrg" type="checkbox"
                                   ng-model="parametri.hylkaysperuste" ng-true-value="'true'"
                                   ng-false-value="'false'"/>
                        </label>
                    </div>
                </div>
            </div>

            <div class="from-group" ng-if="parametri.hylkaysperuste === 'true'">
                <label class="col-md-3 control-label">{{ t('laskentakaavaviiteasetuksetmodal.Hylkäysperustekuvaukset') || 'Hylkäysperustekuvaukset' }}</label>

                <div class="col-md-9">
                    <button ng-disabled="alikaavaValues.isAlikaava || !userAccess.updateOrg" class="btn btn-sm btn-default"
                            ng-click="addArvokonvertterikuvaus(parametri)"><i class="fa fa-plus"></i> {{
                        t('laskentakaavaviiteasetuksetmodal.kuvaus') || 'Kuvaus' }}
                    </button>
                </div>

            </div>


            <div class="form-group" id="arvokonvertteri-kuvaukset" ng-if="parametri.hylkaysperuste === 'true'">
                <div class="col-md-offset-3 col-md-6">
                    <table class="table" ng-if="parametri.kuvaukset.tekstit.length > 0">
                        <thead>
                        <tr>
                            <td>{{ t('laskentakaavaviiteasetuksetmodal.kieli') || 'Kieli' }}</td>
                            <td>{{ t('laskentakaavaviiteasetuksetmodal.kuvaus') || 'Kuvaus' }}</td>
                            <td></td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="kuvaus in parametri.kuvaukset.tekstit">
                            <td><select ng-disabled="alikaavaValues.isAlikaava || !userAccess.updateOrg" ng-model="kuvaus.kieli"
                                        ng-options="item.key as item.text for item in arvokonvertterikuvauskielet"></select>
                            </td>
                            <td><input type="text" size="15" ng-model="kuvaus.teksti"/></td>
                            <td>
                                <button ng-disabled="alikaavaValues.isAlikaava || !userAccess.updateOrg" class="btn btn-default btn-sm"
                                        ng-click="removeKonvertteriParametriKuvaus($index, parametri)"><i
                                        class="fa fa-trash-o"></i></button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </form>
    </div>

</script>


<div ng-show="modalSelection.asetukset">
    <div class="modal-header">
        <!-- Funktiokutsun asetukset -->
        <h3>{{ t('laskentakaavaviiteasetuksetmodal.funktioasetukset') || 'Funktioasetukset' }}</h3>
    </div>

    <div class="modal-body">

        <!-- Funktiokutsun asetukset -->
        <div>
            <div ng-if="alikaavaValues.isAlikaava" class="alert alert-info margin-top-2">{{
                t('laskentakaavaviiteasetuksetmodal.eivoimuokata') || 'Alikaavan funktiokutsuja ei voi muokata.' }}
            </div>

            <h2 ng-if="funktioSelection">Funktiokutsun tyyppi: {{getFunktiokutsuName(funktioSelection)}}</h2>

            <div class="settingsform">

                <!-- Valintaperusteviitteet -->
                <div class="form-item">
                    <div ng-if="funktiokuvausForSelection.valintaperusteviitteet">
                        <label class="form-item-label" style="width:50px;">{{
                            t('laskentakaavaviiteasetuksetmodal.valintaperusteviitteet') || 'Valintaperusteviitteet'
                            }}</label>

                        <div ng-if="funktioSelection.lapsi.valintaperusteviitteet"
                             ng-repeat="valintaperusteviite in funktiokuvausForSelection.valintaperusteviitteet"
                             class="valintaperusteviite-form"
                             ng-init="valintaperuste = getValintaperuste(funktioSelection.lapsi.valintaperusteviitteet, $index)"
                             ng-include="'valintaperuste-default-template'">
                        </div>
                    </div>
                </div>

                <!-- Konvertterit -->
                <div class="form-item">

                    <div ng-if="funktiokuvausForSelection.konvertteri">
                        <label class="form-item-label" style="width:50px;">{{
                            t('laskentakaavaviiteasetuksetmodal.arvomuunnin') || 'Arvomuunnin' }}</label>

                        <div class="form-item-content">
                            <div class="field-select-containerbox">

                                <select ng-disabled="alikaavaValues.isAlikaava || !userAccess.updateOrg"
                                        ng-change="changeKonvertteriparametriTypeSelection(funktioasetukset.konvertteriType)"
                                        ng-model="funktioasetukset.konvertteriType"
                                        ng-options="konvertterityyppi.tyyppi as konvertterityyppi.tyyppi for konvertterityyppi in funktiokuvausForSelection.konvertteri.konvertteriTyypit">
                                </select>

                            </div>
                        </div>

                        <div class="form-item">
                            <label ng-if="funktioSelection.lapsi.arvokonvertteriparametrit.length > 0 || funktioSelection.lapsi.arvovalikonvertteriparametrit.length > 0"
                                   class="form-item-label" style="width:100px;">{{
                                t('laskentakaavaviiteasetuksetmodal.konversiomaarittelyt') || 'Konversiomäärittelyt'
                                }}</label>

                            <div class="form-item-content"
                                 ng-if="funktioSelection.lapsi.arvokonvertteriparametrit.length > 0"
                                 ng-include="'arvokonvertteri-template'"></div>
                            <div class="form-item-content"
                                 ng-if="funktioSelection.lapsi.arvovalikonvertteriparametrit.length > 0"
                                 ng-include="'arvovalikonvertteri-template'"></div>
                            <div class="clear"></div>
                        </div>

                        <button ng-disabled="alikaavaValues.isAlikaava || !userAccess.updateOrg" class="btn btn-sm btn-default"
                                ng-click="addFunktiokonvertteriparametri()"><i
                                class="fa fa-plus"></i> {{ t('laskentakaavaviiteasetuksetmodal.parametri') || 'Parametri' }}
                        </button>

                    </div>

                    <div class="clear"></div>
                </div>

                <!-- SYÖTEPARAMETRIT -->
                <div class="form-item">
                    <label class="form-item-label" style="width:150px;">{{
                        t('laskentakaavaviiteasetuksetmodal.arvonmaarittelyt') || 'Arvon määrittelyt' }}</label>

                    <div class="form-item-content">

                        <div class="settingsbox">
                            <table class="settingstable table table-striped">
                                <thead>
                                <tr>
                                    <td>{{ t('laskentakaavaviiteasetuksetmodal.maarite') || 'Määrite' }}</td>
                                    <td>{{ t('laskentakaavaviiteasetuksetmodal.arvo') || 'Arvo' }}</td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="funktiokuvausSyoteparametri in funktiokuvausForSelection.syoteparametrit">
                                    <td ng-if="funktiokuvausSyoteparametri.kuvaus.length <= 0">{{
                                        t('laskentakaavaviiteasetuksetmodal.avain') || 'Avain' }}:
                                        {{funktiokuvausSyoteparametri.avain}}
                                    </td>
                                    <td ng-if="funktiokuvausSyoteparametri.kuvaus.length > 0">
                                        {{funktiokuvausSyoteparametri.kuvaus}}
                                    </td>
                                    <td ng-init="syoteparametri = getSyoteparametri(funktioSelection.lapsi.syoteparametrit, funktiokuvausSyoteparametri)"
                                        ng-include="getSyoteparametriTemplate(funktiokuvausSyoteparametri.tyyppi)"></td>
                                </tr>
                                <tr>
                                    <td>{{ t('laskentakaavaviiteasetuksetmodal.tallennatulos') || 'Tallenna tulos' }}</td>
                                    <td><input ng-disabled="alikaavaValues.isAlikaava || !userAccess.updateOrg" type="checkbox" size="25"
                                               ng-model="funktioSelection.lapsi.tallennaTulos"/></td>
                                </tr>
                                <tr ng-show="funktioSelection.lapsi.tallennaTulos">
                                    <td>{{ t('laskentakaavaviiteasetuksetmodal.tulostunniste') || 'Tulostunniste' }}</td>
                                    <td><input ng-disabled="alikaavaValues.isAlikaava || !userAccess.updateOrg" type="text" size="25"
                                               placeholder="{{ t('laskentakaavaviiteasetuksetmodal.tulostunnistepakollinen') || 'Tulostunniste on pakollinen' }}"
                                               ng-model="funktioSelection.lapsi.tulosTunniste"/><i
                                            class="margin-left-1 fa fa-exclamation red"></i></td>
                                </tr>
                                <tr ng-show="funktioSelection.lapsi.tallennaTulos">
                                    <td>{{ t('laskentakaavaviiteasetuksetmodal.tulostekstifi') || 'Tulosteksti FI' }}</td>
                                    <td><input ng-disabled="alikaavaValues.isAlikaava || !userAccess.updateOrg" type="text" size="25"
                                               ng-model="funktioSelection.lapsi.tulosTekstiFi"/></td>
                                </tr>
                                <tr ng-show="funktioSelection.lapsi.tallennaTulos">
                                    <td>{{ t('laskentakaavaviiteasetuksetmodal.tulostekstisv') || 'Tulosteksti SV' }}</td>
                                    <td><input ng-disabled="alikaavaValues.isAlikaava || !userAccess.updateOrg" type="text" size="25"
                                               ng-model="funktioSelection.lapsi.tulosTekstiSv"/></td>
                                </tr>
                                <tr ng-show="funktioSelection.lapsi.tallennaTulos">
                                    <td>{{ t('laskentakaavaviiteasetuksetmodal.tulostekstien') || 'Tulosteksti EN' }}</td>
                                    <td><input ng-disabled="alikaavaValues.isAlikaava || !userAccess.updateOrg" type="text" size="25"
                                               ng-model="funktioSelection.lapsi.tulosTekstiEn"/></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>

    </div>


    <div class="modal-footer">
        <!-- Funktiokutsun asetukset -->
        <button class="btn btn-default btn-sm" ng-disabled="!userAccess.crudOrg" ng-click="toggleModalSelection('kaare')">{{ t('laskentakaavaviiteasetuksetmodal.funktiokutsunKaariminen') || 'Funktiokutsun kääriminen toisella funktiokutsulla'}}</button>
        <button class="btn btn-default btn-sm"
                ng-disabled="alikaavaValues.isAlikaava || funktioasetukset.parentFunktiokutsu === model.laskentakaavapuu.funktiokutsu || !userAccess.crudOrg"
                ng-click="toggleModalSelection('tallennusKaavana')">{{ t('laskentakaavaviiteasetuksetmodal.kaavanosantallennus') || 'Kaavan osan
            tallennus' }}
        </button>
        <button ng-disabled="alikaavaValues.isAlikaava || !userAccess.crudOrg" class="btn btn-sm btn-default"
                ng-click="removeFunktiokutsu(); sulje()" popover-popup-delay="500" popover-placement="top"
                popover-trigger="mouseenter"
                popover="{{ t('laskentakaavaviiteasetuksetmodal.muutokseteivat') || 'Muutokset eivät tallennu ennen kuin tallennat kaavan laskentakaavanäkymästä' }}">
            <i class="fa fa-trash-o"></i> {{ t('laskentakaavaviiteasetuksetmodal.poistafunktiokutsu') || 'Poista
            funktiokutsu' }}
        </button>
        <button class="btn btn-default btn-sm" ng-click="sulje()"
                role="button" popover-popup-delay="500" popover-placement="top" popover-trigger="mouseenter"
                popover="{{ t('laskentakaavaviiteasetuksetmodal.muutokseteivat') || 'Muutokset eivät tallennu ennen kuin tallennat kaavan laskentakaavanäkymästä' }}">
            {{ t('laskentakaavaviiteasetuksetmodal.sulje') || 'Sulje' }}
        </button>
    </div>
</div>


<div ng-show="modalSelection.tallennusKaavana">

    <div class="modal-header">
        <!-- tallenna funktiokutsu laskentakaavana -->
        <h3>{{ t('laskentakaavaviiteasetuksetmodal.tallentaminen') || 'Funktiokutsun tallentaminen
            laskentakaavana' }}</h3>
    </div>

    <div class="modal-body">
        <!-- tallenna funktiokutsu laskentakaavana -->
        <div>
            <form name="kaavaForm" class="form-horizontal margin-top-2">

                <div class="form-group">
                    <label class="col-md-4 control-label">{{ t('laskentakaavaviiteasetuksetmodal.laskentakaavaksi') ||
                        'Laskentakaavaksi tallennettava funktiokutsu' }}</label>
                    <span class="col-md-8 control-content" ng-if="funktioSelection">{{getFunktiokutsuName(funktioSelection)}}</span>
                </div>


                <div class="form-group">
                    <label class="col-md-4 control-label">{{ t('laskentakaavaviiteasetuksetmodal.laskentakaavannimi') ||
                        'Laskentakaavan nimi' }}</label>

                    <div class="col-md-8">
                        <input ng-disabled="!userAccess.crudOrg" type="text" ng-model="newKaavaNimi" required/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label">{{ t('laskentakaavaviiteasetuksetmodal.laskentakaavankuvaus') ||
                        'Laskentakaavan kuvaus' }}</label>

                    <div class="col-md-8">
                        <textarea ng-disabled="!userAccess.crudOrg" ng-model="newKaavaKuvaus"></textarea>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label">{{ t('laskentakaavaviiteasetuksetmodal.laskentakaavantyyppi') ||
                        'Laskentakaavan tyyppi' }}</label>

                    <div class="col-md-8">
                        <input ng-disabled="true" type="radio" name="tyyppi" value="TOTUUSARVOFUNKTIO"
                               ng-model="funktioSelection.lapsi.tyyppi"/>
                        {{ t('laskentakaavaviiteasetuksetmodal.totuusarvofunktio') || 'Totuusarvofunktio' }}
                        <br/>
                        <input ng-disabled="true" type="radio" name="tyyppi" value="LUKUARVOFUNKTIO"
                               ng-model="funktioSelection.lapsi.tyyppi"/> {{
                        t('laskentakaavaviiteasetuksetmodal.lukuarvofunktio') || 'Lukuarvofunktio' }}
                    </div>
                    <div class="clear"></div>
                </div>

            </form>
        </div>
    </div>
    <div class="modal-footer">
        <!-- tallenna funktiokutsu laskentakaavana -->
        <button class="btn btn-default btn-sm" ng-click="toggleModalSelection('asetukset')" popover-popup-delay="500"
                popover-placement="top" popover-trigger="mouseenter"
                popover="{{ t('laskentakaavaviiteasetuksetmodal.muutokseteivat') || 'Muutokset eivät tallennu ennen kuin tallennat kaavan laskentakaavanäkymästä' }}">
            <i class="fa fa-arrow-left"></i> {{ t('laskentakaavaviiteasetuksetmodal.palaafunktioasetuksiin') || 'Palaa
            funktioasetuksiin' }}
        </button>
        <button class="btn btn-primary btn-sm" ng-disabled="!newKaavaNimi || !userAccess.crudOrg"
                ng-click="saveAsNewLaskentakaava(funktioasetukset.parentFunktiokutsu, funktioSelection, newKaavaNimi, newKaavaKuvaus, sulje)">
            <i class="fa fa-floppy-o"></i> {{ t('laskentakaavaviiteasetuksetmodal.tallenna') || 'Tallenna uutena
            laskentakaavana' }}
        </button>
        <button class="btn btn-default btn-sm" ng-click="sulje()" popover-popup-delay="500" popover-placement="top"
                popover-trigger="mouseenter"
                popover="{{ t('laskentakaavaviiteasetuksetmodal.muutokseteivat') || 'Muutokset eivät tallennu ennen kuin tallennat kaavan laskentakaavanäkymästä' }}">
            {{ t('laskentakaavaviiteasetuksetmodal.sulje') || 'Sulje' }}
        </button>
    </div>

</div>

<div ng-show="modalSelection.kaare">

    <div class="modal-header">
        <h3>{{ t('funktiokutsukaaremodal.header') || 'Funktiokutsun kääriminen toisella funktiokutsulla'}}</h3>
    </div>
    <div class="modal-body">
        <table class="funktiokutsut">
            <tbody>
            <tr>
                <td ng-click="addFunktio(parent, 'HAELUKUARVO', funktioSlotIndex); showNewFunktioList.visible = false">
                    <span>{{ t('laskentakaavapuu.haelukuarvo') || 'Hae lukuarvo' }}</span></td>
                <td ng-click="addFunktio(parent, 'LUKUARVO', funktioSlotIndex); showNewFunktioList.visible = false"><span>{{ t('laskentakaavapuu.vakio') || 'Vakio' }}</span>
                </td>
            </tr>
            <tr>
                <td ng-click="addFunktio(parent, 'SUMMA', funktioSlotIndex); showNewFunktioList.visible = false">
                    <span>{{ t('laskentakaavapuu.summa') || 'Summa' }}</span></td>
                <td ng-click="addFunktio(parent, 'JOS', funktioSlotIndex); showNewFunktioList.visible = false">
                    <span>{{ t('laskentakaavapuu.jos') || 'Jos' }}</span></td>
            </tr>
            <tr>
                <td ng-click="addFunktio(parent, 'TULO', funktioSlotIndex); showNewFunktioList.visible = false">
                    <span>{{ t('laskentakaavapuu.tulo') || 'Tulo' }}</span></td>
                <td ng-click="addFunktio(parent, 'OSAMAARA', funktioSlotIndex); showNewFunktioList.visible = false"><span>{{ t('laskentakaavapuu.osamaara') || 'Osamäärä' }}</span>
                </td>
            </tr>
            <tr>
                <td ng-click="addFunktio(parent, 'KESKIARVO', funktioSlotIndex); showNewFunktioList.visible = false"><span>{{ t('laskentakaavapuu.keskiarvo') || 'Keskiarvo' }}</span>
                </td>
                <td ng-click="addFunktio(parent, 'MEDIAANI', funktioSlotIndex); showNewFunktioList.visible = false"><span>{{ t('laskentakaavapuu.mediaani') || 'Mediaani' }}</span>
                </td>
            </tr>
            <tr>
                <td ng-click="addFunktio(parent, 'MINIMI', funktioSlotIndex); showNewFunktioList.visible = false"><span>{{ t('laskentakaavapuu.minimi') || 'Minimi' }}</span>
                </td>
                <td ng-click="addFunktio(parent, 'MAKSIMI', funktioSlotIndex); showNewFunktioList.visible = false"><span>{{ t('laskentakaavapuu.maksimi') || 'Maksimi' }}</span>
                </td>
            </tr>
            <tr>
                <td ng-click="addFunktio(parent, 'SUMMANPARASTA', funktioSlotIndex); showNewFunktioList.visible = false">
                    <span>{{ t('laskentakaavapuu.nparastasumma') || 'N parasta summa' }}</span></td>
                <td ng-click="addFunktio(parent, 'KESKIARVONPARASTA', funktioSlotIndex); showNewFunktioList.visible = false">
                    <span>{{ t('laskentakaavapuu.nparastakeskiarvo') || 'N parasta keskiarvo' }}</span></td>
            </tr>
            <tr>
                <td ng-click="addFunktio(parent, 'NMAKSIMI', funktioSlotIndex); showNewFunktioList.visible = false"><span>{{ t('laskentakaavapuu.nparas') || 'N paras' }}</span>
                </td>
                <td ng-click="addFunktio(parent, 'NMINIMI', funktioSlotIndex); showNewFunktioList.visible = false"><span>{{ t('laskentakaavapuu.nhuonoin') || 'N huonoin' }}</span>
                </td>
            </tr>
            <tr>
                <td ng-click="addFunktio(parent, 'NEGAATIO', funktioSlotIndex); showNewFunktioList.visible = false"><span>{{ t('laskentakaavapuu.negaatio') || 'Negaatio' }}</span>
                </td>
                <td ng-click="addFunktio(parent, 'PYORISTYS', funktioSlotIndex); showNewFunktioList.visible = false"><span>{{ t('laskentakaavapuu.pyoristys') || 'Pyöristys' }}</span>
                </td>
            </tr>
            <tr>
                <td ng-click="addFunktio(parent, 'HYLKAA', funktioSlotIndex); showNewFunktioList.visible = false"><span>{{ t('laskentakaavapuu.hylkaa') || 'Hylkää' }}</span>
                </td>
                <td ng-click="addFunktio(parent, 'HYLKAAARVOVALILLA', funktioSlotIndex); showNewFunktioList.visible = false">
                    <span>{{ t('laskentakaavapuu.hylkaaarvovalilla') || 'Hylkää arvovälillä' }}</span></td>
            </tr>
            <tr>
                <td ng-click="addFunktio(parent, 'KONVERTOILUKUARVO', funktioSlotIndex); showNewFunktioList.visible = false">
                    <span>{{ t('laskentakaavapuu.konversio') || 'Konversio' }}</span></td>
                <td ng-click="addFunktio(parent, 'HAEOSAKOEARVOSANA', funktioSlotIndex); showNewFunktioList.visible = false">
                    <span>{{ t('laskentakaavapuu.yoosakoearvosana') || 'YO-osakoearvosana' }}</span>
                </td>
            </tr>
            <tr>
                <td ng-click="addFunktio(parent, 'HAETOTUUSARVOJAKONVERTOILUKUARVOKSI', funktioSlotIndex); showNewFunktioList.visible = false">
                    <span>{{ t('laskentakaavapuu.haetotuusarvojakonvertoilukuarvoksi') || 'Hae totuusarvo ja konvertoi lukuarvoksi' }}</span>
                </td>
                <td ng-click="addFunktio(parent, 'NIMETTYLUKUARVO', funktioSlotIndex); showNewFunktioList.visible = false">
                    <span>{{ t('laskentakaavapuu.nimettylukuarvo') || 'Nimetty lukuarvo' }}</span></td>
            </tr>
            <tr>
                <td ng-click="addFunktio(parent, 'SKAALAUS', funktioSlotIndex); showNewFunktioList.visible = false"><span>{{ t('laskentakaavapuu.skaalaus') || 'Skaalaus' }}</span>
                </td>
                <td ng-click="addFunktio(parent, 'PAINOTETTUKESKIARVO', funktioSlotIndex); showNewFunktioList.visible = false">
                    <span>{{ t('laskentakaavapuu.painotettukeskiarvo') || 'Painotettu keskiarvo' }}</span></td>
            </tr>
            <tr>
                <td ng-click="addFunktio(parent, 'HAELUKUARVOEHDOLLA', funktioSlotIndex); showNewFunktioList.visible = false">
                    <span>{{ t('laskentakaavapuu.haelukuarvoehdolla') || 'Hae lukuarvo ehdolla' }}</span></td>
                <td ng-click="addFunktio(parent, 'HAEYOARVOSANA', funktioSlotIndex); showNewFunktioList.visible = false">
                    <span>{{ t('laskentakaavapuu.yoarvosana') || 'YO-arvosana' }}</span></td>
            </tr>
            <tr ng-if="parent.lapsi">
                <td ng-click="addLaskentakaavaviite(parent, funktioSlotIndex); showNewFunktioList.visible = false"><span>{{ t('laskentakaavapuu.viittaus') || 'Viittaus toiseen kaavaan' }}</span>
                </td>
                <td ng-click="addFunktio(parent, 'HAEMERKKIJONOJAKONVERTOILUKUARVOKSI', funktioSlotIndex); showNewFunktioList.visible = false">
                    <span>{{ t('laskentakaavapuu.haemerkkijono') || 'Hae merkkijono ja konvertoi lukuarvoksi' }}</span></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="modal-footer">
        <button class="btn btn-default btn-sm" ng-click="toggleModalSelection('asetukset')" popover-popup-delay="500"
                popover-placement="top" popover-trigger="mouseenter"
                popover="{{ t('laskentakaavaviiteasetuksetmodal.muutokseteivat') || 'Muutokset eivät tallennu ennen kuin tallennat kaavan laskentakaavanäkymästä' }}">
            <i class="fa fa-arrow-left"></i> {{ t('laskentakaavaviiteasetuksetmodal.palaafunktioasetuksiin') || 'Palaa
            funktioasetuksiin' }}
        </button>

        <button class="btn btn-default btn-sm" ng-click="sulje()" popover-popup-delay="500" popover-placement="top"
                popover-trigger="mouseenter"
                popover="{{ t('laskentakaavaviiteasetuksetmodal.muutokseteivat') || 'Muutokset eivät tallennu ennen kuin tallennat kaavan laskentakaavanäkymästä' }}">
            {{ t('laskentakaavaviiteasetuksetmodal.sulje') || 'Sulje' }}
        </button>
    </div>

</div>