<!-- Arvojen syöttö -templatet -->
<script type="text/ng-template" id="desimaaliluku-template">
    <input ng-disabled="alikaavaValues.isAlikaava" type="text" size="15" ng-model="syoteparametri.arvo"/>
</script>
<script type="text/ng-template" id="kokonaisluku-template">
    <input ng-disabled="alikaavaValues.isAlikaava" type="text" size="15" ng-model="syoteparametri.arvo"/>
</script>
<script type="text/ng-template" id="totuusarvo-template">
    <input ng-disabled="alikaavaValues.isAlikaava" type="radio" size="15" ng-model="syoteparametri.arvo" value="true"/> Tosi
    <input ng-disabled="alikaavaValues.isAlikaava" type="radio" size="15" ng-model="syoteparametri.arvo" value="false"/> Epätosi
</script>
<script type="text/ng-template" id="merkkijono-template">
    <input ng-disabled="alikaavaValues.isAlikaava" type="text" size="15" ng-model="syoteparametri.arvo"/>
</script>
<script type="text/ng-template" id="arvojoukko-template">
    <select ng-disabled="alikaavaValues.isAlikaava" ng-model="syoteparametri.arvo" ng-options="key as value for (key, value) in funktiokuvausSyoteparametri.arvojoukko"></select>
</script>

<!-- Valintaperuste default template -->
<script type="text/ng-template" id="valintaperuste-default-template">
    <div class="form-item-content">
        <form class="form-horizontal valintaperuste-form" role="form">
            <h3 ng-if="valintaperusteviite.kuvaus">{{valintaperusteviite.kuvaus}}</h3>
            <h3 ng-if="!valintaperusteviite.kuvaus">{{valintaperusteviite.nimi}}</h3>

            <div class="form-group">
                <label class="col-sm-3 control-label">Tyyppi</label>
                <div class="col-sm-9">
                    <select ng-disabled="alikaavaValues.isAlikaava" ng-model="valintaperuste.lahde"
                            ng-options="item.key as item.text for item in valintaperusteviitetyypit">
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">Pakollinen tieto</label>
                <div class="col-sm-9">
                    <input ng-disabled="alikaavaValues.isAlikaava" type="checkbox" id="requiredparam" ng-model="valintaperuste.onPakollinen"/>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">Kuvaus</label>
                <div class="col-sm-9">
                    <textarea ng-disabled="alikaavaValues.isAlikaava" style="width: 330px" ng-model="valintaperuste.kuvaus"></textarea>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">Tunniste</label>
                <div class="col-sm-9" ng-if="valintaperusteviite.tyyppi != 'ARVOJOUKKO'">
                    <input ng-disabled="alikaavaValues.isAlikaava" type="text" ng-model="valintaperuste.tunniste" required="required"/>
                </div>
                <div class="col-sm-9" ng-if="valintaperusteviite.tyyppi == 'ARVOJOUKKO'">
                    <select ng-disabled="alikaavaValues.isAlikaava" ng-model="valintaperuste.tunniste" ng-options="key as value for (key, value) in valintaperusteviite.arvojoukko"></select>
                </div>
            </div>
        </form>
    </div>
</script>


<!-- ARVOVÄLIKONVERTTERI template -->
<script type="text/ng-template" id="arvovalikonvertteri-template">
    <div class="form-item-content">

        <div class="settingsbox">
            <form ng-repeat="parametri in funktioSelection.lapsi.arvovalikonvertteriparametrit"
                  class="form-horizontal arvovalikonvertteri-form " role="form">
                <div><button ng-disabled="alikaavaValues.isAlikaava" class="btn btn-sm btn-default"
                        ng-click="removeKonvertteriParametri($index, 'ARVOVALIKONVERTTERI')"><i
                        class="fa fa-trash-o"></i> Poista parametri</button></div>
                <div>
                    <span>
                        <input ng-disabled="alikaavaValues.isAlikaava" type="text" size="10" ng-model="parametri.minValue" placeholder="Min"/>
                   </span>

                    <span ng-show="!$last" class="white-space-nowrap">&le; x &lt;</span>
                    <span ng-show="$last" class="white-space-nowrap">&le; x &le;</span>

                   <span>
                        <input ng-disabled="alikaavaValues.isAlikaava" type="text" size="10" ng-model="parametri.maxValue" placeholder="Max"/>
                   </span>
                </div>
                <div class="checkbox">
                    <label>
                        <input ng-disabled="alikaavaValues.isAlikaava" type="checkbox" ng-model="parametri.palautaHaettuArvo" ng-true-value="true"
                               ng-false-value="false"/> Palauta haettu arvo
                    </label>
                </div>
                <div class="form-group">
                    <label class="col-sm-5 control-label">Pisteet</label>
                    <input type="text" size="10" ng-model="parametri.paluuarvo" placeholder="Pisteet"
                           ng-disabled="parametri.palautaHaettuArvo == 'true' || alikaavaValues.isAlikaava"/>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-5 col-sm-7">
                        <div class="checkbox">
                            <label>
                                <input ng-disabled="alikaavaValues.isAlikaava" type="checkbox" ng-model="parametri.hylkaysperuste" ng-true-value="true"
                                       ng-false-value="false" /> Hylkäysperuste
                            </label>
                        </div>
                    </div>
                </div>
                <div id="arvovalikonvertteri-kuvaukset" ng-if="parametri.hylkaysperuste">
                    <div><b>Hylkäysperustekuvaukset</b></div>
                    <table class="table" ng-if="parametri.kuvaukset.tekstit.length > 0">
                        <thead>
                        <tr>
                            <td>Kieli</td>
                            <td>Kuvaus</td>
                            <td></td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="kuvaus in parametri.kuvaukset.tekstit">
                            <td><select ng-disabled="alikaavaValues.isAlikaava" ng-model="kuvaus.kieli"
                                        ng-options="item.key as item.text for item in arvokonvertterikuvauskielet"></select>
                            </td>
                            <td><input ng-disabled="alikaavaValues.isAlikaava" type="text" size="15" ng-model="kuvaus.teksti"/></td>
                            <td><button ng-disabled="alikaavaValues.isAlikaava" ng-click="removeKonvertteriParametriKuvaus($index, parametri)"><i
                                    class="fa fa-trash-o"></i></button></td>
                        </tr>
                        </tbody>
                    </table>
                    <button ng-disabled="alikaavaValues.isAlikaava" class="btn btn-sm btn-default" ng-click="addArvokonvertterikuvaus(parametri)"><i
                            class="fa fa-plus"></i> Kuvaus</button>
                </div>
            </form>


        </div>
    </div>
</script>


<!-- ARVOKONVERTTERI template -->
<script type="text/ng-template" id="arvokonvertteri-template">


    <div class="settingsbox">
        <form ng-repeat="parametri in funktioSelection.lapsi.arvokonvertteriparametrit"
              class="form-horizontal arvokonvertteri-form" role="form">
            <div class="pull-left"><button ng-disabled="alikaavaValues.isAlikaava" ng-click="removeKonvertteriParametri($index, 'ARVOKONVERTTERI')"><i
                    class="fa fa-trash-o"></i></button></div>
            <div class="clearfix"/>
            <div class="form-group">
                <label class="col-sm-5 control-label">Arvo</label>

                <div class="col-sm-7">
                    <input ng-disabled="alikaavaValues.isAlikaava" type="text" size="9" ng-model="parametri.arvo" placeholder="Arvo"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-5 control-label">Pisteet</label>

                <div class="col-sm-7">
                    <input ng-disabled="alikaavaValues.isAlikaava" type="text" size="9" ng-model="parametri.paluuarvo" placeholder="Pisteet"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-5 col-sm-7">
                    <div class="checkbox">
                        <label>
                            <input ng-disabled="alikaavaValues.isAlikaava" type="checkbox" ng-model="parametri.hylkaysperuste" ng-true-value="true"
                                   ng-false-value="false"/> Hylkäysperuste
                        </label>
                    </div>
                </div>
            </div>
            <div id="arvokonvertteri-kuvaukset" ng-if="parametri.hylkaysperuste">
                <div><b>Hylkäysperustekuvaukset</b></div>
                <table class="table" ng-if="parametri.kuvaukset.tekstit.length > 0">
                    <thead>
                    <tr>
                        <td>Kieli</td>
                        <td>Kuvaus</td>
                        <td></td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="kuvaus in parametri.kuvaukset.tekstit">
                        <td><select ng-disabled="alikaavaValues.isAlikaava" ng-model="kuvaus.kieli"
                                    ng-options="item.key as item.text for item in arvokonvertterikuvauskielet"></select>
                        </td>
                        <td><input type="text" size="15" ng-model="kuvaus.teksti"/></td>
                        <td><button ng-disabled="alikaavaValues.isAlikaava" ng-click="removeKonvertteriParametriKuvaus($index, parametri)"><i
                                class="fa fa-trash-o"></i></button></td>
                    </tr>
                    </tbody>
                </table>
                <button ng-disabled="alikaavaValues.isAlikaava" class="button small" ng-click="addArvokonvertterikuvaus(parametri)"><i class="fa fa-plus"></i> Kuvaus</button>
            </div>
        </form>
    </div>

</script>


<div class="modal-header">
    <h3>Funktioasetukset</h3>
</div>
<div class="modal-body">
    <div ng-if="alikaavaValues.isAlikaava" class="alert alert-info margin-top-2">Alikaavan funktiokutsuja ei voi muokata.</div>
    <h2>{{getFunktiokutsuName(funktioSelection)}}</h2>
    <div class="settingsform">

        <!-- Valintaperusteviitteet -->
        <div class="form-item">
            <div ng-if="funktiokuvausForSelection.valintaperusteviitteet">
                <label class="form-item-label" style="width:50px;">Valintaperusteviitteet</label>
                <div ng-if="funktioSelection.lapsi.valintaperusteviitteet"
                     ng-repeat="valintaperusteviite in funktiokuvausForSelection.valintaperusteviitteet" class="valintaperusteviite-form"
                     ng-init="valintaperuste = getValintaperuste(funktioSelection.lapsi.valintaperusteviitteet, $index)"
                     ng-include="'valintaperuste-default-template'">

                </div>
            </div>
        </div>

        <!-- Konvertterit -->
        <div class="form-item">

            <div ng-if="funktiokuvausForSelection.konvertteri">
                <label class="form-item-label" style="width:50px;">Arvomuunnin</label>

                <div class="form-item-content">
                    <div class="field-select-containerbox">

                        <select ng-disabled="alikaavaValues.isAlikaava" ng-change="changeKonvertteriparametriTypeSelection(funktioasetukset.konvertteriType)"
                                ng-model="funktioasetukset.konvertteriType"
                                ng-options="konvertterityyppi.tyyppi as konvertterityyppi.tyyppi for konvertterityyppi in funktiokuvausForSelection.konvertteri.konvertteriTyypit">
                        </select>

                    </div>
                </div>

                <div class="form-item">
                    <label ng-if="funktioSelection.lapsi.arvokonvertteriparametrit.length > 0 || funktioSelection.lapsi.arvovalikonvertteriparametrit.length > 0"
                           class="form-item-label" for="" style="width:100px;">Konversiomäärittelyt</label>

                    <div class="form-item-content" ng-if="funktioSelection.lapsi.arvokonvertteriparametrit.length > 0"
                         ng-include="'arvokonvertteri-template'"></div>
                    <div class="form-item-content"
                         ng-if="funktioSelection.lapsi.arvovalikonvertteriparametrit.length > 0"
                         ng-include="'arvovalikonvertteri-template'"></div>
                    <div class="clear"></div>
                </div>

                <button ng-disabled="alikaavaValues.isAlikaava" class="btn btn-sm btn-default" ng-click="addFunktiokonvertteriparametri()"><i
                        class="fa fa-plus"></i> Parametri</button >

            </div>

            <div class="clear"></div>
        </div>

        <!-- SYÖTEPARAMETRIT -->
        <div class="form-item">
            <label class="form-item-label" style="width:150px;">Arvon määrittelyt</label>

            <div class="form-item-content">

                <div class="settingsbox">
                    <table class="settingstable table table-striped">
                        <thead>
                        <tr>
                            <td>Määrite</td>
                            <td>Arvo</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="funktiokuvausSyoteparametri in funktiokuvausForSelection.syoteparametrit" ng-if="funktioSelection.lapsi.syoteparametrit.length > 0">
                            <td ng-if="funktiokuvausSyoteparametri.kuvaus.length <= 0">Avain: {{funktiokuvausSyoteparametri.avain}}</td>
                            <td ng-if="funktiokuvausSyoteparametri.kuvaus.length > 0">{{funktiokuvausSyoteparametri.kuvaus}}</td>
                            <td ng-init="syoteparametri = getSyoteparametri(funktioSelection.lapsi.syoteparametrit, funktiokuvausSyoteparametri)"
                                ng-include="getSyoteparametriTemplate(funktiokuvausSyoteparametri.tyyppi)"></td>
                        </tr>
                        <tr>
                            <td>Tallenna tulos</td>
                            <td><input ng-disabled="alikaavaValues.isAlikaava" type="checkbox" size="25" ng-model="funktioSelection.lapsi.tallennaTulos"/></td>
                        </tr>
                        <tr ng-show="funktioSelection.lapsi.tallennaTulos">
                            <td>Tulostunniste</td>
                            <td><input ng-disabled="alikaavaValues.isAlikaava" type="text" size="25" placeholder="Tulostunniste on pakollinen" ng-model="funktioSelection.lapsi.tulosTunniste"/><i class="margin-left-1 fa fa-exclamation red"></i></td>
                        </tr>
                        <tr ng-show="funktioSelection.lapsi.tallennaTulos">
                            <td>Tulosteksti FI</td>
                            <td><input ng-disabled="alikaavaValues.isAlikaava" type="text" size="25" ng-model="funktioSelection.lapsi.tulosTekstiFi"/></td>
                        </tr>
                        <tr ng-show="funktioSelection.lapsi.tallennaTulos">
                            <td>Tulosteksti SV</td>
                            <td><input ng-disabled="alikaavaValues.isAlikaava" type="text" size="25" ng-model="funktioSelection.lapsi.tulosTekstiSv"/></td>
                        </tr>
                        <tr ng-show="funktioSelection.lapsi.tallennaTulos">
                            <td>Tulosteksti EN</td>
                            <td><input ng-disabled="alikaavaValues.isAlikaava" type="text" size="25" ng-model="funktioSelection.lapsi.tulosTekstiEn"/></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button ng-disabled="alikaavaValues.isAlikaava" class="btn btn-sm btn-default" ng-click="removeFunktiokutsu(); sulje()"><i class="fa fa-trash-o"></i> Poista funktiokutsu</button>
    <a class="btn btn-default btn-sm" ng-click="sulje();"
       role="button">Sulje</a>
</div>
