<div class="modal-header">
    <h3>Laskentakaavaviitteen valinta</h3>
</div>

<div class="modal-body">
    <div ng-repeat="valintaryhmaList in laskentakaavalista.valintaryhmaList()">

        <div ng-repeat="valintaryhma in valintaryhmaList">
            <div ng-if="valintaryhma.laskentakaavat" class="settingsform laskentakaavaviitteet">
                <h3>Valintaryhmä: {{valintaryhma.nimi}}</h3>
                <div ng-if="kaava.id !== model.laskentakaavapuu.id" ng-repeat="kaava in valintaryhma.laskentakaavat">
                <input id="{{kaava.id}}" type="radio" name="laskentakaavaviite" ng-value="kaava.id"
                           ng-change="setLaskentakaavaviite(kaava)" ng-model="laskentakaavaviite.selection.lapsi.id"/>
                    <label for="{{kaava.id}}" name="laskentakaavaviite">
                        {{kaava.nimi}} <a ng-click="sulje()" ng-href="#/valintaryhma/{{valintaryhma.oid}}/laskentakaavalista/laskentakaava/{{kaava.id}}"><i class="fa fa-pencil"></i></a>
                    </label>
                </div>
            </div>
        </div>


    </div>
</div>
<div class="modal-footer">
    <span class="btn btn-sm btn-default" ng-click="removeLaskentakaavaviite()"><i class="fa fa-trash-o"></i> Poista laskentakaavaviite</span>
    <a class="btn btn-default btn-sm" ng-click="sulje();"
       role="button">Sulje</a>
</div>