<!-- Node template -->
<script type="text/ng-template" id="organisaatio.html">
    <span class="label">
        <i class="fa fa-sitemap organisaatio"
           ng-class="{ auki: (data.open || data.children.length == 0),
                kiinni: (!data.open && data.children.length > 0)}"
           ng-click="openChildren(data)"></i>
        <label>
            <a href="" ng-click="organisaatioSelector(data);close()">{{data.nimi['fi'] || data.nimi['sv'] ||
                data.nimi['en']}}</a>
            <span ng-repeat="type in data.organisaatiotyypit">({{type}}) </span>
        </label>
    </span>
    <ol ng-if="data.open">
        <li ng-repeat="data in data.children" ng-include="'organisaatio.html'">
        </li>
    </ol>

</script>


<div ng-controller="OrganisaatioTreeController">
    <button type="button" class="btn btn-sm btn-default" ng-click="show()"><i
            class="fa fa-plus"></i> Organisaatio
    </button>

    <modal modal-template="../common/partials/organisaatio.html"></modal>
    

</div>