<div class="modal-header">
    <h3>Valintaryhmän liittäminen organisaatioon</h3>
</div>

<div class="modal-body">
    <input type="text" class="search" placeholder="Lisää organisaatioita" ng-model="orgTree.searchStr"/>
    <i class="fa fa-trash-o organisaatio" ng-click="clear()"></i>
    <br/>
    <span>Hakutuloksia: {{orgTree.model.numHits || 0}}</span>
    <ol class="treelist collapsible">
        <li ng-repeat="data in orgTree.model.organisaatiot" ng-include="'organisaatio.html'">
        </li>
    </ol>
</div>
<div class="modal-footer">
    <a class="btn btn-default btn-sm" ng-click="sulje();"
       role="button">Sulje</a>
</div>