<!-- LASKENTAKAAVAPAGE CONTENT -->
<h1>{{ t('laskentakaavalomake.header') || 'Laskentakaavan muokkaus' }}</h1>


<div class="tabs">
    <a href="#/etusivu" class="tab"><span>{{ t('common.etusivu') || 'Valintaryhmät ja hakukohteet' }}</span></a>
    <a href="#/laskentakaava" class="tab current"><span>{{ t('common.laskentakaava') || 'Laskentakaavat' }}</span></a>
    <a auth="crudOph" href="#/import" class="tab float-right"><span>{{ t('common.import') || 'Yhteisvalinnan hallinta' }}</span></a>
</div>

<div class="tabsheets">
    <div class="col-sm-12">
        <breadcrumb></breadcrumb>
    </div>

    <div class="col-sm-12 margin-bottom-2">
        <button class="btn btn-sm btn-default" ng-click="back()" popover-popup-delay="250" popover-placement="top"
              popover-trigger="mouseenter" popover="{{ t('common.muista') || 'Muista tallentaa muutoksesi' }}"><i
                class="fa fa-arrow-left"></i> {{ t('laskentakaavat.listaan') || 'Laskentakaavalistaan' }}</button>
        <button class="btn btn-sm btn-default" ng-if="hasHakijaryhmaCookie()" ng-click="returnHakijaryhmaLuonti()"
              popover-popup-delay="250"
              popover-placement="top"
              popover-trigger="mouseenter"
              popover="{{ t('common.muista') || 'Muista tallentaa muutoksesi' }}">
            <i class="fa fa-arrow-left"></i> {{ t('laskentakaavat.hakijaryhmanluontiin') || 'Takaisin hakijaryhmän luontiin' }}
        </button>
        <button auth ng-disabled="!userAccess.updateOrg" ng-if="kaavaHasId" class="btn btn-sm btn-primary" ng-click="persist()"><i class="fa fa-floppy-o"></i> {{ t('common.tallenna') || 'Tallenna' }}</button>
        <button ng-if="!kaavaHasId && newKaavaTemplate" class="btn btn-sm btn-primary" ng-click="persistNewKaava()"><i
                class="fa fa-floppy-o"></i> {{ t('laskentakaavat.uusikaava.tallenna') || 'Tallenna uusi kaava'}}</button>
        <button ng-if="!kaavaHasId && !newKaavaTemplate" class="btn btn-sm btn-primary"
              ng-click="initializeKaava()">
            <i class="fa fa-plus"></i> {{ t('uusilaskentakaava.alusta') || 'Alusta uusi laskentakaava' }}
        </button>
    </div>


    <!-- Laskentakaavapuu -->
    <div ng-show="!showNewKaava" ng-include="'laskentakaavat/laskentakaavaeditori/puu/laskentakaavapuu.html'"></div>

    <!-- Uusi laskentakaava -->
    <div ng-show="showNewKaava" ng-include="'laskentakaavat/laskentakaavaeditori/uusilaskentakaava.html'"></div>


    <div class="clear"></div>
</div>
