<div ng-controller="UusiLaskentakaavaController">
    <span class="btn btn-sm btn-default" ng-click="back()"><i class="fa fa-arrow-left"></i> Takaisin</span>
    <button class="btn btn-sm btn-primary"
            ng-click="createKaava(kaava)"
            ng-disabled="kaavaForm.$invalid"><i class="fa fa-plus"></i> Alusta uusi laskentakaava
    </button>

    <h2>Uuden laskentakaavan luonti</h2>

    <form name="kaavaForm" class="margin-top-2" novalidate>
        <div class="form-row">
            <div class="form-row-label">Laskentakaavan nimi</div>

            <div class="form-row-content">
                <input type="text" ng-model="kaava.nimi" required/>
            </div>
            <div class="clear"></div>
        </div>
        <div class="form-row">
            <div class="form-row-label">Laskentakaavan kuvaus</div>

            <div class="form-row-content">
                <textarea ng-model="kaava.kuvaus"></textarea>
            </div>
            <div class="clear"></div>
        </div>
        <div class="form-row" ng-show="!kaava.id">
            <div class="form-row-label">Laskentakaavan tyyppi</div>

            <div class="form-row-content">
                <input type="radio" name="tyyppi" value="NIMETTYTOTUUSARVO" ng-model="kaava.tyyppi"/>
                Totuusarvofunktio
                <br/>
                <input type="radio" name="tyyppi" value="NIMETTYLUKUARVO" ng-model="kaava.tyyppi"/> Lukuarvofunktio
            </div>
            <div class="clear"></div>
        </div>

    </form>
</div>