<h1>Yhteisvalinnan hallinta</h1>

<div class="tabs">
    <a href="#/etusivu" class="tab"><span>Valintaryhmät ja hakukohteet</span></a>
    <a href="#/laskentakaava" class="tab"><span>Laskentakaavat</span></a>
    <a auth="crudOph" href="#/import" class="tab float-right current"><span>Yhteisvalinnan hallinta</span></a>
</div>
<div class="tabsheets">

    <h2>Synkronoi tarjonta</h2>

    <div>
        <select ng-model="model.hakuOid" ng-options="haku.nimi.kieli_fi for haku in model.haut | orderBy:'nimi.kieli_fi'"></select>
        <a auth="crudOph" ng-click="aktivoi()" class="btn btn-primary btn-sm">Synkronoi tarjonta</a>
    </div>

</div>

