
<script type="text/ng-template" id="">

</script>

<h1>Laskentakaavojen hallinta</h1>

<div class="tabs">
    <a href="#/etusivu" class="tab"><span>Valintaryhmät ja hakukohteet</span></a>
    <a href="#/laskentakaava" class="tab current"><span>Laskentakaavat</span></a>
    <a auth="crudOph" href="#/import" class="tab float-right"><span>Yhteisvalinnan hallinta</span></a>
</div>

<div class="tabsheets">
    <breadcrumb></breadcrumb>
    <h2>Laskentakaavalista</h2>
    
    <span ng-click="createKaava()" class="btn btn-default btn-sm"><i class="fa fa-plus"></i> Uusi laskentakaava</span>
   
    <div ng-show="showForm">
        <form class="form-horizontal" name="kaavaForm" novalidate>
            <div class="form-group">
                <label class="col-md-2 control-label">Laskentakaavan nimi</label>

                <div class="col-md-10 control-content">
                    <input type="text" ng-model="kaava.nimi" required />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">Laskentakaavan kuvaus</label>

                <div class="col-md-10 control-content">
                    <textarea ng-model="kaava.kuvaus"></textarea>
                </div>
            </div>
            <div class="form-group" ng-show="!kaava.id">
                <label class="control-label col-md-2">Laskentakaavan tyyppi</label>

                <div class="control-content col-md-10">
                    <input type="radio" name="tyyppi" value="NIMETTYTOTUUSARVO" ng-model="kaava.tyyppi" /> Totuusarvofunktio
                    <br />
                    <input type="radio" name="tyyppi" value="NIMETTYLUKUARVO" ng-model="kaava.tyyppi" /> Lukuarvofunktio
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-2">
                    <button class="btn btn-default btn-sm"
                          ng-click="saveKaava(kaava)"
                          ng-disabled="kaavaForm.$invalid"><i
                            class="fa fa-floppy-o"></i> Tallenna</button>
                    <span class="btn btn-default btn-sm" ng-click="cancelEdit(kaava)"><i
                            class="fa fa-arrow-left"></i> Peruuta</span>
                </div>
            </div>
        </form>
    </div>

    <div class="col-md-12" ng-repeat="hakukohde in hakukohdeLaskentakaavaLista.hakukohdeList()">


        <h3>{{hakukohde.nimi}}</h3>
        <div class="alert alert-info" ng-show="hakukohde.laskentakaavat.length == 0">
            <p>Tälle hakukohteelle ei ole luotu yhtään laskentakaavaa.</p>
        </div>

        <table class="virkailija-table-1" ng-show="hakukohde.laskentakaavat.length > 0">
            <thead>
                <tr>
                    <th>Nimi</th>
                    <th>Kuvaus</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="kaava in hakukohde.laskentakaavat">
                    <td>
                        <a href="#{{linkprefix}}/laskentakaava/{{kaava.id}}">{{kaava.nimi}}</a>
                    </td>
                    <td>
                        {{kaava.kuvaus}}
                    </td>
                    <td>
                        <a ng-click="editKaava(kaava)">Muokkaa</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col-md-12" ng-repeat="valintaryhmaList in hakukohdeLaskentakaavaLista.valintaryhmaList()">
        <div ng-repeat="valintaryhma in valintaryhmaList">
            <h3>{{valintaryhma.nimi}}</h3>
            <div class="alert alert-info margin-bottom-2" ng-show="!valintaryhma.laskentakaavat || valintaryhma.laskentakaavat.length == 0">
                <p ng-show="!valintaryhma.oid">Yhtään laskentakaavaa ei ole luotu.</p>
                <p ng-show="valintaryhma.oid">Tälle valintaryhmälle ei ole luotu yhtään laskentakaavaa.</p>
            </div>
            <table class="virkailija-table-1" ng-show="valintaryhma.laskentakaavat.length > 0">
                <thead>
                <tr>
                    <th>Nimi</th>
                    <th>Kuvaus</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="kaava in valintaryhma.laskentakaavat">
                    <td>
                        <a href="#{{linkprefix}}/laskentakaava/{{kaava.id}}">{{kaava.nimi}}</a>
                    </td>
                    <td>
                        {{kaava.kuvaus}}
                    </td>
                    <td>
                        <a ng-click="editKaava(kaava)">Muokkaa</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="clear"></div>
</div>