

<h1>Laskentakaavojen hallinta</h1>

<div class="tabs">
    <a href="#/etusivu" class="tab"><span>Valintaryhmät ja hakukohteet</span></a>
    <a href="#/laskentakaava" class="tab current"><span>Laskentakaavat</span></a>
    <a auth="crudOph" href="#/import" class="tab float-right"><span>Yhteisvalinnan hallinta</span></a>
</div>


<div class="tabsheets">

    <breadcrumb></breadcrumb>

    <button type="button" class="btn btn-sm btn-default" ng-click="cancel()">
        <i class="fa fa-arrow-left"></i> Takaisin
    </button>
    <span ng-click="createKaava()" class="btn btn-sm btn-default"><i class="fa fa-plus"></i> Laskentakaava</span>

    <h2>Laskentakaavalista</h2>


    <div class="width-60">

        <div ng-repeat="valintaryhmaList in valintaryhmat.valintaryhmaList()">
            <div ng-repeat="valintaryhma in valintaryhmaList">
                <h3>{{valintaryhma.nimi}}</h3>

                <div class="alert alert-info margin-bottom-2"
                     ng-show="!valintaryhma.laskentakaavat || valintaryhma.laskentakaavat.length == 0">
                    <p ng-show="!valintaryhma.oid">Yhtään laskentakaavaa ei ole luotu.</p>

                    <p ng-show="valintaryhma.oid">Tälle valintaryhmälle ei ole luotu yhtään laskentakaavaa.</p>
                </div>
                <table class="virkailija-table-1" ng-show="valintaryhma.laskentakaavat.length > 0">
                    <thead>
                    <tr>
                        <th>Nimi</th>
                        <th>Kuvaus</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="kaava in valintaryhma.laskentakaavat">
                        <td>
                            <a ng-href="#/valintaryhma/{{valintaryhmaOid}}/laskentakaava/{{kaava.id}}">{{kaava.nimi}}</a>
                        </td>
                        <td>
                            {{kaava.kuvaus}}
                        </td>
                        <td>
                            <a ng-click="editKaava(kaava)"><i class="fa fa-pencil"></i></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>




</div>