<script type="text/ng-template" id="poistahakijaryhma.html">
    <div class="modal-header">
        <h3 class="modal-title">{{ t('valintatapajono.poistahakijaryhma.header') || 'Oletko varma?' }}</h3>
    </div>
    <div class="modal-body">
        {{ t('valintatapajono.poistahakijaryhma.body') || 'Oletko varma, että haluat poistaa hakijaryhmän?' }}
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">{{ t('valintatapajono.poistahakijaryhma.kylla') || 'Kyllä' }}</button>
        <button class="btn btn-warning" ng-click="cancel()">{{ t('valintatapajono.poistahakijaryhma.ei') || 'Ei' }}</button>
    </div>
</script>

<script type="text/ng-template" id="poistajononmuodostumiskriteeri.html">
    <div class="modal-header">
        <h3 class="modal-title">{{ t('valintatapajono.poistajononmuodostumiskriteeri.header') || 'Oletko varma?' }}</h3>
    </div>
    <div class="modal-body">
        {{ t('valintatapajono.poistajononmuodostumiskriteeri.body') || 'Oletko varma, että haluat poistaa jonon muodostumiskriteerin?' }}
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">{{ t('valintatapajono.poistajononmuodostumiskriteeri.kylla') || 'Kyllä' }}</button>
        <button class="btn btn-warning" ng-click="cancel()">{{ t('valintatapajono.poistajononmuodostumiskriteeri.ei') || 'Ei' }}</button>
    </div>
</script>

<h1>{{ t('valintatapajono.header') || 'Jonon muokkaus' }}</h1>

<div class="tabs">
    <a href="#/etusivu" class="tab current"><span>{{ t('common.etusivu') || 'Valintaryhmät ja hakukohteet' }}</span></a>
    <a ng-if="valintaryhmaOid" ng-href="#/valintaryhma/{{valintaryhmaOid}}/laskentakaavalista" class="tab"><span>{{ t('common.laskentakaava') || 'Laskentakaavat' }}</span></a>
    <a ng-if="hakukohdeOid" ng-href="#/hakukohde/{{hakukohdeOid}}/laskentakaavalista" class="tab"><span>{{ t('common.laskentakaava') || 'Laskentakaavat' }}</span></a>
    <a auth="crudOph" href="#/import" class="tab float-right"><span>{{ t('common.import') || 'Yhteisvalinnan hallinta' }}</span></a>
</div>

<div class="tabsheets">
<breadcrumb></breadcrumb>

<form name="form" ng-submit="submit()" class="valintatapajono">
<div class="form-row">
    <label class="form-row-label" for="nimi">{{ t('valintatapajono.jononnimi') || 'Jonon nimi' }}</label>

    <div class="form-row-content">
        <input type="text" name="nimi" id="nimi" ng-model="model.valintatapajono.nimi" required/>
    </div>
    <div class="clear"></div>
</div>

<div class="form-row">
    <label class="form-row-label" for="kuvaus">{{ t('valintatapajono.kuvaus') || 'Kuvaus' }}</label>

    <div class="form-row-content">
        <textarea name="kuvaus" id="kuvaus" ng-model="model.valintatapajono.kuvaus"/>
    </div>
    <div class="clear"></div>
</div>

<div class="form-row">

    <label class="form-row-label" for="aloituspaikat">{{ t('valintatapajono.aloituspaikat') || 'Aloituspaikat' }}</label>

    <div class="form-row-content">
        <input ng-if="!model.valintatapajono.kaikkiEhdonTayttavatHyvaksytaan" type="number" min="0" id="aloituspaikat" name="aloituspaikat"
               ng-model="model.valintatapajono.aloituspaikat" required>
        <input ng-if="model.valintatapajono.kaikkiEhdonTayttavatHyvaksytaan" type="number" min="0" id="aloituspaikat" name="aloituspaikat"
               ng-model="model.valintatapajono.aloituspaikat"/>
    </div>
    <div class="clear"></div>

    <label class="form-row-label" for="siirretaanSijoitteluun">{{ t('valintatapajono.siirretaansijoitteluun') || 'Siirretään sijoitteluun' }}</label>

    <div class="form-row-content">
        <div class="field-container-checkbox">
            <input type="checkbox" id="siirretaanSijoitteluun" name="siirretaanSijoitteluun"
                   ng-model="model.valintatapajono.siirretaanSijoitteluun">
        </div>
    </div>
    <div class="clear"></div>

    <label class="form-row-label" for="kaytetaanValintalaskentaa">{{ t('valintatapajono.kaytetaan') || 'Käytetään valintalaskentaa' }}</label>

    <div class="form-row-content">
        <div class="field-container-checkbox">
            <input type="checkbox" id="kaytetaanValintalaskentaa" name="kaytetaanValintalaskentaa"
                   ng-model="model.valintatapajono.kaytetaanValintalaskentaa">
        </div>
    </div>

    <div class="clear"></div>

    <label class="form-row-label" for="kaikkiEhdonTayttavatHyvaksytaan">{{ t('valintatapajono.kaikkiehdon') || 'Kaikki ehdon täyttävät hyväksytään' }}</label>

    <div class="form-row-content">
        <div class="field-container-checkbox">
            <input type="checkbox" id="kaikkiEhdonTayttavatHyvaksytaan" name="kaikkiEhdonTayttavatHyvaksytaan"
                   ng-model="model.valintatapajono.kaikkiEhdonTayttavatHyvaksytaan">
        </div>
    </div>

    <div class="clear"></div>

    <label class="form-row-label" for="valisijoittelu">{{ t('valintatapajono.valisijoittelu') || 'Suoritetaanko jonolle välisijoittelu' }}</label>

    <div class="form-row-content">
        <div class="field-container-checkbox">
            <input type="checkbox" id="valisijoittelu" name="valisijoittelu"
                   ng-model="model.valintatapajono.valisijoittelu">
        </div>
    </div>

    <div class="clear"></div>

    <label class="form-row-label" for="automaattinenLaskentaanSiirto">{{ t('valintatapajono.automaattinenLaskentaanSiirto') || 'Siirretäänkö lasketut tulokset automaattisesti sijoitteluun' }}</label>

    <div class="form-row-content">
        <div class="field-container-checkbox">
            <input type="checkbox" id="automaattinenLaskentaanSiirto" name="automaattinenLaskentaanSiirto"
                   ng-model="model.valintatapajono.automaattinenLaskentaanSiirto">
        </div>
    </div>

    <div class="clear"></div>

    <div class="form-row-label">{{ t('valintatapajono.tasasijasaanto') || 'Tasasijasääntö' }}</div>
    <div class="form-row-content">
        <div class="field-container-radio">
            <input type="radio" name="tps" ng-model="model.valintatapajono.tasapistesaanto" id="tps1"
                   value="YLITAYTTO" required/>
            <label for="tps1">{{ t('valintatapajono.ylitaytto') || 'Ylitäyttö' }}</label>
        </div>
        <div class="field-container-radio">
            <input type="radio" name="tps" ng-model="model.valintatapajono.tasapistesaanto" id="tps2"
                   value="ALITAYTTO" required/>
            <label for="tps2">{{ t('valintatapajono.alitaytto') || 'Alitäyttö' }}</label>
        </div>
        <div class="field-container-radio">
            <input type="radio" name="tps" ng-model="model.valintatapajono.tasapistesaanto" id="tps3"
                   value="ARVONTA" required/>
            <label for="tps3">{{ t('valintatapajono.arvonta') || 'Arvonta' }}</label>
        </div>
    </div>
    <div class="clear"></div>

    <fieldset>
        <legend>{{ t('valintatapajono.varasijakasittelysaannot') || 'Varasijakäsittelysäännöt' }}</legend>

        <label class="form-row-label" for="eiVarasijatayttoa">{{ t('valintatapajono.eivarasijatayttoa') || 'Ei varasijatäyttöä' }}</label>

        <div class="form-row-content">
            <div class="field-container-checkbox">
                <input type="checkbox" id="eiVarasijatayttoa" name="eiVarasijatayttoa"
                       ng-model="model.valintatapajono.eiVarasijatayttoa">
            </div>

            <div>
                <small>
                    {{ t('valintatapajono.josvalittu') || 'Jos valittu, sijoittelu pyrkii ainoastaan valitsemaan aloituspaikkojen mukaisen määrän jonon alusta, jättäen hylätyt huomioimatta. Varasijoille jääviä ei huomioida.' }}
                </small>
            </div>

        </div>
        <div class="clear"></div>

        <div class="form-row">
            <label class="form-row-label" for="varasijojaKaytetaanAlkaen">{{ t('valintatapajono.varasijasaantoja') || 'Varasijasääntöjä käytetään alkaen' }}</label>

            <div class="form-row-content">
                <input type="checkbox" id="alkaenRajattu" name="alkaenRajattu"
                       ng-model="model.valintatapajono.alkaenRajattu">
                <date-input ng-disabled="!model.valintatapajono.alkaenRajattu" name="varasijojaKaytetaanAlkaen"
                            id="varasijojaKaytetaanAlkaen" ng-model="model.valintatapajono.varasijojaKaytetaanAlkaen"/>
            </div>
            <div class="clear"></div>
        </div>

        <div class="form-row">
            <label class="form-row-label" for="varasijojaTaytetaanAsti">{{ t('valintatapajono.varasijoja') || 'Varasijoja täytetään asti' }}</label>

            <div class="form-row-content">
                <input type="checkbox" id="astiRajattu" name="astiRajattu"
                       ng-model="model.valintatapajono.astiRajattu">
                <date-input ng-disabled="!model.valintatapajono.astiRajattu" name="varasijojaTaytetaanAsti"
                            id="varasijojaTaytetaanAsti" ng-model="model.valintatapajono.varasijojaTaytetaanAsti"/>
            </div>
            <div class="clear"></div>
        </div>

        <div class="form-row">
            <label class="form-row-label" for="rajattu">{{ t('valintatapajono.huomioitavien') || 'Huomioitavien varasijojen määrä rajattu' }}</label>

            <div class="form-row-content">
                <div class="field-container-checkbox">
                    <input type="checkbox" id="rajattu" name="rajattu"
                           ng-model="model.valintatapajono.rajattu">

                    <input ng-disabled="!model.valintatapajono.rajattu" type="number" min="0" id="varasijat"
                           name="varasijat" ng-model="model.valintatapajono.varasijat">
                </div>
            </div>
            <div class="clear"></div>
        </div>

        <div class="form-row">
            <label class="form-row-label" for="poissaOlevaTaytto">{{ t('valintatapajono.varasijataytto') || 'Varasijatäyttö poissa olevaksi ilmoittautuneiden tilalle' }}</label>

            <div class="form-row-content">
                <div class="field-container-checkbox">
                    <input type="checkbox" id="poissaOlevaTaytto" name="poissaOlevaTaytto"
                           ng-model="model.valintatapajono.poissaOlevaTaytto">
                </div>
            </div>
            <div class="clear"></div>
        </div>

        <div class="form-row">
            <div class="form-row-content">
                <div class="field-container-checkbox">
                    {{ t('valintatapajono.josjonoon') || 'Jos jonoon jää täyttämättömiä aloituspaikkoja, niitä täytetään jonosta' }}
                    <select ng-model="model.valintatapajono.tayttojono" ng-options="item.oid as item.nimi for item in model.jonot">
                        <option></option>
                    </select>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </fieldset>

</div>


<div class="form-row">
    <div class="form-row-label">{{ t('valintatapajono.muodostumiskriteerit') || 'Jonon muodostumiskriteerit' }}</div>
    <div class="form-row-content" ng-show="model.valintatapajono.oid">

        <table class="virkailija-table-1 margin-bottom-2" ng-show="model.jarjestyskriteerit">
            <thead>
            <tr>
                <th>{{ t('valintatapajono.aktiivinen') || 'Aktiivinen' }}</th>
                <th>{{ t('valintatapajono.laskentakaava') || 'Laskentakaava' }}</th>
                <th>{{ t('valintatapajono.metatiedot') || 'Metatiedot' }}</th>
                <th>{{ t('valintatapajono.peritty') || 'Peritty' }}</th>
                <th>{{ t('valintatapajono.poista') || 'Poista' }}</th>
            </tr>
            </thead>
            <tbody ui-sortable class="margin-top-2" ng-model="model.jarjestyskriteerit">
            <tr ng-repeat="data in model.jarjestyskriteerit">
                <td><input type="checkbox" ng-model="data.aktiivinen"/></td>
                <td>
                    <a ng-class="{true:'', false:'line-through'}[data.aktiivinen]"
                       ng-click="modifyKriteeri(data.oid)">{{data.nimi}}</a>
                </td>
                <td>
                    <a ng-class="{true:'', false:'line-through'}[data.aktiivinen]"
                       ng-click="modifyKriteeri(data.oid)">{{data.metatiedot}}</a>
                </td>
                <td>{{data.inheritance}}</td>
                <td><i auth="crud" ng-show="!data.inheritance" class="fa fa-trash-o"
                          ng-click="remove(data.oid)"></i></td>
            </tr>
            </tbody>
        </table>
        <span auth="crud" class="btn btn-sm btn-default" ng-click="addKriteeri()"><i
                class="fa fa-plus"></i> {{ t('valintatapajono.kriteeri') || 'Kriteeri' }}</span>
    </div>
    <span ng-show="!model.valintatapajono.oid">{{ t('valintatapajono.tallennajono') || 'Tallenna jono lisätäksesi kriteeri.' }}</span>
</div>

<div class="clear"></div>

<div class="form-row width-100">
    <div class="form-row-label">{{ t('valintatapajono.hakijaryhmat') || 'Hakijaryhmät' }}</div>
    <div class="form-row-content width-60" ng-if="!model.valintatapajono.siirretaanSijoitteluun">
        <span>{{ t('valintatapajono.eisiirreta') || 'Valintatapajonoa ei siirretä sijoitteluun. Hakijaryhmä ei vaikuta jonoon.' }}</span>
    </div>
    <div class="form-row-content width-60"
         ng-if="model.valintatapajono.siirretaanSijoitteluun && model.valintatapajono.oid">
        <table ng-show="model.hakijaryhmat" class="virkailija-table-1 margin-bottom-2 width-60">
            <thead>
            <tr>
                <th>{{ t('valintatapajono.aktiivinen') || 'Aktiivinen' }}</th>
                <th>{{ t('valintatapajono.nimi') || 'Nimi' }}</th>
                <th>{{ t('valintatapajono.kuvaus') || 'Kuvaus' }}</th>
                <!--<th>{{ t('valintatapajono.laskentakaava') || 'Laskentakaava' }}</th>-->
                <th>{{ t('valintatapajono.maara') || 'Kiintiö' }}</th>
                <!--<th>{{ t('valintatapajono.periytyy') || 'Periytyy' }}</th>-->
                <th>{{ t('valintatapajono.poista') || 'Poista' }}</th>

            </tr>
            </thead>
            <tbody ui-sortable ng-model="model.hakijaryhmat">
            <tr ng-repeat="data in model.hakijaryhmat">
                <td><input type="checkbox" ng-model="data.aktiivinen"/></td>
                <td class="text-center">
                    <a ng-class="{true:'', false:'line-through'}[data.aktiivinen]"
                       ng-click="modifyHakijaryhma(data.oid)">{{data.nimi}}</a>
                </td>
                <td class="text-center">{{data.kuvaus}}</td>
                <!--<td class="text-center">{{data.laskentakaava_nimi}}</td>-->
                <td class="text-center">{{data.kiintio}}</td>
                <!--<td></td>-->
                <td class="text-center">
                        <span auth="crud" ng-show="!data.inheritance"
                              ng-click="model.removeHakijaryhma(data.oid)"><i class="fa fa-trash-o"></i></span>
                </td>
            </tr>
            </tbody>

        </table>

        <div ng-controller="HakijaryhmaValintaController" class="modal-controller-div">
            <modal modal-template="hakijaryhma/hakijaryhmaModal.html">
                <modal-open></modal-open>
            </modal>
            <button auth="update" class="btn btn-sm btn-primary" type="button" ng-click="openHakijaryhmaModal()"><i
                    class="fa fa-plus"></i>
                Liitä hakijaryhmä
            </button>
        </div>

        <span auth="crud" class="btn btn-sm btn-default" ng-click="addHakijaryhma()"><i
                class="fa fa-plus"></i> Luo uusi hakijaryhmä</span>

    </div>
    <span ng-if="model.valintatapajono.siirretaanSijoitteluun && !model.valintatapajono.oid">{{ t('valintatapajono.tallennahakijaryhma') || 'Tallenna jono lisätäksesi hakijaryhmä.' }}</span>
</div>

<div class="clear"></div>
<button class="btn btn-sm btn-default" ng-click="cancel()" popover-popup-delay="500" popover-placement="top" popover-trigger="mouseenter" popover="{{ t('common.muista') || 'Muista tallentaa muutoksesi' }}"><i class="fa fa-arrow-left"></i> {{ t('common.takaisin') || 'Takaisin' }}
</button>
<button auth="update" ng-disabled="!form.$valid" class="btn btn-sm btn-primary" type="submit"><i
        class="fa fa-floppy-o"></i>
    {{ t('common.tallenna') || 'Tallenna' }}
</button>

<div class="clear"></div>
</form>
</div>