<script type="text/ng-template" id="poistahakijaryhma.html">
    <div class="modal-header">
        <h3 class="modal-title">{{ t('valintatapajono.poistahakijaryhma.header') || 'Oletko varma?' }}</h3>
    </div>
    <div class="modal-body">
        {{ t('valintatapajono.poistahakijaryhma.body') || 'Oletko varma, että haluat poistaa hakijaryhmän?' }}
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">{{ t('valintatapajono.poistahakijaryhma.kylla') || 'Kyllä' }}
        </button>
        <button class="btn btn-warning" ng-click="cancel()">{{ t('valintatapajono.poistahakijaryhma.ei') || 'Ei' }}
        </button>
    </div>
</script>

<script type="text/ng-template" id="poistajononmuodostumiskriteeri.html">
    <div class="modal-header">
        <h3 class="modal-title">{{ t('valintatapajono.poistajononmuodostumiskriteeri.header') || 'Oletko varma?' }}</h3>
    </div>
    <div class="modal-body">
        {{ t('valintatapajono.poistajononmuodostumiskriteeri.body') || 'Oletko varma, että haluat poistaa jonon
        muodostumiskriteerin?' }}
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()" ng-hide="working">{{ t('valintatapajono.poistajononmuodostumiskriteeri.kylla') ||
            'Kyllä' }}
        </button>
        <button class="btn btn-primary" ng-disabled="true" ng-show="working">{{ t('ilmoitus.kasitellaan') || 'Käsitellään' }}</button>
        <button class="btn btn-warning" ng-click="cancel()" ng-hide="working">{{ t('valintatapajono.poistajononmuodostumiskriteeri.ei') ||
            'Ei' }}
        </button>
    </div>
</script>

<h1>{{ t('valintatapajono.header') || 'Jonon muokkaus' }}</h1>

<div class="tabs">
    <a href="#/etusivu" class="tab current"><span>{{ t('common.etusivu') || 'Valintaryhmät ja hakukohteet' }}</span></a>
    <a ng-if="valintaryhmaOid" ng-href="#/valintaryhma/{{valintaryhmaOid}}/laskentakaavalista" class="tab"><span>{{ t('common.laskentakaava') || 'Laskentakaavat' }}</span></a>
    <a ng-if="hakukohdeOid" ng-href="#/hakukohde/{{hakukohdeOid}}/laskentakaavalista" class="tab"><span>{{ t('common.laskentakaava') || 'Laskentakaavat' }}</span></a>
    <a auth ng-if="userAccess.crudOph || (userAccess.hasCrudRights() && userModel.isKKUser)" href="#/import" class="tab float-right"><span>{{ t('common.import') || 'Yhteisvalinnan hallinta' }}</span></a>
</div>

<div class="tabsheets">
<breadcrumb></breadcrumb>

<form name="form" ng-submit="submit()" class="valintatapajono form-horizontal">
<div class="form-group">
    <label class="control-label col-md-2" for="nimi">{{ t('valintatapajono.jononnimi') || 'Jonon nimi' }}</label>

    <div class="col-md-4">
        <input class="form-control" auth ng-disabled="!userAccess.updateOrg" type="text" name="nimi" id="nimi"
               ng-model="model.valintatapajono.nimi" required/>
    </div>
</div>

<div class="form-group">
    <label class="control-label col-md-2" for="kuvaus">{{ t('valintatapajono.kuvaus') || 'Kuvaus' }}</label>

    <div class="col-md-4">
        <textarea class="form-control" auth ng-disabled="!userAccess.updateOrg" name="kuvaus" id="kuvaus"
                  ng-model="model.valintatapajono.kuvaus"/>
    </div>
</div>

<div class="form-group">
    <label class="control-label col-md-2" for="tyyppi">{{ t('valintatapajono.tyyppi') || 'Valintatapajonon tyyppi'
        }}</label>

    <div class="col-md-6">
        <select id="tyyppi" name="tyyppi" auth ng-disabled="!userAccess.updateOrg" class="form-control"
                ng-model="model.valintatapajono.tyyppi" ng-required="model.valintatapajono.siirretaanSijoitteluun"
                ng-options="k.koodiUri as k.metadata[0].nimi for k in model.valintatapajonoTyypit">
            <option value=""></option>
        </select>
    </div>
</div>

<div class="form-group">

    <label class="control-label col-md-2" for="aloituspaikat">{{ t('valintatapajono.aloituspaikat') || 'Aloituspaikat'
        }}</label>

    <div class="col-md-4">
        <input class="form-control" auth ng-disabled="!userAccess.updateOrg"
               ng-if="!model.valintatapajono.kaikkiEhdonTayttavatHyvaksytaan" type="number" min="0" id="aloituspaikat"
               name="aloituspaikat"
               ng-model="model.valintatapajono.aloituspaikat" required>
        <input class="form-control" auth ng-disabled="!userAccess.updateOrg"
               ng-if="model.valintatapajono.kaikkiEhdonTayttavatHyvaksytaan" type="number" min="0" id="aloituspaikat"
               name="aloituspaikat"
               ng-model="model.valintatapajono.aloituspaikat"/>
    </div>
</div>

<div class="form-group">
    <label class="control-label col-md-2" for="siirretaanSijoitteluun">{{ t('valintatapajono.siirretaansijoitteluun') ||
        'Siirretään sijoitteluun' }}</label>

    <div class="col-md-2">
        <div class="checkbox">
            <label>
                <input auth ng-disabled="!userAccess.updateOrg || forceSiirretaanSijoitteluun == true" type="checkbox" id="siirretaanSijoitteluun"
                       name="siirretaanSijoitteluun"
                       ng-model="model.valintatapajono.siirretaanSijoitteluun">
            </label>
        </div>
    </div>
</div>

<div class="form-group">
    <label class="control-label col-md-2" for="kaytetaanValintalaskentaa">{{ t('valintatapajono.kaytetaan') ||
        'Käytetään valintalaskentaa' }}</label>

    <div class="col-md-2">
        <div class="checkbox">
            <label>
                <input auth ng-disabled="!userAccess.updateOrg" type="checkbox" id="kaytetaanValintalaskentaa"
                       name="kaytetaanValintalaskentaa"
                       ng-model="model.valintatapajono.kaytetaanValintalaskentaa">
            </label>
        </div>
    </div>

</div>

<div class="form-group">
    <label class="control-label col-md-2" for="kaikkiEhdonTayttavatHyvaksytaan">{{ t('valintatapajono.kaikkiehdon') ||
        'Kaikki ehdon täyttävät hyväksytään' }}</label>

    <div class="col-md-2">
        <div class="checkbox">
            <label>
                <input auth ng-disabled="!userAccess.updateOrg" type="checkbox" id="kaikkiEhdonTayttavatHyvaksytaan"
                       name="kaikkiEhdonTayttavatHyvaksytaan"
                       ng-model="model.valintatapajono.kaikkiEhdonTayttavatHyvaksytaan">
            </label>
        </div>
    </div>
</div>

<div class="form-group">
    <label class="control-label col-md-2" for="poistetaankoHylatyt">{{ t('valintatapajono.poistetaankohylatyt') ||
        'Poistetaanko hylätyt valintalaskennan tuloksista' }}</label>

    <div class="col-md-2">
        <div class="checkbox">
            <label>
                <input auth ng-disabled="!userAccess.updateOrg" type="checkbox" id="poistetaankoHylatyt"
                       name="poistetaankoHylatyt"
                       ng-model="model.valintatapajono.poistetaankoHylatyt">
            </label>
        </div>
    </div>
</div>

<div class="form-group">
    <label class="control-label col-md-2" for="valisijoittelu">{{ t('valintatapajono.valisijoittelu') || 'Suoritetaanko
        jonolle välisijoittelu' }}</label>

    <div class="col-md-2">
        <div class="checkbox">
            <label>
                <input auth ng-disabled="!userAccess.updateOrg" type="checkbox" id="valisijoittelu"
                       name="valisijoittelu"
                       ng-model="model.valintatapajono.valisijoittelu">
            </label>
        </div>
    </div>
</div>
<div class="form-group">

    <label class="control-label col-md-2" for="automaattinenLaskentaanSiirto">{{
        t('valintatapajono.automaattinenLaskentaanSiirto') || 'Siirretäänkö lasketut tulokset automaattisesti
        sijoitteluun'}}</label>

    <div class="col-md-2">
        <div class="checkbox">
            <label>
                <input auth ng-disabled="!userAccess.updateOrg || (model.valmisSijoiteltavaksi && !userAccess.crudOph)" type="checkbox" id="automaattinenLaskentaanSiirto"
                       name="automaattinenLaskentaanSiirto"
                       ng-model="model.valintatapajono.automaattinenLaskentaanSiirto">
            </label>
        </div>
    </div>
</div>

<div class="form-group">
    <label class="control-label col-md-2">{{ t('valintatapajono.tasasijasaanto') || 'Tasasijasääntö' }}</label>

    <div class="col-md-2">
        <div class="radio">
            <label>
                <input auth ng-disabled="!userAccess.updateOrg" type="radio" name="tps"
                       ng-model="model.valintatapajono.tasapistesaanto" id="tps1"
                       value="YLITAYTTO" required/>
            </label><label for="tps1">{{ t('valintatapajono.ylitaytto') || 'Ylitäyttö' }}</label>
        </div>
        <div class="radio">
            <label>
                <input auth ng-disabled="!userAccess.updateOrg" type="radio" name="tps"
                       ng-model="model.valintatapajono.tasapistesaanto" id="tps2"
                       value="ALITAYTTO" required/></label>
            <label for="tps2">{{ t('valintatapajono.alitaytto') || 'Alitäyttö' }}</label>
        </div>
        <div class="radio">
            <label><input auth ng-disabled="!userAccess.updateOrg" type="radio" name="tps"
                          ng-model="model.valintatapajono.tasapistesaanto" id="tps3"
                          value="ARVONTA" required/></label>
            <label for="tps3">{{ t('valintatapajono.arvonta') || 'Arvonta' }}</label>
        </div>
    </div>
</div>

<div>
    <fieldset>
        <legend>{{ t('valintatapajono.varasijakasittelysaannot') || 'Varasijakäsittelysäännöt' }}</legend>
        <div class="form-group">
            <label class="control-label col-md-2" for="eivarasijatayttoa">{{ t('valintatapajono.eivarasijatayttoa') ||
                'Ei
                varasijatäyttöä' }}</label>

            <div class="col-md-10">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" id="eiVarasijatayttoa" name="eiVarasijatayttoa"
                               ng-model="model.valintatapajono.eiVarasijatayttoa">
                        <span class="help-block">{{ t('valintatapajono.josvalittu') || 'Jos valittu, sijoittelu pyrkii ainoastaan valitsemaan
                    aloituspaikkojen mukaisen määrän jonon alusta, jättäen hylätyt huomioimatta. Varasijoille jääviä ei
                    huomioida.' }}</span>
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="varasijojaTaytetaanAsti">{{ t('valintatapajono.varasijoja') ||
                'Varasijoja täytetään asti' }}</label>

            <div class="col-md-4">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" id="varasijojaTaytetaanAsti" name="varasijojaTaytetaanAsti"
                               ng-model="model.valintatapajono.astiRajattu">
                    </label>
                </div>
                <p class="input-group">

                    <input class="form-control" datepicker-popup="dd.MM.yyyy"
                           ng-model="model.valintatapajono.varasijojaTaytetaanAsti"
                           is-open="astiRajattuOpen"
                           close-text="Sulje"
                           clear-text="Tyhjennä"
                           current-text="Tänään"
                           ng-disabled="!model.valintatapajono.astiRajattu"
                            />
                    <span class="input-group-btn">
                        <a ng-disabled="!model.valintatapajono.astiRajattu"
                                class="btn btn-default btn-sm" ng-click="openAstiRajattu($event)"><i
                                class="glyphicon glyphicon-calendar"></i></a>
                    </span>
                </p>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="rajattu">{{ t('valintatapajono.huomioitavien') || 'Huomioitavien
                varasijojen määrä rajattu' }}</label>

            <div class="col-md-4">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" id="rajattu" name="rajattu"
                               ng-model="model.valintatapajono.rajattu">
                        <input class="form-control" ng-disabled="!model.valintatapajono.rajattu" type="number" min="0" id="varasijat"
                               name="varasijat" ng-model="model.valintatapajono.varasijat">
                    </label>

                </div>

            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="poissaOlevaTaytto">{{ t('valintatapajono.varasijataytto') ||
                'Varasijatäyttö poissa olevaksi ilmoittautuneiden tilalle' }}</label>

            <div class="col-md-4">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" id="poissaOlevaTaytto" name="poissaOlevaTaytto"
                               ng-model="model.valintatapajono.poissaOlevaTaytto">
                    </label>

                </div>
            </div>
        </div>
        <div class="form-group" ng-if="hakukohdeOid">
            <label class="control-label col-md-2" for="tayttojono">{{ t('valintatapajono.josjonoon') || 'Jos jonoon jää täyttämättömiä aloituspaikkoja, aloituspaikat siirretään jonoon' }}</label>

            <div class="col-md-4">
                <select class="form-control" id="tayttojono" ng-model="model.valintatapajono.tayttojono"
                        ng-options="item.oid as item.nimi for item in model.jonot">
                    <option></option>
                </select>

            </div>
        </div>

        <div class="form-row">
            <div class="form-row-content">
                <div class="field-container-checkbox">


                </div>
            </div>
            <div class="clear"></div>
        </div>
    </fieldset>

</div>


<div class="form-group">
    <label class="control-label col-md-2">{{ t('valintatapajono.muodostumiskriteerit') || 'Jonon muodostumiskriteerit'
        }}
    </label>

    <div class="col-md-10" ng-show="model.valintatapajono.oid">

        <table class="virkailija-table-1" ng-show="model.jarjestyskriteerit">
            <thead>
            <tr>
                <th>#</th>
                <th>{{ t('valintatapajono.prioriteetti') || 'Aktiivinen'}}</th>
                <th>{{ t('valintatapajono.laskentakaava') || 'Laskentakaava' }}</th>
                <th>{{ t('valintatapajono.metatiedot') || 'Metatiedot' }}</th>
                <th>{{ t('valintatapajono.peritty') || 'Peritty' }}</th>
                <th>{{ t('valintatapajono.poista') || 'Poista' }}</th>
            </tr>
            </thead>
            <tbody ui-sortable class="margin-top-2" ng-model="model.jarjestyskriteerit">
            <tr ng-repeat="data in model.jarjestyskriteerit">
                <td>{{$index + 1}}</td>
                <td><input auth ng-disabled="!userAccess.updateOrg" type="checkbox" ng-model="data.aktiivinen"/></td>
                <td>
                    <a ng-class="{true:'', false:'line-through'}[data.aktiivinen]"
                       ng-click="modifyKriteeri(data.oid)">{{data.nimi}}</a>
                </td>
                <td>
                    <a ng-class="{true:'', false:'line-through'}[data.aktiivinen]"
                       ng-click="modifyKriteeri(data.oid)">{{data.metatiedot}}</a>
                </td>
                <td>{{data.inheritance}}</td>
                <td>
                    <a ng-show="!data.inheritance" class="btn btn-sm btn-default" auth
                            ng-disabled="!userAccess.crudOrg">
                        <i class="fa fa-trash-o" ng-click="remove(data.oid)"></i>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
    <div class="col-md-10">
        <p class="form-control-static" ng-show="!model.valintatapajono.oid">{{ t('valintatapajono.tallennajono') ||
            'Tallenna jono lisätäksesi kriteeri.' }}</p>
    </div>
</div>

<div class="form-group" ng-show="model.valintatapajono.oid">
    <div class="col-md-2 col-md-offset-2">
        <a auth ng-disabled="!userAccess.crudOrg" class="btn btn-sm btn-default" ng-click="addKriteeri()"><i
                class="fa fa-plus"></i> {{ t('valintatapajono.kriteeri') || 'Kriteeri' }}
        </a>
    </div>
</div>

<div class="form-group">
    <label class="control-label col-md-2">{{ t('valintatapajono.hakijaryhmat') || 'Hakijaryhmät' }}</label>

    <div class="col-md-10" ng-if="!model.valintatapajono.siirretaanSijoitteluun">
        <p class="form-control-static">{{ t('valintatapajono.eisiirreta') || 'Valintatapajonoa ei siirretä sijoitteluun.
            Hakijaryhmä ei vaikuta jonoon.' }}
        </p>
    </div>
    <div class="col-md-10"
         ng-if="model.valintatapajono.siirretaanSijoitteluun && model.valintatapajono.oid">
        <table ng-show="model.hakijaryhmat" class="virkailija-table-1 margin-bottom-2 width-60">
            <thead>
            <tr>
                <th>{{ t('valintatapajono.aktiivinen') || 'Aktiivinen' }}</th>
                <th>{{ t('valintatapajono.nimi') || 'Nimi' }}</th>
                <th>{{ t('valintatapajono.kuvaus') || 'Kuvaus' }}</th>
                <th>{{ t('valintatapajono.maara') || 'Kiintiö' }}</th>
                <th>{{ t('valintatapajono.poista') || 'Poista' }}</th>

            </tr>
            </thead>
            <tbody ui-sortable ng-model="model.hakijaryhmat">
            <tr ng-repeat="data in model.hakijaryhmat">
                <td><input auth ng-disabled="!userAccess.updateOrg" type="checkbox" ng-model="data.aktiivinen"/></td>
                <td>
                    <a ng-class="{true:'', false:'line-through'}[data.aktiivinen]"
                       ng-click="modifyHakijaryhma(data.oid)">{{data.nimi}}</a>
                </td>
                <td>{{data.kuvaus}}</td>
                <td>{{data.kiintio}}</td>
                <td>
                    <a auth ng-disabled="!userAccess.crudOrg" class="btn btn-sm btn-default"
                            ng-show="!data.inheritance"
                            ng-click="model.removeHakijaryhma(data.oid)"><i class="fa fa-trash-o"></i></a>
                </td>
            </tr>
            </tbody>

        </table>

        <div ng-controller="HakijaryhmaValintaController" class="modal-controller-div">
            <modal modal-template="hakijaryhma/hakijaryhmaModal.html">
                <modal-open></modal-open>
            </modal>
            <a auth ng-disabled="!userAccess.updateOrg" class="btn btn-sm btn-primary" type="button"
                    ng-click="openHakijaryhmaModal()"><i
                    class="fa fa-plus"></i>
                Liitä hakijaryhmä
            </a>
        </div>

        <a auth ng-disabled="!userAccess.crudOrg" class="btn btn-sm btn-default" ng-click="addHakijaryhma()"><i
                class="fa fa-plus"></i> Luo uusi hakijaryhmä
        </a>

    </div>
    <span ng-if="model.valintatapajono.siirretaanSijoitteluun && !model.valintatapajono.oid">{{ t('valintatapajono.tallennahakijaryhma') || 'Tallenna jono lisätäksesi hakijaryhmä.' }}</span>
</div>
<div class="form-group">
    <div class="col-md-2">
        <div class="pull-right">
            <button class="btn btn-sm btn-default" ng-click="cancel()" popover-popup-delay="500" popover-placement="top"
                    popover-trigger="mouseenter" popover="{{ t('common.muista') || 'Muista tallentaa muutoksesi' }}"><i
                    class="fa fa-arrow-left"></i> {{ t('common.takaisin') || 'Takaisin' }}
            </button>
            <button auth ng-disabled="!form.$valid || !userAccess.updateOrg" class="btn btn-sm btn-primary"
                    type="submit"><i
                    class="fa fa-floppy-o"></i>
                {{ t('common.tallenna') || 'Tallenna' }}
            </button>
        </div>
    </div>
</div>
</form>
</div>