<h3>Hakukohteen muokkaus</h3>

<!--
<div class="tabs">
	<a href="#/hakukohde/{{hakukohdeOid}}/" class="tab current"><span>Hakukohteen perustiedot</span></a>
	<a href="#/hakukohde/{{hakukohdeOid}}/laskentakaava" class="tab"><span>Laskentakaavat</span></a>
</div>
-->

<div class="tabsheets">
<form name="form" ng-submit="submit()">
    <dl>
        <dt>Hakukohteen nimi</dt>
        <dd><input  class="width-60" type="text" name="nimi" ng-model="model.hakukohde.nimi" required /></dd>

        <dt>Hakukohdekoodi</dt>
        <dd>
            <table class="virkailija-table-1 width-60">
                <thead>
                    <tr>
                        <th>koodi</th>
                        <th>arvo</th>
                        <th>nimi</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="align-center">{{model.hakukohde.hakukohdekoodi.uri}}</td>
                        <td class="align-center">{{model.hakukohde.hakukohdekoodi.arvo}}</td>
                        <td class="align-center">{{model.hakukohde.hakukohdekoodi.nimiFi}}</td>
                    </tr>

                </tbody>

            </table>
        </dd>
    </dl>
    
    <dl>
        <dt>Hakukohdekoodin päivitys</dt>
        <dd>
            <input class="width-60" name="hakukohdekoodit" type="text" placeholder="uusi hakukohdekoodi" id="uusiHakukohdeUri" ng-model="uusiHakukohdeUri" list="hakukohdekoodit"/>
            <datalist id="hakukohdekoodit">
                <!--[if IE 9]><select disabled style="display:none"><![endif]-->
                <option ng-repeat="data in model.hakukohdekoodit" value="{{data.koodiUri}}">{{data.metadata[0].nimi}}</option>
                <!--[if IE 9]></select><![endif]-->
            </datalist>

            <button type="button" class="margin-bottom-0 small" ng-click="addHakukohdeUri()" ng-disabled="!model.hakukohdekoodit.length">Päivitä hakukohdekoodi</button>
        </dd>
    </dl>

    <dl>
        <dt>Hakukohteen tunniste (oid)</dt>
        <dd><input ng-show="showOidInputs" class="width-60" type="text" name="oid" ng-model="model.hakukohde.oid" required />{{model.hakukohde.oid}}</dd>

        <dt>Haun Tunniste (oid)</dt>
        <dd><input ng-show="showOidInputs" class="width-60" type="text" name="oid" ng-model="model.hakukohde.hakuoid" required />{{model.hakukohde.hakuoid}}</dd>

        <dt ng-show="model.parentValintaryhma.nimi">Valintaryhmä</dt>
        <dd ng-show="model.parentValintaryhma.nimi">{{model.parentValintaryhma.nimi}}</dd>

        <dt>Kuuluu sijoitteluun</dt>
        <dd>{{model.hakukohde.kuuluuSijoitteluun}}</dd>
    </dl>

    <dl>
        <dt>Valinnan vaiheet</dt>
        <dd>
            <table ng-show="model.valinnanvaiheet" class="virkailija-table-1 margin-bottom-2 width-60">
                <thead>
                <tr>
                    <th>Aktiivinen</th>
                    <th>Nimi
                        <a href="#/hakukohde/{{hakukohdeOid}}/valinnanvaihe/new">
                            {{data.nimi}}
                        </a>
                    </th>
                    <th>Periytyy</th>
                    <th>Tyyppi</th>
                    <th>Poista</th>
                </tr>
                </thead>
                <tbody ui-sortable ng-model="model.valinnanvaiheet">
                    <tr ng-repeat="data in model.valinnanvaiheet">
                        <td><input type="checkbox" ng-model="data.aktiivinen" /></td>
                        <td class="align-center">
                            <a ng-class="{true:'', false:'line-through'}[data.aktiivinen]" href="#/hakukohde/{{hakukohdeOid}}/{{model.getValinnanvaiheType(data)}}/{{data.oid}}">{{data.nimi}}</a>
                        </td>
                        <td class="align-center">{{data.inheritance}}</td>
                        <td class="align-center">{{data.valinnanVaiheTyyppi}}</td>
                        <td class="align-center">
                            <span ng-show="!data.inheritance" class="btn remove" ng-click="model.remove(data)"></span>
                        </td>

                    </tr>
                </tbody>
            </table>
            
            <span ng-show="model.hakukohde.oid" class="button small" ng-click="lisaaValinnanVaihe()">Lisää valinnanvaihe</span>
            <span ng-show="model.hakukohde.oid" class="button small" ng-click="lisaaValintakoeValinnanVaihe()">Lisää valintakoevalinnanvaihe</span>
        </dd>
    </dl>

    <button ng-disabled="!form.$valid" class="button small primary" type="submit">Tallenna</button>
    <button type="button" class="float-left margin-right-1 button small" ng-click="cancel()">Peruuta</button>
</form>
</div>