<div class="tabs">
    <a href="#/etusivu" class="tab"><span>Valintaryhmät ja hakukohteet</span></a>
    <a href="#/laskentakaava" class="tab"><span>Laskentakaavat</span></a>
    <a href="#/import" class="tab float-right current"><span>Yhteisvalinnan hallinta</span></a>
</div>
<div class="tabsheets">

    <h2>Synkronoi tarjonta</h2>

    <div>
        <select ng-model="model.hakuOid" ng-options="haku for haku in model.haut"></select>
        <a ng-click="aktivoi()" class="button small">Synkronoi tarjonta</a>
    </div>

</div>