<h1>{{'jononmuokkaus.header' | i18n}}</h1>

<form name="form" ng-submit="submit()">
    <div class="form-row">
        <label class="form-row-label" for="nimi">Jonon nimi</label>

        <div class="form-row-content">
            <input type="text" name="nimi" id="nimi" ng-model="model.valintatapajono.nimi" required/>
            <!--
            <div><small>Jonon nimeen liittyvä ohjeteksti.</small></div>
            -->
        </div>
        <div class="clear"></div>
    </div>

    <div class="form-row">
        <label class="form-row-label" for="kuvaus">Kuvaus</label>

        <div class="form-row-content">
            <textarea name="kuvaus" id="kuvaus" ng-model="model.valintatapajono.kuvaus"/>
            <!--
            <div><small>Jonon kuvaukseen liittyvä ohjeteksti.</small></div>
            -->
        </div>
        <div class="clear"></div>
    </div>

    <div class="form-row">

        <label class="form-row-label" for="kuvaus">Aloituspaikat</label>

        <div class="form-row-content">
            <input type="number" min="0" name="aloituspaikat" ng-model="model.valintatapajono.aloituspaikat" required>
            <!--
            <div><small>ohjeteksti.</small></div>
            -->
        </div>

        <div class="clear"></div>

        <label class="form-row-label" for="kuvaus">{{'jononmuokkaus.siirretaan.sijoitteluun' | i18n}}</label>

        <div class="form-row-content">
            <div class="field-container-checkbox">
                <input type="checkbox" name="siirretaanSijoitteluun"
                       ng-model="model.valintatapajono.siirretaanSijoitteluun">
                <label>&#8302;</label>
            </div>
            <!--
            <div><small>ohjeteksti.</small></div>
            -->
        </div>

        <div class="clear"></div>

        <label class="form-row-label" for="kuvaus">Ei varasijatayttoa</label>

        <div class="form-row-content">
            <div class="field-container-checkbox">
                <input type="checkbox" name="eiVarasijatayttoa" ng-model="model.valintatapajono.eiVarasijatayttoa">
                <label>&#8302;</label>
            </div>

            <div>
                    <small>
                            Jos valittu, sijoittelu pyrkii ainoastaan valitsemaan aloituspaikkojen mukaisen määrän jonon alusta,
                            jättäen hylätyt huomioimatta. Varasijoille jääviä ei huomioida.
                    </small>
            </div>

        </div>

        <div class="clear"></div>

        <div class="form-row-label">Tasasijasääntö</div>
        <div class="form-row-content">
            <div class="field-container-radio">
                <input type="radio" name="tps" ng-model="model.valintatapajono.tasapistesaanto" id="tps1"
                       value="YLITAYTTO" required/>
                <label for="tps1">Ylitäyttö</label>
            </div>
            <div class="field-container-radio">
                <input type="radio" name="tps" ng-model="model.valintatapajono.tasapistesaanto" id="tps2"
                       value="ALITAYTTO" required/>
                <label for="tps2">Alitäyttö</label>
            </div>
            <div class="field-container-radio">
                <input type="radio" name="tps" ng-model="model.valintatapajono.tasapistesaanto" id="tps3"
                       value="ARVONTA" required/>
                <label for="tps3">Arvonta</label>
            </div>
        </div>
        <div class="clear"></div>
    </div>


    <div class="form-row">
        <div class="form-row-label">Jonon muodostumiskriteerit</div>
        <div class="form-row-content" ng-show="model.valintatapajono.oid">

            <table class="virkailija-table-1 margin-bottom-2" ng-show="model.jarjestyskriteerit">
                <thead>
                <tr>
                    <th>Aktiivinen</th>
                    <th>Nimi</th>
                    <th>Metatiedot</th>
                    <th>Peritty</th>
                    <th>Poista</th>
                </tr>
                </thead>
                <tbody ui-sortable class="margin-top-2" ng-model="model.jarjestyskriteerit">
                <tr ng-repeat="data in model.jarjestyskriteerit">
                    <td><input type="checkbox" ng-model="data.aktiivinen"/></td>
                    <td>
                        <a ng-class="{true:'', false:'line-through'}[data.aktiivinen]"
                           ng-click="modifyKriteeri(data.oid)">{{data.nimi}}</a>
                    </td>
                    <td>{{data.metatiedot}}</td>
                    <td>{{data.inheritance}}</td>
                    <td><span ng-show="!data.inheritance" class="btn remove" ng-click="remove(data.oid)">X</span></td>
                </tr>
                </tbody>
            </table>
            <span class="button small" ng-click="addKriteeri()">Lisää kriteeri</span>
            <!--<div><small>Jonojen muodostuskriteereihin liittyvä ohjeteksti.</small></div>-->
        </div>
        <span ng-show="!model.valintatapajono.oid">Tallenna jono lisätäksesi kriteeri.</span>
    </div>

    <div class="clear"></div>

    <div class="form-row width-100"  >
        <div class="form-row-label">Hakijaryhmat</div>
        <div class="form-row-content width-60">
            <table ng-show="model.hakijaryhmat" class="virkailija-table-1 margin-bottom-2 width-60">
                <thead>
                <tr>
                    <th>Nimi</th>
                    <th>Periytyy</th>
                    <th>Poista</th>
                </tr>
                </thead>
                <tbody ui-sortable ng-model="model.hakijaryhmat">
                <tr ng-repeat="data in model.hakijaryhmat">
                    <td class="align-center">
                        <a href="#/hakukohde/{{hakukohdeOid}}/hakijaryhma/{{data.oid}}">{{data.nimi}}</a>
                    </td>
                    <td class="align-center">{{data.inheritance}}</td>
                    <td class="align-center">
                        <span ng-show="!data.inheritance" class="btn remove" ng-click="model.remove(data)"></span>
                    </td>
                </tr>
                </tbody>
            </table>

            <div class="clear"></div>

            <div ng-show="model.valintatapajono.oid" class="form-row">
                <span class="button small" ng-click="lisaaHakijaryhma()">Liitä hakijaryhma</span>
            </div>
        </div>
    </div>

    <div class="clear"></div>

    <button ng-disabled="!form.$valid" class="button small primary" type="submit">Tallenna</button>
    <button class="button small float-left margin-right-1" ng-click="cancel()">Takaisin</button>
    <div class="clear"></div>
</form>