
<script type="text/ng-template" id="valintaryhma_node.html">
<div class="state-disabled label">
	<span class="disclose icon valintaryhma folder" 
	ng-class="{ collapse: domain.isCollapsed(data), file: domain.isFile(data), open: domain.isExpanded(data)}" 
	ng-click="expandNode(data)">​</span>
	<span enter="hover" leave="hover" class="dropmenu">
	<ul class="dropmenu-list">
        <div class="state-disabled"> <a href="#/valintaryhma/{{data.oid}}/lisaaSisaltyvaValintaryhma">Lisää sisältyvä valintaryhmä</a> </div>
        <div class="state-disabled"> <a href="#/valintaryhma/{{data.oid}}/sisaltyvat"> liitä hakukohde</a> </div>
	</ul>
	</span>
	<a href="#/valintaryhma/{{data.oid}}"> {{data.nimi}}</a>
</div>
<ol data-valintaryhmaoid="{{data.oid}}">
	<li ng-repeat="data in domain.getLapset(data) | orderBy:predicate" data-oid="{{data.oid}}" ng-class="{noNesting: !domain.isValintaryhmaLeaf(data), uiExpanded: domain.isExpanded(data), uiCollapsed: domain.isCollapsed(data)}" ng-include="domain.getTemplate(data)"></li>
</ol>
</script>
<script type="text/ng-template" id="hakukohde_leaf.html">
<span class="icon hakukohde file ng-scope">​</span>
<div class="label ng-scope"><a href="#/hakukohde/{{data.oid}}"> {{data.nimi}}</a></div>
</script>


<h1>Valintaperusteet</h1>
<div class="tabs">
    <a href="#/etusivu" class="tab current"><span>Valintaryhmät ja hakukohteet</span></a>
    <a href="#/laskentakaava" class="tab"><span>Laskentakaavat</span></a>
    <a href="#/import" class="tab float-right"><span>Yhteisvalinnan hallinta</span></a>

    <!-- <a href="#/valinnanvaihe/:id/laskentakaava" class="tab"><span>Laskentakaavat</span></a>    -->
</div>
<div class="tabsheets">

    <h2>{{'valintaryhmatlistaus.header' | i18n}}</h2>

    <a href="#/valintaryhma/root/lisaaSisaltyvaValintaryhma" class="button small">{{'valintaryhmatlistaus.add.valintaryhma' | i18n}}</a>
    <a href="#/lisaaHakukohde" class="button small">{{'valintaryhmatlistaus.add.hakukohde' | i18n}}</a>

    <ol class="sortable treelist collapsible multiselect" ng-controller="ValintaryhmaHakukohdeTreeController" nestedsortable="">
	    <li ng-repeat="data in domain.getRootNode() | orderBy:predicate" data-oid="{{data.oid}}" ng-class="{noNesting: !domain.isValintaryhmaLeaf(data), uiExpanded: data.isVisible, uiCollapsed: !data.isVisible}" ng-include="domain.getTemplate(data)"></li>
    </ol>
</div>