<h3>Valintaryhmän muokkaus</h3>


<div class="tabs">
	<a href="#/valintaryhma/{{model.valintaryhma.oid}}/" class="tab current"><span>Valintaryhmän perustiedot</span></a>
	<a ng-show="model.valintaryhma.oid" href="#/valintaryhma/{{model.valintaryhma.oid}}/sisaltyvat/" class="tab"><span>Sisältyvät hakukohteet/valintaryhmät</span></a>
	<a ng-show="model.valintaryhma.oid" href="#/valintaryhma/{{model.valintaryhma.oid}}/laskentakaava" class="tab"><span>Laskentakaavat</span></a>
</div>
<div class="tabsheets">

<form name="form" ng-submit="submit()">

    <dl>
        <dt>Valintaryhmän nimi</dt>
        <dd><input class="width-60" type="text" name="" id="" ng-model="model.valintaryhma.nimi" required/></dd>

        <dt>Valintaryhmän tunniste(oid):</dt>
        <dd>{{model.valintaryhma.oid}}</dd>
    </dl>

    <dl>
        <dt>Hakukohdekoodit</dt>
        <dd>
            <table class="virkailija-table-1 width-100">
                <thead>
                <tr>
                    <th>koodi</th>
                    <th>arvo</th>
                    <th>nimi</th>
                    <th>poista</th>
                </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="hakukohdekoodi in model.valintaryhma.hakukohdekoodit">
                        <td class="align-center">{{hakukohdekoodi.uri}}</td>
                        <td class="align-center">{{hakukohdekoodi.arvo}}</td>
                        <td class="align-center">{{hakukohdekoodi.nimiFi}}</td>
                        <td class="align-center">
                            <span class="btn remove" ng-click="removeHakukohdeKoodi(hakukohdekoodi)"></span>
                        </td>
                    </tr>
                    
                </tbody>

            </table>
        </dd>
    </dl>

    <dl ng-show="">
        <dt>Lisää hakukohdekoodi</dt>
        <dd><input class="width-60" name="hakukohdekoodit" type="text" id="uusiHakukohdeUri" ng-model="uusiHakukohdeUri" list="hakukohdekoodit"/>
            <datalist id="hakukohdekoodit">
                <!--[if IE 9]><select disabled style="display:none"><<!doctype html>
                <html lang="en" endif="">
                <head>
                    <meta charset="UTF-8">
                    <title>Document</title>
                </head>
                <body>
                    
                </body>
                </html>
                <option ng-repeat="data in model.hakukohdekoodit" value="{{data.koodiUri}}">{{data.metadata[0].nimi}}</option>
                <!--[if IE 9]></select><![endif]-->
            </datalist>

            <button type="button" class="margin-bottom-0 small" ng-click="addHakukohdeUri()" ng-disabled="!model.hakukohdekoodit.length">Lisää hakukohdekoodi</button>
        </dd>
    </dl>

    <dl>
        <dt>Valinnan vaiheet</dt>
        <dd>
            <table ng-show="model.valinnanvaiheet" class="virkailija-table-1 margin-bottom-2 width-60">
                <thead>
                <tr>
                    <th>Aktiivinen</th>
                    <th>Nimi</th>
                    <th>Periytyy</th>
                    <th>Tyyppi</th>
                    <th>Poista</th>
                </tr>
                </thead>
                <tbody ui-sortable ng-model="model.valinnanvaiheet">
                <tr ng-repeat="data in model.valinnanvaiheet">
                    <td class="align-center"><input type="checkbox" ng-model="data.aktiivinen" /></td>
                    <td class="align-center">
                        <a ng-class="{true:'', false:'line-through'}[data.aktiivinen]" ng-href="#/valintaryhma/{{model.valintaryhma.oid}}/{{model.getValinnanvaiheType(data)}}/{{data.oid}}">{{data.nimi}}</a>
                    </td>
                    <td class="align-center">{{data.inheritance}}</td>
                    <td class="align-center">{{data.valinnanVaiheTyyppi}}</td>
                    <td class="align-center">
                        <span ng-hide="data.inheritance" class="btn remove" ng-click="model.removeValinnanvaihe(data)"></span>
                    </td>
                </tr>
                </tbody>

            </table>
            <span ng-show="model.valintaryhma.oid" class="button small" ng-click="lisaaValinnanVaihe()">Lisää valinnanvaihe</span>
            <span ng-show="model.valintaryhma.oid" class="button small" ng-click="lisaaValintakoeValinnanVaihe()">Lisää valintakoevalinnanvaihe</span>
        </dd>
    </dl>

    <button ng-disabled="!form.$valid" class="button small primary" type="submit">Tallenna</button>
	<button type="button" class="float-left margin-right-1 button small" ng-click="cancel()">Peruuta</button>
	

</form>


</div>
