<h3>Valintakoevalinnanvaiheen muokkaus</h3>

<form name="form" ng-submit="submit()">

<div class="form-row">
	<label class="form-row-label" for="nimi">Nimi</label>
	<div class="form-row-content">
        <input name="nimi" ng-model="model.valintakoevalinnanvaihe.nimi" required/>
    </div>

	<div class="clear"></div>

    <label class="form-row-label" for="kuvaus">Kuvaus</label>
    <div class="form-row-content">
        <textarea name="kuvaus"  ng-model="model.valintakoevalinnanvaihe.kuvaus" />
    </div>
</div>

<div class="form-row" ng-show="model.valintakoevalinnanvaihe.oid">

    <div class="form-row-label">Valintakokeet</div>
    
    <div class="form-row-content">
        <table class="virkailija-table-1 margin-bottom-2" ng-show="model.valintakokeet">
            <thead>    
                <tr>
                    <th>Tunniste</th>
                    <th>Nimi</th>
                    <th>Kuvaus</th>
                    <th>Poista</th>
                </tr>  
            </thead>
            <tbody ng-model="model.valintakokeet" class="margin-top-2">
                <tr ng-repeat="valintakoe in model.valintakokeet">
                    <td>{{valintakoe.tunniste}}</td>
                    <td><a ng-click="modifyvalintakoe(valintakoe.oid)" >{{valintakoe.nimi}}</a></td>
                    <td>{{valintakoe.kuvaus}}</td>
                    <td><span class="btn remove" ng-click="model.removeValintakoe(valintakoe)"></span></td>
                </tr>
            </tbody>    
        </table>
        <span class="button small" ng-click="addValintakoe()">Lisää valintakoe</span>
    </div>
</div>
<div class="clear"></div>


<button ng-disabled="!form.$valid" class="button small primary" type="submit">Tallenna</button>
<button class="button small float-left margin-right-1" ng-click="cancel()">Takaisin</button>
</form>