<h1>Valinnanvaiheen muokkaus</h1>

<form name="form" ng-submit="submit()">
    <!--
    <div class="form-row">
        <label class="form-row-label" for="">Valinnan vaihe</label>

        <div class="form-row-content">
            <select ng-model="vaihe.tyyppi">
                <option>Esivalinta</option>
                <option>Varsinainen valinta</option>
                <option>Täydennysvalinta</option>
                <option>Lisävalinta</option>
            </select>
            <br/>
            <div><small>Valinnan vaiheen tyyppiin liittyvä ohjeteksti.</small></div>
        </div>
        <div class="clear"></div>
    </div>
    -->


    <div class="form-row" ng-show="model.valinnanvaihe.kuuluuSijoitteluun">
        <div class="form-row-label">Kuuluu sijoitteluun</div>
        <div class="form-row-content">
            {{model.valinnanvaihe.kuuluuSijoitteluun}}
        </div>
        <div class="clear"></div>
    </div>

    <div class="form-row">
        <label class="form-row-label" for="nimi">Nimi</label>

        <div class="form-row-content">
            <input name="nimi" ng-model="model.valinnanvaihe.nimi" required/>
        </div>

        <div class="clear"></div>

        <label class="form-row-label" for="kuvaus">Kuvaus</label>

        <div class="form-row-content">
            <textarea name="kuvaus" ng-model="model.valinnanvaihe.kuvaus"/>
        </div>
    </div>
    <!--
    <div class="form-row">
        <label class="form-row-label" for="kuvaus">Kuvaus</label>

        <div class="form-row-content">
            <input name="nimi" ng-model="valinnanvaihe.nimi" >
            <textarea name="kuvaus"  ng-model="valinnanvaihe.kuvaus" /></textarea>

            <div class="field-container-checkbox">
                <input type="checkbox" name="kvvs" ng-model="valinnanvaihe.sijoittelu" id="kvvs" value="" />
                <label for="kvvs">Käytetään valinnan vaihekohtaista sijoittelua</label><br/>
            </div>
            <div class="field-container-checkbox">
                <input type="checkbox" name="vvor" ng-model="valinnanvaihe.rajaava" id="vvor" value="" />
                <label for="vvor">Valinnan vaihe on rajaava</label><br/>
            </div>


         <div><small>Jotain ohjetekstiä.</small></div>

        </div>
        <div class="clear"></div>
    </div>
             -->
    <div class="form-row" ng-show="model.valinnanvaihe.oid">
        <div class="form-row-label">Valintatapajonot</div>

        <div class="form-row-content">
            <table class="virkailija-table-1 margin-bottom-2" ng-show="model.valintatapajonot">
                <thead>
                <tr>
                    <th>Aktiivinen</th>
                    <th>Nimi</th>
                    <th>Periytyminen</th>
                    <th>Poista</th>
                </tr>
                </thead>
                <tbody ui-sortable ng-model="model.valintatapajonot" class="margin-top-2">
                <tr ng-repeat="jono in model.valintatapajonot">
                    <td><input type="checkbox" ng-model="jono.aktiivinen"/></td>
                    <td>
                        <a ng-class="{true:'', false:'line-through'}[jono.aktiivinen]" ng-click="modifyJono(jono.oid)">{{jono.nimi}}</a>
                    </td>
                    <td>{{'valintaperusteet.periytyy.' + jono.inheritance | i18n}}</td>
                    <td class="align-center">
                        <span ng-show="!jono.inheritance" class="btn remove" ng-click="model.remove(jono)"></span>
                    </td>
                </tr>
                </tbody>
            </table>
            <span class="button small" ng-click="addJono()"><i class="fa fa-plus"></i> Jono</span>
        </div>
    </div>
    <div class="clear"></div>


    <button ng-disabled="!form.$valid" class="button small primary" type="submit"><i class="fa fa-floppy-o"></i>
        Tallenna
    </button>
    <button class="button small float-left margin-right-1" ng-click="cancel()"><i class="fa fa-arrow-left"></i> Takaisin
    </button>
</form>