<h1>Valintaryhmän muokkaus</h1>


<div class="tabs">
    <a href="#/valintaryhma/{{model.valintaryhma.oid}}/" class="tab current"><span>Valintaryhmän perustiedot</span></a>
    <a ng-show="model.valintaryhma.oid" href="#/valintaryhma/{{model.valintaryhma.oid}}/laskentakaava"
       class="tab"><span>Laskentakaavat</span></a>
</div>
<div class="tabsheets">

    <form name="form" ng-submit="submit()">
        <div class="form-row">
            <label class="form-row-label">Ylävalintaryhmä</label>

            <div class="form-row-content width-60">
                <div ng-include="'partials/valintaryhmaSelector.html'" />
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>

        <div class="form-row">
            <label class="form-row-label" for="">Nimi</label>

            <div class="form-row-content width-60">
                <input class="width-60" type="text" name="" id="" ng-model="model.valintaryhma.nimi" required/>
                <!--
              <br/>
              <div><small>Valintaryhmän nimeen liittyvä ohjeteksti.</small></div>
                 -->
            </div>
            <div class="clear"></div>
        </div>

        <div class="form-row">
            <label class="form-row-label" for="">Organisaatiot:</label>

            <div class="form-row-content  width-60">

                <table class="virkailija-table-1">
                    <thead>
                    <tr>
                        <th>nimi</th>
                        <th>tyyppi</th>
                        <th>oid</th>
                        <th>poista</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="organisaatio in model.valintaryhma.organisaatiot">
                        <td class="align-center">{{organisaatio.nimi['fi'] || organisaatio.nimi['sv'] || organisaatio.nimi['en']}}</td>
                        <td class="align-center">
                            <span ng-repeat="type in organisaatio.organisaatiotyypit">{{type}}</span>
                            <span ng-repeat="type in organisaatio.tyypit">{{type}}</span>
                        </td>
                        <td class="align-center">{{organisaatio.oid}}</td>
                        <td class="align-center">
                            <i class="fa fa-trash-o organisaatio" ng-click="model.valintaryhma.organisaatiot.splice($index,1)"></i>
                        </td>
                    </tr>

                    </tbody>

                </table>
                <div class="clear"></div>
                <br />
                <div ng-include="'partials/organisaatioSelector.html'" />

            </div>

            <div class="clear"></div>
        </div>

        <div class="grid16-16">
            <button ng-disabled="!form.$valid" class="button small primary" type="submit"><i class="fa fa-floppy-o"></i> Tallenna</button>
            <button type="button" class="float-left margin-right-1 button small" ng-click="cancel()"><i class="fa fa-arrow-left"></i> Takaisin</button>
        </div>
        <div class="clear"></div>
    </form>


</div>
