<h1>Valintaryhmän muokkaus</h1>


<div class="tabs">
    <a href="#/valintaryhma/{{model.valintaryhma.oid}}/" class="tab current"><span>Valintaryhmän perustiedot</span></a>
    <a ng-show="model.valintaryhma.oid" href="#/valintaryhma/{{model.valintaryhma.oid}}/laskentakaava"
       class="tab"><span>Laskentakaavat</span></a>
</div>
<div class="tabsheets">

    <form name="form" ng-submit="submit()">

        <div class="form-row">
            <label class="form-row-label" for="">Nimi</label>

            <div class="form-row-content width-60">
                <input class="width-60" type="text" name="" id="" ng-model="model.valintaryhma.nimi" required/>
                <!--
              <br/>
              <div><small>Valintaryhmän nimeen liittyvä ohjeteksti.</small></div>
                 -->
            </div>
            <div class="clear"></div>
        </div>

        <div class="form-row">
            <label class="form-row-label" for="">Tunniste(oid):</label>

            <div class="form-row-content">
                <span class="nofield">{{model.valintaryhma.oid}}</span>
                <!--    <input type="text" ng-model="valintaryhma.oid" disabled />
                   <input type="text" name="" id="" ng-model="valintaryhma.oid" />     -->
            </div>
            <div class="clear"></div>
        </div>

        <div class="form-row">
            <label class="form-row-label" for="">Organisaatiot:</label>

            <div class="form-row-content  width-60">

                <table class="virkailija-table-1">
                    <thead>
                    <tr>
                        <th>nimi</th>
                        <th>tyyppi</th>
                        <th>oid</th>
                        <th>poista</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="organisaatio in model.valintaryhma.organisaatiot">
                        <td class="align-center">{{organisaatio.nimi['fi'] || organisaatio.nimi['sv'] || organisaatio.nimi['en']}}</td>
                        <td class="align-center">
                            <span ng-repeat="type in organisaatio.organisaatiotyypit">{{type}}</span>
                            <span ng-repeat="type in organisaatio.tyypit">{{type}}</span>
                        </td>
                        <td class="align-center">{{organisaatio.oid}}</td>
                        <td class="align-center">
                            <i class="fa fa-trash-o organisaatio" ng-click="model.valintaryhma.organisaatiot.splice($index,1)"></i>
                        </td>
                    </tr>

                    </tbody>

                </table>
                <div class="clear"></div>
                <br />
                <div ng-include="'partials/organisaatioSelector.html'" />

            </div>

            <div class="clear"></div>
        </div>

        <!-- VALINTAKOEKOODIEN LISTAUS -->
        <div ng-show="model.valintaryhma.valintakoekoodit" class="form-row">
            <label class="form-row-label" for="">Valintakoekoodit</label>

            <div class="form-row-content">
                <table class="virkailija-table-1 width-60">
                    <thead>
                    <tr>
                        <th>koodi</th>
                        <th>arvo</th>
                        <th>nimi</th>
                        <th>poista</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="valintakoekoodit in model.valintaryhma.valintakoekoodit">
                        <td class="align-center">{{valintakoekoodit.uri}}</td>
                        <td class="align-center">{{valintakoekoodit.arvo}}</td>
                        <td class="align-center">{{valintakoekoodit.nimiFi}}</td>
                        <td class="align-center">
                            <span class="btn remove" ng-click="removeValintakoeKoodi(valintakoekoodit)"></span>
                        </td>
                    </tr>

                    </tbody>

                </table>
            </div>
            <div class="clear"></div>
        </div>
    

        <!-- VALINTAKOEKOODIEN LISÄYS -->
        <div class="form-row" ng-show="model.valintaryhma.oid">
            <label class="form-row-label">Lisää valintakoekoodi</label>
            <div class="form-row-content width-60">
                
                <div filterable-list ng-show="showValintakoeKoodit" class="autocomplete">
                    <div class="form-row">
                        <button type="button" class="margin-bottom-0 small" ng-click="addValintakoeUri(selectedId)"
                        ng-disabled="!selectedId">Lisää valintakoekoodi</button>
                    </div>
                   
                    <div class="ac-selection">
                        <h3 class="margin-top-0">Valittu valintakoekoodi: {{selectedId}}</h3>
                    </div>

                    <input class="width-60 ac-filter search" type="text" placeholder="Suodata valintakoekoodeja" ng-model="valintakoekoodifilter" />                         

                    <ul class="ac-options" ng-show="model.valintakoekoodit">
                        <li fl-option="{{valintakoekoodi.koodiUri}}" class="ac-option" ng-click="setHakukohdeUri()" ng-repeat="valintakoekoodi in model.valintakoekoodit | filter:valintakoekoodifilter | valintakoekoodiFullMatchFilter">
                            <span>{{valintakoekoodi.metadata[0].nimi}}</span>
                            <span class="float-right">{{valintakoekoodi.koodiUri}}</span>
                        </li> 
                    </ul>
                    
                </div>  
                
                <button ng-click="showValintakoeKoodit = !showValintakoeKoodit" ng-model="showValintakoeKoodit"  type="button" class="margin-bottom-0 small">
                    <span ng-show="!showValintakoeKoodit">Näytä valintakoekoodit</span>
                    <span ng-show="showValintakoeKoodit">Piilota valintakoekoodit</span>
                </button>
                
                
            </div>
            <div class="clear"></div>
        </div>
    


        <!-- HAKUKOHDEKOODIEN LISTAUS -->
        <div ng-show="model.valintaryhma.hakukohdekoodit" class="form-row">
            <label class="form-row-label" for="">Hakukohde koodit</label>

            <div class="form-row-content">
                <table class="virkailija-table-1 width-60">
                    <thead>
                    <tr>
                        <th>koodi</th>
                        <th>arvo</th>
                        <th>nimi</th>
                        <th>poista</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="hakukohdekoodi in model.valintaryhma.hakukohdekoodit">
                        <td class="align-center">{{hakukohdekoodi.uri}}</td>
                        <td class="align-center">{{hakukohdekoodi.arvo}}</td>
                        <td class="align-center">{{hakukohdekoodi.nimiFi}}</td>
                        <td class="align-center">
                            <span class="btn remove" ng-click="removeHakukohdeKoodi(hakukohdekoodi)"></span>
                        </td>
                    </tr>

                    </tbody>

                </table>
            </div>
            <div class="clear"></div>
        </div>
        
        <!-- HAKUKOHDEKOODIEN LISÄYS -->
        <div class="form-row" ng-show="model.valintaryhma.oid">
            <label class="form-row-label">Lisää hakukohdekoodeja</label>
            <div class="form-row-content width-60">
                
                <div filterable-list ng-show="showHakukohdekoodit" class="autocomplete">
                    <div class="form-row">
                         <button type="button" class="margin-bottom-0 small" ng-click="addHakukohdeUri(selectedId)"
                        ng-disabled="!selectedId">Lisää hakukohdekoodi</button>
                    </div>
                   
                    <div class="ac-selection">
                        <h3 class="margin-top-0">Valittu hakukohdekoodi: {{selectedId}}</h3>
                    </div>

                    <input class="width-60 ac-filter search" type="text" placeholder="Suodata hakukohdekoodeja" ng-model="hakukohdekoodifilter" />

                    <ul class="ac-options" ng-show="model.hakukohdekoodit">
                        <li fl-option="{{hakukohdekoodi.koodiUri}}" class="ac-option" ng-click="setHakukohdeUri()" ng-repeat="hakukohdekoodi in model.hakukohdekoodit | filter:hakukohdekoodifilter | hakukohdekoodiFullMatchFilter">
                            <span>{{hakukohdekoodi.metadata[0].nimi}}</span>
                            <span class="float-right">{{hakukohdekoodi.koodiUri}}</span>
                        </li> 
                    </ul>
                    
                </div>  
                
                <button ng-click="showHakukohdekoodit = !showHakukohdekoodit" ng-model="showHakukohdekoodit"  type="button" class="margin-bottom-0 small">
                    <span ng-show="!showHakukohdekoodit">Näytä hakukohdekoodit</span>
                    <span ng-show="showHakukohdekoodit">Piilota hakukohdekoodit</span>
                </button>
                
                
            </div>
            <div class="clear"></div>
        </div>
        
        <!-- VALINNANVAIHEIDEN LISTAUS -->
        <div class="form-row width-100">
            <div class="form-row-label">Valinnan vaiheet</div>
            <div class="form-row-content width-60">
                <table ng-show="model.valinnanvaiheet" class="virkailija-table-1 margin-bottom-2 width-60">
                    <thead>
                    <tr>
                        <th>Aktiivinen</th>
                        <th>Nimi</th>
                        <th>Periytyy</th>
                        <th>Tyyppi</th>
                        <th>Poista</th>
                    </tr>
                    </thead>
                    <tbody ui-sortable ng-model="model.valinnanvaiheet">
                    <tr ng-repeat="data in model.valinnanvaiheet">
                        <td class="align-center"><input type="checkbox" ng-model="data.aktiivinen"/></td>
                        <td class="align-center">
                            <a ng-class="{true:'', false:'line-through'}[data.aktiivinen]"
                               ng-href="#/valintaryhma/{{model.valintaryhma.oid}}/{{model.getValinnanvaiheType(data)}}/{{data.oid}}">{{data.nimi}}</a>
                        </td>
                        <td class="align-center">{{'valintaperusteet.periytyy.' + data.inheritance | i18n}}</td>
                        <td class="align-center">{{'valintaperusteet.tyyppi.' + data.valinnanVaiheTyyppi | i18n}}</td>
                        <td class="align-center">
                            <span ng-hide="data.inheritance" class="btn remove"
                                  ng-click="model.removeValinnanvaihe(data)"></span>
                        </td>
                    </tr>
                    </tbody>

                </table>

                <div class="clear"></div>

                <div ng-show="model.valintaryhma.oid" class="form-row">
                    <span type="button" class="button small" ng-click="lisaaValinnanVaihe()">{{'valintaryhmalomake.add.valinnanvaihe' | i18n}}</span>
                    <span type="button" class="button small" ng-click="lisaaValintakoeValinnanVaihe()">{{'valintaryhmalomake.add.koekutsuvaihe' | i18n}}</span>
                </div>
            </div>
        </div>

        <div class="form-row width-100"  >
            <div class="form-row-label">Hakijaryhmat</div>
            <div class="form-row-content width-60">
                <table ng-show="model.hakijaryhmat" class="virkailija-table-1 margin-bottom-2 width-60">
                    <thead>
                    <tr>
                        <th>Nimi</th>
                        <th>Laskentakaava</th>
                        <th>Kiintiö</th>
                        <th>Periytyy</th>
                        <th>Poista</th>
                    </tr>
                    </thead>
                    <tbody ui-sortable ng-model="model.hakijaryhmat">
                    <tr ng-repeat="data in model.hakijaryhmat">
                        <td class="align-center">
                            <a href="#/valintaryhma/{{model.valintaryhma.oid}}/hakijaryhma/{{data.oid}}">{{data.nimi}}</a>
                        </td>
                        <td class="align-center">{{data.laskentakaava_nimi}}</td>
                        <td class="align-center">{{data.kiintio}}</td>
                        <td class="align-center">{{data.inheritance}}</td>
                        <td class="align-center">
                            <span ng-show="!data.inheritance" class="btn remove" ng-click="removeHakijaryhma(data.oid)"></span>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <div class="clear"></div>

                <div ng-show="model.valintaryhma.oid" class="form-row">
                    <span class="button small" ng-click="lisaaHakijaryhma()">Lisää Hakijaryhma</span>
                </div>
            </div>
        </div>

        


        
        <div class="grid16-16">
            <button ng-disabled="!form.$valid" class="button small primary" type="submit"><i class="fa fa-floppy-o"></i> Tallenna</button>
            <button type="button" class="float-left margin-right-1 button small" ng-click="cancel()"><i class="fa fa-arrow-left"></i> Takaisin</button>
        </div>
        <div class="clear"></div>
    </form>


</div>
