<h3>Valintakokeen muokkaus</h3>

<form name="form" ng-submit="submit()">

<div class="form-row">

    <label class="form-row-label">Tunniste</label>
    <div class="form-row-content">
        <input name="tunniste" ng-model="model.valintakoe.tunniste" required />
    </div>
    <div class="clear"></div>

	<label class="form-row-label" for="nimi">Nimi</label>
	<div class="form-row-content">
        <input name="nimi" ng-model="model.valintakoe.nimi" required/>
    </div>
	<div class="clear"></div>

    <label class="form-row-label" for="kuvaus">Kuvaus</label>
    <div class="form-row-content">
        <textarea name="kuvaus"  ng-model="model.valintakoe.kuvaus" />
    </div>
</div>


<div class="form-row" ng-model="model.laskentakaavat" >

    <div class="form-row-label">Laskentakaava</div>
    <div class="form-row-content">
        <label>
            <input type="radio" name="laskentakaava" value=""
                 ng-model="model.valintakoe.laskentakaavaId" />
            <span>Aina pakollinen</span>

        </label>
        <div ng-repeat="data in model.laskentakaavat" class="field-container-radio">
            <label>
                <input type="radio" name="laskentakaava" value="{{data.id}}"
                       ng-model="model.valintakoe.laskentakaavaId" />

                <span ng-bind="data.nimi"></span>(<span ng-bind="data.id"></span>)
            </label>
        </div>

    </div>
    <div class="clear"></div>
</div>

<div class="clear"></div>

<button ng-disabled="!form.$valid" class="button small primary" type="submit">Tallenna</button>
<button class="button small float-left margin-right-1" ng-click="cancel()">Takaisin</button>
</form>