<h1>Valintakokeen muokkaus</h1>
<div class="tabs">
    <a href="#/etusivu" class="tab current"><span>Valintaryhmät ja hakukohteet</span></a>
    <a ng-if="valintaryhmaOid" ng-href="#/valintaryhma/{{valintaryhmaOid}}/laskentakaavalista" class="tab"><span>Laskentakaavat</span></a>
    <a ng-if="hakukohdeOid" ng-href="#/hakukohde/{{hakukohdeOid}}/laskentakaavalista" class="tab"><span>Laskentakaavat</span></a>
    <a auth="crudOph" href="#/import" class="tab float-right"><span>Yhteisvalinnan hallinta</span></a>
</div>

<div class="tabsheets">
    <breadcrumb></breadcrumb>

    <form name="form" ng-submit="submit()">

        <div class="form-row">

            <label class="form-row-label">Tunniste</label>

            <div class="form-row-content">
                <input name="tunniste" ng-model="model.valintakoe.tunniste" required/>
            </div>
            <div class="clear"></div>

            <label class="form-row-label" for="nimi">Nimi</label>

            <div class="form-row-content">
                <input name="nimi" ng-model="model.valintakoe.nimi" required/>
            </div>
            <div class="clear"></div>

            <label class="form-row-label" for="kuvaus">Kuvaus</label>

            <div class="form-row-content">
                <textarea name="kuvaus" ng-model="model.valintakoe.kuvaus"/>
            </div>
            <div class="clear"></div>

            <label class="form-row-label" for="lahetetaankoKoekutsut">Lähetetäänkö koekutsut</label>

            <div class="form-row-content">
                <input type="checkbox" name="lahetetaankoKoekutsut" ng-model="model.valintakoe.lahetetaankoKoekutsut"/>
            </div>
        </div>

        <!--
        <div class="form-row" ng-model="model.laskentakaavat">

            <div class="form-row-label">Laskentakaava</div>
            <div class="form-row-content">
                <label>
                    <input type="radio" name="laskentakaava" value=""
                           ng-model="model.valintakoe.laskentakaavaId"/>
                    <span>Aina pakollinen</span>

                </label>

                <div ng-repeat="data in model.laskentakaavat" class="field-container-radio">
                    <label>
                        <input type="radio" name="laskentakaava" value="{{data.id}}"
                               ng-model="model.valintakoe.laskentakaavaId"/>

                        <span ng-bind="data.nimi"></span>
                    </label>
                </div>

            </div>
            <div class="clear"></div>
        </div>

-->

        <div class="form-row">

            <div class="form-row-label">Laskentakaava</div>
            <div class="form-row-content">&nbsp;</div>
            <div class="clear"></div>
            <div ng-repeat="group in model.laskentakaavaModel.laskentakaavat" class="field-container-radio">
                <div class="form-row-label">{{group.name}}</div>
                <div class="form-row-content">
                    <!--<span >{{model.laskentakaavat}}</span>-->

                    <div ng-repeat="data in group.result" class="field-container-radio">
                        <label>
                            <input type="radio" name="laskentakaava" value="{{data.id}}"
                                   ng-model="model.valintakoe.laskentakaavaId"
                                   ng-required="!model.valintakoe.laskentakaavaId"/>

                            <span ng-bind="data.nimi"></span>
                        </label>
                    </div>
                </div>

                <div class="clear"></div>
            </div>

        </div>



        <button class="btn btn-sm btn-default" ng-click="cancel()"><i class="fa fa-arrow-left"></i>
            Takaisin
        </button>
        <button auth="update" ng-disabled="!form.$valid" class="btn btn-sm btn-primary" type="submit"><i
                class="fa fa-floppy-o"></i>
            Tallenna
        </button>

    </form>
</div>