<h1>Valintakokeen muokkaus</h1>
<div class="tabs">
    <a href="#/etusivu" class="tab current"><span>Valintaryhmät ja hakukohteet</span></a>
    <a ng-if="valintaryhmaOid" ng-href="#/valintaryhma/{{valintaryhmaOid}}/laskentakaavalista" class="tab"><span>Laskentakaavat</span></a>
    <a ng-if="hakukohdeOid" ng-href="#/hakukohde/{{hakukohdeOid}}/laskentakaavalista"
       class="tab"><span>Laskentakaavat</span></a>
    <a auth="crudOph" href="#/import" class="tab float-right"><span>Yhteisvalinnan hallinta</span></a>
</div>

<div class="tabsheets">
    <breadcrumb></breadcrumb>

    <form name="form" ng-submit="submit()">

        <div class="form-row">

            <label class="form-row-label">Tunniste</label>

            <div class="form-row-content">
                <input name="tunniste" ng-model="model.valintakoe.tunniste" required/>
            </div>
            <div class="clear"></div>

            <label class="form-row-label" for="nimi">Nimi</label>

            <div class="form-row-content">
                <input name="nimi" ng-model="model.valintakoe.nimi" required/>
            </div>
            <div class="clear"></div>

            <label class="form-row-label" for="kuvaus">Kuvaus</label>

            <div class="form-row-content">
                <textarea name="kuvaus" ng-model="model.valintakoe.kuvaus"/>
            </div>
            <div class="clear"></div>

            <label class="form-row-label" for="lahetetaankoKoekutsut">Lähetetäänkö koekutsut</label>

            <div class="form-row-content">
                <input type="checkbox" name="lahetetaankoKoekutsut" ng-model="model.valintakoe.lahetetaankoKoekutsut"/>
            </div>
            <div class="clear"></div>

            <label class="form-row-label" for="kutsutaankoKaikki">Kutsutaanko kaikki</label>

            <div class="form-row-content">
                <input type="checkbox" name="kutsutaankoKaikki" ng-model="model.valintakoe.kutsutaankoKaikki"/>
            </div>
        </div>

        <div class="form-row">

            <div ng-repeat="group in model.laskentakaavaModel.laskentakaavat | filter:'TOTUUSARVO'"
                 class="field-container-radio">
                <label class="form-row-label">Valintakokeen laskentakaava</label>


                <div class="form-row-content">
                    <table class="virkailija-table-1">
                        <thead>
                        <tr>
                            <th></th>
                            <th>Laskentakaava</th>
                            <th>Valintaryhmä / Hakukohde</th>
                        </tr>
                        </thead>
                        <tbody ng-repeat="group in model.laskentakaavaModel.laskentakaavat">
                            <tr ng-repeat="data in group.result | filter: 'TOTUUSARVOFUNKTIO'">

                                <td><input type="radio" name="laskentakaava" value="{{data.id}}"
                                           ng-model="model.valintakoe.laskentakaavaId"/></td>
                                <td>{{data.nimi}}</td>
                                <td>{{group.name}}</td>
                            </tr>
                        </tbody>

                    </table>
                </div>

                <div class="clear"></div>
            </div>



        </div>


        <button class="btn btn-sm btn-default" ng-click="cancel()" popover-popup-delay="500" popover-placement="top" popover-trigger="mouseenter" popover="Muista tallentaa muutoksesi"><i class="fa fa-arrow-left"></i>
            Takaisin
        </button>
        <button auth="update" ng-disabled="!form.$valid" class="btn btn-sm btn-primary" type="submit"><i
                class="fa fa-floppy-o"></i>
            Tallenna
        </button>

    </form>
</div>