<h1>{{ t('valintakoelomake.header') || 'Valintakokeen muokkaus' }}</h1>
<div class="tabs">
    <a href="#/etusivu" class="tab current"><span>{{ t('common.etusivu') || 'Valintaryhmät ja hakukohteet' }}</span></a>
    <a ng-if="valintaryhmaOid" ng-href="#/valintaryhma/{{valintaryhmaOid}}/laskentakaavalista" class="tab"><span>{{ t('common.laskentakaava') || 'Laskentakaavat' }}</span></a>
    <a ng-if="hakukohdeOid" ng-href="#/hakukohde/{{hakukohdeOid}}/laskentakaavalista"
       class="tab"><span>{{ t('common.laskentakaava') || 'Laskentakaavat' }}</span></a>
    <a auth ng-if="userAccess.crudOph || (userAccess.hasCrudRights() && userModel.isKKUser)" href="#/import" class="tab float-right"><span>{{ t('common.import') || 'Yhteisvalinnan hallinta' }}</span></a>
</div>

<div class="tabsheets">
    <breadcrumb></breadcrumb>

    <form id="valintakoelomake" class="form-horizontal" name="form" ng-submit="submit()">

        <div class="form-group">

            <label for="valintakoenimi" class="control-label col-md-2">{{ t('valintakoelomake.tunniste') || 'Tunniste'
                }}</label>

            <div class="col-md-6">
                <input auth ng-disabled="!userAccess.updateOrg" class="form-control" id="valintakoenimi"
                       ng-model="model.valintakoe.tunniste" required/>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="nimi">{{ t('valintakoelomake.nimi') || 'Nimi' }}</label>

            <div class="col-md-6">
                <input class="form-control" auth ng-disabled="!userAccess.updateOrg" id="nimi"
                       ng-model="model.valintakoe.nimi" required/>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="kuvaus">{{ t('valintakoelomake.kuvaus') || 'Kuvaus' }}</label>

            <div class="col-md-6">
                <textarea class="form-control" auth ng-disabled="!userAccess.updateOrg" id="kuvaus"
                          ng-model="model.valintakoe.kuvaus"/>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="lahetetaankoKoekutsut">{{ t('valintakoelomake.lahetetaanko') ||
                'Lähetetäänkö
                koekutsut' }}</label>

            <div class="col-md-6">
                <input auth ng-disabled="!userAccess.updateOrg" type="checkbox" id="lahetetaankoKoekutsut"
                       ng-model="model.valintakoe.lahetetaankoKoekutsut"/>
            </div>
        </div>
        <div class="form-group" ng-show="model.valintakoe.kutsunKohde != 'HAKIJAN_VALINTA'">
            <label class="control-label col-md-2" for="kutsutaankoKaikki">{{ t('valintakoelomake.kutsutaanko') ||
                'Kutsutaanko
                kaikki' }}</label>

            <div class="col-md-6">
                <input auth ng-disabled="!userAccess.updateOrg" type="checkbox" id="kutsutaankoKaikki"
                       ng-model="model.valintakoe.kutsutaankoKaikki"/>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="kohde">{{ t('valintakoelomake.kohde') || 'Kutsun kohde'
                }}</label>

            <div class="col-md-6">
                <select id="kutsunKohde" class="form-control" auth ng-disabled="!userAccess.updateOrg" id="kohde" name="kohde"
                        ng-model="model.valintakoe.kutsunKohde">
                    <option value="YLIN_TOIVE">{{ t('valintakoelomake.ylin_toive') || 'Hakijan ylin hakutoive' }}
                    </option>
                    <option value="YLIN_HYVAKSYTTY_TOIVE">{{ t('valintakoelomake.ylin_hyvaksytty_toive') || 'Hakijan
                        ylin
                        hakutoive, johon pisteet riittävät' }}
                    </option>
                    <option value="HAKIJAN_VALINTA">{{ t('valintakoelomake.hakijan_valinta') || 'Hakijan valitsema
                        hakukohde' }}
                    </option>
                    <option value="KAIKKI_TOIVEET">{{ t('valintakoelomake.kaikki_toiveet') || 'Kaikki valintaryhmän
                        hakukohteet' }}
                    </option>
                </select>
            </div>
        </div>

        <div class="form-group" ng-show="model.valintakoe.kutsunKohde == 'HAKIJAN_VALINTA'">
            <label class="control-label col-md-2" for="kohdeavain">{{ t('valintakoelomake.kohdeavain') || 'Lisäkysymyksen tunniste'
                }}</label>
            <div class="col-md-6">
                <select id="lisakysymyksenTunniste" class="form-control" auth ng-model="model.valintakoe.kutsunKohdeAvain" id="kohdeavain"
                        ng-options="data.key as data.value for data in model.lisakysymysAvaimet"
                        ng-disabled="!userAccess.updateOrg">
                    <option value=""></option>
                </select>
                <br />

                <label>Tunniste</label>
                <div>{{model.valintakoe.kutsunKohdeAvain}}</div>
                <br>
                <div id="vastausvaihtoehdot">
                    <label>Vastausvaihtoehdot</label>
                    <div class="show-first-rows"
                         ng-repeat="avain in model.lisakysymysAvaimet | filter: {key: model.valintakoe.kutsunKohdeAvain}"
                         ng-init="model.showExpand = (avain.options.length > 3)">
                        <span ng-show="model.valintakoe.kutsunKohdeAvain" ng-repeat="option in avain.options">
                            ({{option.id}}) {{option.text}}<br/>
                        </span>
                    </div>
                    <div ng-show="model.showExpand">
                        <a href="#" onclick="$(this).parent().prev().toggleClass('show-first-rows'); return false;" >...</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">

            <div>
                <label class="control-label col-md-2">{{ t('valintakoelomake.valintakokeenlaskentakaava') ||
                    'Valintakokeen
                    laskentakaava' }}</label>

                <div class="col-md-6">
                    <table class="virkailija-table-1">
                        <thead>
                        <tr>
                            <th></th>
                            <th>{{ t('valintakoelomake.laskentakaava') || 'Laskentakaava' }}</th>
                            <th>{{ t('valintakoelomake.valintaryhma') || 'Valintaryhmä / Hakukohde' }}</th>
                        </tr>
                        </thead>
                        <tr>
                            <td><input auth ng-disabled="!userAccess.updateOrg" type="radio" name="laskentakaava"
                                       value=""
                                       ng-model="model.valintakoe.laskentakaavaId"/></td>
                            <td>Ei laskentakaavaa</td>
                            <td></td>
                        </tr>
                        <tbody ng-repeat="group in model.laskentakaavaModel.laskentakaavat">
                        <tr ng-repeat="data in group.result">

                            <td><input auth ng-disabled="!userAccess.updateOrg" type="radio" name="laskentakaava"
                                       value="{{data.id}}"
                                       ng-model="model.valintakoe.laskentakaavaId"/></td>
                            <td>{{data.nimi}}</td>
                            <td>{{group.name}}</td>
                        </tr>
                        </tbody>

                    </table>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2">
                <div class="pull-right">
                    <button class="btn btn-sm btn-default" ng-click="cancel()" popover-popup-delay="500"
                            popover-placement="top"
                            popover-trigger="mouseenter"
                            popover="{{ t('common.muista') || 'Muista tallentaa muutoksesi' }}"><i
                            class="fa fa-arrow-left"></i>
                        {{ t('common.takaisin') || 'Takaisin' }}
                    </button>
                    <button auth ng-disabled="!form.$valid || !userAccess.updateOrg" class="btn btn-sm btn-primary"
                            type="submit"><i
                            class="fa fa-floppy-o"></i>
                        {{ t('common.tallenna') || 'Tallenna' }}
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>