<h1>{{ t('valintakoevalinnanvaihelomake.header') || 'Koekutsuvaiheen muokkaus' }}</h1>

<div class="tabs">
    <a href="#/etusivu" class="tab current"><span>{{ t('common.etusivu') || 'Valintaryhmät ja hakukohteet' }}</span></a>
    <a ng-if="valintaryhmaOid" ng-href="#/valintaryhma/{{valintaryhmaOid}}/laskentakaavalista" class="tab"><span>{{ t('common.laskentakaava') || 'Laskentakaavat' }}</span></a>
    <a ng-if="hakukohdeOid" ng-href="#/hakukohde/{{hakukohdeOid}}/laskentakaavalista" class="tab"><span>{{ t('common.laskentakaava') || 'Laskentakaavat' }}</span></a>
    <a auth ng-if="userAccess.crudOph" href="#/import" class="tab float-right"><span>{{ t('common.import') || 'Yhteisvalinnan hallinta' }}</span></a>
</div>

<div class="tabsheets">
    <breadcrumb></breadcrumb>
    <form class="form-horizontal" name="form" ng-submit="submit()">

        <div class="form-group">
            <label class="control-label col-md-2" for="nimi">{{ t('valintakoevalinnanvaihelomake.nimi') || 'Nimi'
                }}</label>

            <div class="col-md-6">
                <input class="form-control" auth ng-disabled="!userAccess.updateOrg" id="nimi"
                       ng-model="model.valintakoevalinnanvaihe.nimi" required/>
            </div>
        </div>
        <div class="form-group">

            <label class="control-label col-md-2" for="kuvaus">{{ t('valintakoevalinnanvaihelomake.kuvaus') || 'Kuvaus'
                }}</label>

            <div class="col-md-6">
                <textarea class="form-control" auth ng-disabled="!userAccess.updateOrg" id="kuvaus"
                          ng-model="model.valintakoevalinnanvaihe.kuvaus"/>
            </div>
        </div>

        <div class="form-group" ng-show="model.valintakoevalinnanvaihe.oid">

            <label class="control-label col-md-2">{{ t('valintakoevalinnanvaihelomake.valintakokeet') || 'Valintakokeet'
                }}</label>

            <div class="form-row-content col-md-4">
                <table class="virkailija-table-1" ng-show="model.valintakokeet">
                    <thead>
                    <tr>
                        <th>{{ t('valintakoevalinnanvaihelomake.aktiivinen') || 'Aktiivinen' }}</th>
                        <th>{{ t('valintakoevalinnanvaihelomake.tunniste') || 'Tunniste' }}</th>
                        <th>{{ t('valintakoevalinnanvaihelomake.nimi') || 'Nimi' }}</th>
                        <th>{{ t('valintakoevalinnanvaihelomake.kuvaus') || 'Kuvaus' }}</th>
                        <th>{{ t('valintakoevalinnanvaihelomake.poista') || 'Poista' }}</th>
                    </tr>
                    </thead>
                    <tbody ng-model="model.valintakokeet">
                    <tr ng-repeat="valintakoe in model.valintakokeet">
                        <td><input auth ng-disabled="!userAccess.updateOrg" type="checkbox"
                                   ng-model="valintakoe.aktiivinen"/></td>
                        <td>{{valintakoe.tunniste}}</td>
                        <td><a ng-click="modifyvalintakoe(valintakoe.oid)">{{valintakoe.nimi}}</a></td>
                        <td>{{valintakoe.kuvaus}}</td>
                        <td>
                            <button auth ng-disabled="!userAccess.updateOrg" class="btn btn-default btn-sm"
                                    ng-click="model.removeValintakoe(valintakoe)">
                                <i class="fa fa-trash-o organisaatio"></i>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2 col-md-offset-2">
                <button auth ng-disabled="!userAccess.crudOrg" class="btn btn-sm btn-default"
                        ng-click="addValintakoe()"><i class="fa fa-plus"></i> {{
                    t('valintakoevalinnanvaihelomake.valintakoe') || 'Valintakoe' }}
                </button>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2">
                <div class="pull-right">
                <button class="btn btn-sm btn-default" ng-click="cancel()" popover-popup-delay="500"
                        popover-placement="top" popover-trigger="mouseenter"
                        popover="{{ t('common.muista') || 'Muista tallentaa muutoksesi' }}"><i
                        class="fa fa-arrow-left"></i> {{ t('common.takaisin') || 'Takaisin' }}
                </button>
                <button auth ng-disabled="!form.$valid || !userAccess.updateOrg" class="btn btn-sm btn-primary"
                        type="submit">
                    <i
                            class="fa fa-floppy-o"></i>
                    {{ t('common.tallenna') || 'Tallenna' }}
                </button>
                </div>
            </div>
        </div>

    </form>
</div>
