<h1>{{ t('valinnanvaihelomake.header') || 'Valinnanvaiheen muokkaus' }}</h1>

<div class="tabs">
    <a href="#/etusivu" class="tab current"><span>{{ t('common.etusivu') || 'Valintaryhmät ja hakukohteet' }}</span></a>
    <a ng-if="valintaryhmaOid" ng-href="#/valintaryhma/{{valintaryhmaOid}}/laskentakaavalista" class="tab"><span>{{ t('common.laskentakaava') || 'Laskentakaavat' }}</span></a>
    <a ng-if="hakukohdeOid" ng-href="#/hakukohde/{{hakukohdeOid}}/laskentakaavalista" class="tab"><span>{{ t('common.laskentakaava') || 'Laskentakaavat' }}</span></a>
    <a auth ng-if="userAccess.crudOph" href="#/import" class="tab float-right"><span>{{ t('common.import') || 'Yhteisvalinnan hallinta' }}</span></a>
</div>

<div class="tabsheets">

    <breadcrumb></breadcrumb>
    <form name="form" class="form-horizontal" ng-submit="submit()">

        <div class="form-group" ng-show="model.valinnanvaihe.kuuluuSijoitteluun">
            <label class="control-label col-md-2">{{ t('valinnanvaihelomake.kuuluu') || 'Kuuluu sijoitteluun' }}</label>

            <div class="control-content col-md-10">
                {{model.valinnanvaihe.kuuluuSijoitteluun}}
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="nimi">{{ t('valinnanvaihelomake.nimi') || 'Nimi' }}</label>

            <div class="col-md-4 ">
                <input class="form-control" type="text" auth ng-disabled="!userAccess.updateOrg" name="nimi" id="nimi"
                       ng-model="model.valinnanvaihe.nimi" required/>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label" for="kuvaus">{{ t('valinnanvaihelomake.kuvaus') || 'Kuvaus' }}</label>

            <div class="col-md-4">
                <textarea class="form-control" auth ng-disabled="!userAccess.updateOrg" name="kuvaus" id="kuvaus"
                          ng-model="model.valinnanvaihe.kuvaus"/>
            </div>
        </div>

        <div class="form-group" ng-show="model.valinnanvaihe.oid">
            <label class="control-label col-md-2">{{ t('valinnanvaihelomake.valintatapajonot') || 'Valintatapajonot'
                }}</label>

            <div class="col-md-10">
                <table class="virkailija-table-1" ng-show="model.valintatapajonot">
                    <thead>
                    <tr>
                        <th>{{ t('valinnanvaihelomake.aktiivinen') || 'Aktiivinen' }}</th>
                        <th>{{ t('valinnanvaihelomake.nimi') || 'Nimi' }}</th>
                        <th>{{ t('valinnanvaihelomake.periytyminen') || 'Periytyminen' }}</th>
                        <th>{{ t('valinnanvaihelomake.poista') || 'Poista' }}</th>
                    </tr>
                    </thead>
                    <tbody ui-sortable ng-model="model.valintatapajonot">
                    <tr ng-repeat="jono in model.valintatapajonot">
                        <td><input auth ng-disabled="!userAccess.updateOrg" type="checkbox" ng-model="jono.aktiivinen"/>
                        </td>
                        <td>
                            <a ng-class="{true:'', false:'line-through'}[jono.aktiivinen]"
                               ng-click="modifyJono(jono.oid)">{{jono.nimi}}</a>
                        </td>
                        <td >
                            <span ng-if="jono.inheritance">{{t('valintaperusteet.periytyy.true') || 'Periytyy'}}</span>
                            <span ng-if="!jono.inheritance">{{t('valintaperusteet.periytyy.false') || 'Ei periydy'}}</span>
                        </td>
                        <td>
                            <button auth ng-disabled="!userAccess.crudOrg" class="btn btn-sm btn-default"
                                    ng-click="model.remove(jono)">
                                <i ng-show="!jono.inheritance"
                                   class="fa fa-trash-o"
                                        ></i></button>

                        </td>
                    </tr>
                    </tbody>
                </table>


            </div>
        </div>

        <div class="form-group" ng-show="model.valinnanvaihe.oid">
            <div class="col-md-2 col-md-offset-2">
                <button auth ng-disabled="!userAccess.crudOrg" class="btn btn-sm btn-default" ng-click="addJono()"><i
                        class="fa fa-plus"></i> {{ t('valinnanvaihelomake.jono') || 'Jono' }}
                </button>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2">
                <div class="pull-right">
                    <button auth ng-disabled="!userAccess.updateOrg" ng-disabled="!form.$valid"
                            class="btn btn-sm btn-primary"
                            type="submit"><i
                            class="fa fa-floppy-o"></i>
                        {{ t('common.tallenna') || 'Tallenna' }}
                    </button>

                    <button class="btn btn-sm btn-default float-left margin-right-1" ng-click="cancel()"
                            popover-popup-delay="500"
                            popover-placement="top" popover-trigger="mouseenter"
                            popover="{{ t('common.muista') || 'Muista tallentaa muutoksesi' }}"><i
                            class="fa fa-arrow-left"></i> {{ t('common.takaisin') || 'Takaisin' }}
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>