<h1>Valinnanvaiheen muokkaus</h1>

<div class="tabs">
    <a href="#/etusivu" class="tab current"><span>Valintaryhmät ja hakukohteet</span></a>
    <a ng-if="valintaryhmaOid" ng-href="#/valintaryhma/{{valintaryhmaOid}}/laskentakaavalista" class="tab"><span>Laskentakaavat</span></a>
    <a ng-if="hakukohdeOid" ng-href="#/hakukohde/{{hakukohdeOid}}/laskentakaavalista" class="tab"><span>Laskentakaavat</span></a>
    <a auth="crudOph" href="#/import" class="tab float-right"><span>Yhteisvalinnan hallinta</span></a>
</div>

<div class="tabsheets">

    <breadcrumb></breadcrumb>
    <form name="form" ng-submit="submit()">



        <div class="form-row" ng-show="model.valinnanvaihe.kuuluuSijoitteluun">
            <div class="form-row-label">Kuuluu sijoitteluun</div>
            <div class="form-row-content">
                {{model.valinnanvaihe.kuuluuSijoitteluun}}
            </div>
            <div class="clear"></div>
        </div>

        <div class="form-row">
            <label class="form-row-label" for="nimi">Nimi</label>

            <div class="form-row-content">
                <input name="nimi" ng-model="model.valinnanvaihe.nimi" required/>
            </div>

            <div class="clear"></div>

            <label class="form-row-label" for="kuvaus">Kuvaus</label>

            <div class="form-row-content">
                <textarea name="kuvaus" ng-model="model.valinnanvaihe.kuvaus"/>
            </div>
        </div>

        <div class="form-row" ng-show="model.valinnanvaihe.oid">
            <div class="form-row-label">Valintatapajonot</div>

            <div class="form-row-content">
                <table class="virkailija-table-1 margin-bottom-2" ng-show="model.valintatapajonot">
                    <thead>
                    <tr>
                        <th>Aktiivinen</th>
                        <th>Nimi</th>
                        <th>Periytyminen</th>
                        <th>Poista</th>
                    </tr>
                    </thead>
                    <tbody ui-sortable ng-model="model.valintatapajonot" class="margin-top-2">
                    <tr ng-repeat="jono in model.valintatapajonot">
                        <td><input type="checkbox" ng-model="jono.aktiivinen"/></td>
                        <td>
                            <a ng-class="{true:'', false:'line-through'}[jono.aktiivinen]"
                               ng-click="modifyJono(jono.oid)">{{jono.nimi}}</a>
                        </td>
                        <td>{{'valintaperusteet.periytyy.' + jono.inheritance | translate}}</td>
                        <td class="align-center">
                        <i auth="crud" ng-show="!jono.inheritance" class="fa fa-trash-o"
                              ng-click="model.remove(jono)"></i>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <span auth="crud" class="btn btn-sm btn-default" ng-click="addJono()"><i
                        class="fa fa-plus"></i> Jono</span>
            </div>
        </div>
        <div class="clear"></div>

    <span>
    <button auth="update" ng-disabled="!form.$valid" class="btn btn-sm btn-primary" type="submit"><i
            class="fa fa-floppy-o"></i>
        Tallenna
    </button>
        </span>
    <span>
    <button class="btn btn-sm btn-default float-left margin-right-1" ng-click="cancel()"><i
            class="fa fa-arrow-left"></i> Takaisin
    </button></span>
    </form>
    <div class="clear"></div>
</div>