<h1>{{ t('valintaryhmalomakeuusi.header') || 'Uuden valintaryhmän luonti' }}</h1>


<div class="tabs">
    <a href="#/etusivu" class="tab current"><span>{{ t('common.etusivu') || 'Valintaryhmät ja hakukohteet' }}</span></a>
    <a href="#/laskentakaavalista"
       class="tab"><span>{{ t('common.laskentakaava') || 'Laskentakaavat' }}</span></a>
    <a auth="yhteisvalinta" ng-if="userAccess.crudOph || (userAccess.hasCrudRights() && userModel.isKKUser) || userModel.hasYhteisvalintaRights" href="#/import" class="tab float-right"><span>{{ t('common.import') || 'Yhteisvalinnan hallinta' }}</span></a>
</div>
<div class="tabsheets">
    <breadcrumb></breadcrumb>
    <form name="form" class="form-horizontal" ng-submit="submit()">
        <div class="form-group">
            <label class="control-label col-md-2">{{ t('valintaryhmalomakeuusi.ylavalintaryhma') || 'Ylävalintaryhmä'
                }}</label>

            <div class="col-md-6">
                <div ng-include="'../common/partials/valintaryhmaSelector.html'"/>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="valintaryhmanimi">{{ t('valintaryhmalomakeuusi.nimi') || 'Nimi' }}</label>

            <div class="col-md-6">
                <input class="form-control" type="text" name="valintaryhmanimi" ng-model="model.valintaryhma.nimi" required/>
                <p class="help-block red" ng-show="model.nameerror">{{ t('valintaryhmalomakeuusi.valintaryhmalomakeuusi.nimiloytyyjo') || 'Valintaryhmän nimi on jo käytössä. Anna jokin toinen nimi ryhmälle.' }}</p>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="hakunimi">{{ t('valintaryhmalomake.haku') || 'Haku' }}</label>

            <div class="col-md-6">
                <select auth="yhteisvalinta" ng-disabled="model.parentOid" id="hakunimi" class="form-control" ng-model="model.valintaryhma.hakuoid"
                        ng-options="h.oid as h.uiNimi for h in model.haut | orderBy:'nimi.kieli_fi'">
                    <option value=""></option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="hakuvuosi">{{ t('valintaryhmalomake.hakuvuosi') || 'Hakuvuosi' }}</label>

            <div class="col-md-6">
                <input auth="yhteisvalinta" ng-disabled="!userAccess.updateOrg" class="form-control"
                       type="text" id="hakuvuosi" ng-model="model.valintaryhma.hakuvuosi" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="">{{ t('valintaryhmalomakeuusi.kohdejoukko') || 'Kohdejoukko'
                }}</label>

            <div class="col-md-6">
                <select class="form-control" ng-disabled="model.parentOid" ng-model="model.valintaryhma.kohdejoukko"
                        ng-options="k.koodiUri as k.metadata[0].nimi for k in model.kohdejoukot">
                    <option value=""></option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="">{{ t('valintaryhmalomakeuusi.organisaatiot') || 'Organisaatiot'
                }}:</label>

            <div class="col-md-6">

                <table class="virkailija-table-1">
                    <thead>
                    <tr>
                        <th>{{ t('valintaryhmalomakeuusi.nimipieni') || 'nimi' }}</th>
                        <th>{{ t('valintaryhmalomakeuusi.tyyppi') || 'tyyppi' }}</th>
                        <th>{{ t('valintaryhmalomakeuusi.oid') || 'oid' }}</th>
                        <th>{{ t('valintaryhmalomakeuusi.poista') || 'poista' }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="organisaatio in model.valintaryhma.organisaatiot">
                        <td class="align-center">{{organisaatio.nimi['fi'] || organisaatio.nimi['sv'] ||
                            organisaatio.nimi['en']}}
                        </td>
                        <td class="align-center">
                            <span ng-repeat="type in organisaatio.organisaatiotyypit">{{type}}</span>
                            <span ng-repeat="type in organisaatio.tyypit">{{type}}</span>
                        </td>
                        <td class="align-center">{{organisaatio.oid}}</td>
                        <td class="align-center">
                            <i class="fa fa-trash-o organisaatio"
                               ng-click="model.valintaryhma.organisaatiot.splice($index,1)"></i>
                        </td>
                    </tr>

                    </tbody>

                </table>
                <div ng-include="'../common/partials/organisaatioSelector.html'"/>

            </div>

        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="">{{ t('valintaryhmalomakeuusi.vastuuorganisaatio') || 'Vastuuorganisaatio' }}</label>
            <div class="col-md-6">
                <select class="form-control"
                        ng-model="model.valintaryhma.vastuuorganisaatioOid"
                        ng-options="o.oid as (o.nimi.fi || o.nimi.sv || o.nimi.en) for o in model.valintaryhma.organisaatiot">
                    <option value=""></option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2">
                <div class="pull-right">
                <button type="button" class="btn btn-sm btn-default" ng-click="cancel()" popover-popup-delay="500"
                        popover-placement="top" popover-trigger="mouseenter"
                        popover="{{ t('common.muista') || 'Muista tallentaa muutoksesi' }}"><i
                        class="fa fa-arrow-left"></i> {{ t('common.takaisin') || 'Takaisin' }}
                </button>
                <button auth="yhteisvalinta" ng-disabled="!form.$valid || !userAccess.hasCrudRights() || userModel.organizationOids.length === 0" class="btn btn-sm btn-primary" type="submit"><i
                        class="fa fa-floppy-o"></i> {{ t('common.tallenna') || 'Tallenna' }}
                </button>
            </div>
            </div>
        </div>
</form>


</div>
