<!-- Node template -->
<script type="text/ng-template" id="node.html">

    <span class="label" ng-if="data.nimi | filter:domain.search.q">
        <i class="fa fa-users valintaryhma"  ng-class="{ kiinni: domain.isCollapsed(data), eilapsia: !(data.alavalintaryhmat.length > 0), auki: domain.isExpanded(data)}" ng-click="domain.expandNode(data)"></i>
        <input ng-if="data.access" name="valintaryhmaOid" type="radio" ng-model="model.parentOid" value="{{data.oid}}" id="{{data.oid}}"/> <label for="{{data.oid}}">{{data.nimi}}</label>
    </span>

    <ol ng-if="data.isVisible">
        <li ng-repeat="data in data.alavalintaryhmat | filter:domain.search.q | orderBy:'nimi'" ng-include="'node.html'">
        </li>
    </ol>

</script>

<input type="text" class="search" placeholder="Suodata valintaryhmiä" id="text" ng-model="domain.search.q">
<a class="button small" ng-click="domain.expandTree()"> <i class="fa fa-expand"></i> Avaa puu</a>
<br />
<div class="valintaryhmaSelector">
    <ol class="treelist collapsible">
        <li>
            <span class="label">
            <i class="fa fa-users valintaryhma auki"></i>
            <input name="valintaryhmaOid" type="radio" ng-model="model.parentOid" value="" id="root"/> <label for="root">Juuri</label>
            </span>
        </li>
        <ol>
            <li ng-repeat="data in domain.valintaperusteList | filter:domain.search.q | orderBy:'nimi'"
                ng-model="data"
                ng-if="!domain.isHakukohde(data)"
                class="{{addClass('uiExpanded',domain.isExpanded(data))}} {{addClass('uiCollapsed',domain.isCollapsed(data))}}"
                ng-include="'node.html'">
            </li>
        </ol>
    </ol>
</div>
<span>Haku palautti {{domain.tilasto.valintaryhmia}} valintaryhmää</span>