<!-- LASKENTAKAAVAPAGE CONTENT -->
<h1>Laskentakaavan muokkaus</h1>


<div class="tabs">
    <a href="#/etusivu" class="tab"><span>Valintaryhmät ja hakukohteet</span></a>
    <a href="#/laskentakaava" class="tab current"><span>Laskentakaavat</span></a>
    <a auth="crudOph" href="#/import" class="tab float-right"><span>Yhteisvalinnan hallinta</span></a>
</div>

<div class="tabsheets">
    <breadcrumb></breadcrumb>
    <span class="btn btn-sm btn-default" ng-click="goToListing()"><i class="fa fa-arrow-left"></i> Palaa</span>
    <span class="btn btn-sm btn-default" ng-click="persistLaskentakaava()"><i class="fa fa-floppy-o"></i> Tallenna</span>

    <!-- LASKENTAKAAVAN MUOKKAUS -->
    <div class="alert alert-danger margin-top-2" ng-show="errors.length > 0">
        <p ng-if="errors">Laskentakaavassa on virheitä, tarkista että olet täyttänyt kaikki pakolliset kentät</p>
    </div>

    <!-- Laskentakaavapuu -->
    <div ng-include="'laskentakaavat/laskentakaavapuu/laskentakaavapuu.html'"></div>

    <!-- Laskentakaavan tai funktion asetukset -->
    <div ng-include="'laskentakaavat/laskentakaavapuu/funktioasetukset.html'"></div>

    <div class="clear"></div>
</div>
