<!-- LASKENTAKAAVAPAGE CONTENT -->
<h1>Laskentakaavan muokkaus</h1>


<div class="tabs">
    <a href="#/etusivu" class="tab"><span>Valintaryhmät ja hakukohteet</span></a>
    <a href="#/laskentakaava" class="tab current"><span>Laskentakaavat</span></a>
    <a auth="crudOph" href="#/import" class="tab float-right"><span>Yhteisvalinnan hallinta</span></a>
</div>

<div class="tabsheets">
    <breadcrumb></breadcrumb>
    <span class="btn btn-sm btn-default" ng-click="goToListing()"><i class="fa fa-arrow-left"></i> Takaisin</span>
    <span class="btn btn-sm btn-default" ng-click="persistLaskentakaava()"><i class="fa fa-floppy-o"></i> Tallenna</span>

    <!-- LASKENTAKAAVAN MUOKKAUS -->
    <div class="alert alert-danger margin-top-2" ng-show="errors.length > 0">
        <p ng-if="errors">Laskentakaavassa on virheitä, tarkista että olet täyttänyt kaikki pakolliset kentät</p>
    </div>

    <!-- Laskentakaavapuu -->
    <div ng-include="'laskentakaavat/laskentakaavapuu/laskentakaavapuu.html'"></div>

    <!-- FUNKTIOASETUKSET -->
    <div ng-controller="funktiokutsuAsetuksetController">
        <modal modal-template="laskentakaavat/laskentakaavapuu/funktioasetukset/funktiokutsuAsetuksetModal.html">
            <modal-open></modal-open>
        </modal>
    </div>

    <!-- Laskentakaavaviitteen valinta -->
    <div ng-controller="laskentakaavaviiteAsetuksetController">
        <modal modal-template="laskentakaavat/laskentakaavapuu/funktioasetukset/laskentakaavaviiteAsetuksetModal.html">
            <modal-open></modal-open>
        </modal>
    </div>



    <div class="clear"></div>
</div>
