<div ng-controller="LaskentakaavaController">


    <div class="gradingformula">
        <div class="clear"></div>

        <kaava-validation ng-show="errorService.errors.length > 0">
            <h3>{{ t('laskentakaavapuu.eitalletettu') || 'Laskentakaavaa ei voitu tallentaa.' }}</h3>

            <p>{{ t('laskentakaavapuu.eitalletettutext') || 'Alla olevasta listasta saat vihjeitä kaavan virheistä
                ja
                virheellisen funktiokutsun tapauksessa pääset muokkaamaan sitä suoraan klikkaamalla
                virheilmoitusta.
                Yritä laskentakaavan tallennusta uudestaan heti virheet korjattuasi.' }}</p>

            <p>{{t('laskentakaavapuu.eitalletettuhuom') || 'Huomaa, että käyttöliittymässä suoritettava laskentakaavan
                validointi ei huomaa kaikkia virheitä. Tarkasta kaava ilmeisten virheiden varalta ja yritä tallennusta
                uudestaan'}}</p>
            <ol class="margin-top-2">

                <li ng-repeat="error in errorService.errors">
                    <validation-error></validation-error>
                </li>
            </ol>
        </kaava-validation>

        <div class="alert alert-success margin-top-2" collapse="!saved">
            <p>{{ t('laskentakaavapuu.onnistui') || 'Laskentakaavan tallentaminen onnistui' }}</p>
        </div>
        <h2>{{ t('laskentakaavapuu.laskentakaava') || 'Laskentakaava' }}</h2>

        <!-- FUNKTIOASETUKSET -->
        <div ng-controller="funktiokutsuAsetuksetController">
            <modal modal-template="laskentakaavat/laskentakaavaeditori/funktioasetukset/funktiokutsuAsetuksetModal.html" size="lg">
                <modal-open></modal-open>
            </modal>
        </div>

        <!-- LASKENTAKAAVAVIITTEEN VALINTA -->
        <div ng-controller="laskentakaavaviiteAsetuksetController">
            <modal modal-template="laskentakaavat/laskentakaavaeditori/funktioasetukset/laskentakaavaviiteAsetuksetModal.html">
                <modal-open></modal-open>
            </modal>
        </div>

        <!--MUOKKAA KAAVAN NIMEÄ TAI KUVAUSTA -->
        <div ng-controller="laskentakaavaAsetuksetController">
            <modal modal-template="laskentakaavat/laskentakaavaeditori/funktioasetukset/laskentakaavaAsetuksetModal.html">
                <modal-open></modal-open>
            </modal>
        </div>

        <!-- LASKENTAKAAVAPUUN JUURI -->
        <div auth class="frame open" ng-class="isRootSelected ? 'active' : ''">
            <span class="icon" ng-click="toggleAll()">&nbsp;</span>
            <span class="node bold" ng-click="setRootSelection(model.laskentakaavapuu.funktiokutsu)">{{model.laskentakaavapuu.nimi}}</span>
        </div>



<div class="clear"></div>
        <!-- piirretään laskentakaavapuu, oletetaan että kaavan sisältö ei voi olla pelkästään yksi laskentakaavaviite -->
        <ul class="frame-content">
            <li class="item" ng-repeat="funktiowrapper in model.laskentakaavapuu.funktiokutsu.funktioargumentit"
                ng-init="parent = model.laskentakaavapuu.funktiokutsu">
                <div ng-include="'funktiokutsu'"></div>
            </li>
            <li class="item"
                ng-init="laskentakaavatyyppi = model.laskentakaavapuu.tyyppi; parent = model.laskentakaavapuu.funktiokutsu"
                ng-if="model.laskentakaavapuu.funktiokutsu.funktioargumentit.length === 0"
                ng-include="'addFunktioToRoot'"></li>
        </ul>

    </div>

</div>


<!-- template jota käytetään kaikkien funktioiden piirtämiseen -->
<script type="text/ng-template" id="funktiokutsu">
    <!-- piirretään laskentakaavan funktiokutsu jossa ollaan -->

    <div ng-if="funktiowrapper.lapsi"
         ng-include="templateService.getTemplateName(funktiowrapper.lapsi.funktionimi)"></div>
    <!-- käydään rekursiivisesti nykyisen funktion lapset läpi -->
    <ul ng-if="funktiowrapper.open && hasFunktioargumentit(parent, $index)" ng-init="parent = funktiowrapper">

        <li ng-if="parent.lapsi.funktioargumentit.length > 0 && parent.lapsi.funktioargumentit[0] !== null || isNimettyFunktioargumentti(parent)"
            class="item" ng-repeat="funktiowrapper in parent.lapsi.funktioargumentit track by $index">
            <div ng-if="funktiowrapper.lapsi.lapsityyppi === 'funktiokutsu'" ng-include="'funktiokutsu'"></div>
            <div ng-if="funktiowrapper.lapsi.lapsityyppi === 'laskentakaava'" ng-include="'laskentakaavaviite'"></div>
            <div ng-if="funktiowrapper.lapsi == undefined" ng-include="'nimettyFunktioSlot'"></div>
        </li>
        <li ng-if="!isNimettyFunktioargumentti(parent) && !isPainotettukeskiarvoChild(parent)"
            ng-include="'addFunktio'"></li>

    </ul>
</script>


<!-- Laskentakaavaviite-->
<script type="text/ng-template" id="laskentakaavaviite">
    <div ng-controller="AlikaavaController">
        <div class="frame" ng-class="showAlikaava ? 'open':''">
            <span ng-click="toggleAlikaava(funktiowrapper.lapsi.id)" class="icon">&nbsp;</span>
            <kaavaviite-label>
                <span add-class-on-mouseover="bold" class="node"
                  ng-click="showFunktiokutsuTools(funktiowrapper, false, parent, $index, isAlikaava, hasParentAlikaava)">{{funktiowrapper.lapsi.nimi}}</span>
            </kaavaviite-label>
        </div>
        <ul collapse="!showAlikaava" class="alikaava">
            <li class="item" ng-repeat="funktiowrapper in alikaava.funktiokutsu.funktioargumentit"
                ng-init="parent = alikaava.funktiokutsu">
                <div ng-include="'funktiokutsu'"></div>
            </li>
        </ul>
    </div>
</script>


<!--
    AMMATILLINENARVOSANA
    HAETOTUUSARVO
    HAELUKUARVO
    HAELUKUARVOEHDOLLA
    HAEMERKKIJONOJAKONVERTOILUKUARVOKSI
    HAETOTUUSARVOJAKONVERTOILUKUARVOKSI
    HAEMERKKIJONOJAVERTAAYHTASUURUUS
    HAEMERKKIJONOJAKONVERTOITOTUUSARVOKSI
    HAEMERKKIJONOJAKONVERTOITOTUUSARVOKSI
    VALINTAPERUSTEYHTASUURUUS
    YOARVOSANA
    YOOSAKOEARVOSANA
 -->

<script type="text/ng-template" id="haettava_arvo">
    <div class="parameter" ng-class="funktioSelection == funktiowrapper ? 'active' : ''">
        <span class="icon" ng-click="funktiowrapper.open = funktiowrapper.open ? false : true">&nbsp;</span>
        <funktiokutsu-label>
            <span add-class-on-mouseover="bold" class="node"
                  ng-click="showFunktiokutsuTools()">
                <span>{{funktionimiService.getName(funktiowrapper.lapsi.funktionimi)}}
                    <span ng-if="funktiowrapper.lapsi.valintaperusteviitteet"
                          ng-repeat="valintaperusteviite in funktiowrapper.lapsi.valintaperusteviitteet">
                        <span ng-if="valintaperusteviiteDefined(valintaperusteviite)">(</span>
                        {{getValintaperusteviitetyyppiText(valintaperusteviite)}}<span
                            ng-if="getValintaperusteviitetyyppiText(valintaperusteviite) && valintaperusteviite.tunniste || valintaperusteviite.kuvaus">,</span>
                        <span>{{valintaperusteviite.tunniste}}</span>
                        <span ng-if="valintaperusteviite.tunniste && valintaperusteviite.kuvaus"> - </span>
                        <span ng-if="valintaperusteviite.kuvaus">{{valintaperusteviite.kuvaus}}</span>
                        <span ng-if="valintaperusteviiteDefined(valintaperusteviite)">) </span>
                    </span>
                </span>
            </span>
        </funktiokutsu-label>
    </div>
</script>


<!--
    N MINIMI
    N MAKSIMI
    N PARASTA KESKIARVO
    SUMMA N PARASTA
    TULO N PARASTA
-->
<script type="text/ng-template" id="fargumentticount_funktio_handle">
    <div class="function" ng-class="funktioSelection == funktiowrapper ? 'active' : ''">
        <span class="icon" ng-click="funktiowrapper.open = funktiowrapper.open ? false : true">&nbsp;</span>
        <funktiokutsu-label>
            <span add-class-on-mouseover="bold" ng-if="!funktiowrapper.lapsi.syoteparametrit[0].arvo" class="node"
                  ng-click="showFunktiokutsuTools()">
                <span>{{funktionimiService.getName(funktiowrapper.lapsi.funktionimi)}}</span>
            </span>
        </funktiokutsu-label>

        <funktiokutsu-label>
            <span add-class-on-mouseover="bold" ng-if="funktiowrapper.lapsi.syoteparametrit[0].arvo"
                  ng-click="showFunktiokutsuTools()"
                  class="node">
                <span ng-if="funktiowrapper.lapsi.funktionimi == 'NMINIMI'">{{funktiowrapper.lapsi.syoteparametrit[0].arvo}} {{ t('laskentakaavapuu.huonoin') || 'huonoin' }}</span>
                <span ng-if="funktiowrapper.lapsi.funktionimi == 'NMAKSIMI'">{{funktiowrapper.lapsi.syoteparametrit[0].arvo}} {{ t('laskentakaavapuu.paras') || 'paras' }}</span>
                <span ng-if="funktiowrapper.lapsi.funktionimi == 'KESKIARVONPARASTA'">{{funktiowrapper.lapsi.syoteparametrit[0].arvo}} {{ t('laskentakaavapuu.suurimmankeskiarvo') || 'suurimman keskiarvo' }}</span>
                <span ng-if="funktiowrapper.lapsi.funktionimi == 'SUMMANPARASTA'">{{funktiowrapper.lapsi.syoteparametrit[0].arvo}} {{ t('laskentakaavapuu.suurimmansumma') || 'suurimman summa' }}</span>
                <span ng-if="funktiowrapper.lapsi.funktionimi == 'TULONPARASTA'">{{funktiowrapper.lapsi.syoteparametrit[0].arvo}} {{ t('laskentakaavapuu.suurimmantulo') || 'suurimman tulo' }}</span>
            </span>
        </funktiokutsu-label>
    </div>
</script>


<!-- NIMETTY LUKUARVO -->
<script type="text/ng-template" id="nimetty_lukuarvo">
    <div class="frame" ng-class="funktioSelection == funktiowrapper ? 'active' : ''">
        <span class="icon" ng-click="funktiowrapper.open = funktiowrapper.open ? false : true">&nbsp;</span>
        <funktiokutsu-label>
            <span add-class-on-mouseover="bold" class="node" ng-if="!funktiowrapper.lapsi.syoteparametrit[0].arvo"
              ng-click="showFunktiokutsuTools()">{{ t('laskentakaavapuu.nimettylukuarvo') || 'Nimetty lukuarvo' }}</span>
        </funktiokutsu-label>
        <funktiokutsu-label>
            <span add-class-on-mouseover="bold" class="node" ng-if="funktiowrapper.lapsi.syoteparametrit[0].arvo"
              ng-click="showFunktiokutsuTools()">{{funktiowrapper.lapsi.syoteparametrit[0].arvo}}</span>
        </funktiokutsu-label>
    </div>
</script>

<!-- NIMETTY TOTUUSARVO -->
<script type="text/ng-template" id="nimetty_totuusarvo">
    <div class="frame" ng-class="funktioSelection == funktiowrapper ? 'active' : ''">
        <span class="icon" ng-click="funktiowrapper.open = funktiowrapper.open ? false : true">&nbsp;</span>
        <funktiokutsu-label>
            <span add-class-on-mouseover="bold" class="node" ng-if="!funktiowrapper.lapsi.syoteparametrit[0].arvo"
              ng-click="showFunktiokutsuTools()">{{ t('laskentakaavapuu.nimettytotuusarvo') || 'Nimetty totuusarvo' }}</span>
        </funktiokutsu-label>
        <funktiokutsu-label>
            <span add-class-on-mouseover="bold" class="node" ng-if="funktiowrapper.lapsi.syoteparametrit[0].arvo"
              ng-click="showFunktiokutsuTools()">{{funktiowrapper.lapsi.syoteparametrit[0].arvo}}</span>
        </funktiokutsu-label>
    </div>
</script>

<!-- LUKUARVO -->
<script type="text/ng-template" id="lukuarvo">
    <div class="parameter" ng-class="funktioSelection == funktiowrapper ? 'active' : ''">
        <span class="icon">&nbsp;</span>
        <funktiokutsu-label>
            <span add-class-on-mouseover="bold" class="node" ng-if="!funktiowrapper.lapsi.syoteparametrit[0].arvo"
                  ng-click="showFunktiokutsuTools()">{{funktionimiService.getName(funktiowrapper.lapsi.funktionimi)}}</span>
        </funktiokutsu-label>
        <funktiokutsu-label>
            <span add-class-on-mouseover="bold" class="node" ng-if="funktiowrapper.lapsi.syoteparametrit[0]"
                  ng-click="showFunktiokutsuTools()">{{funktiowrapper.lapsi.syoteparametrit[0].arvo}}</span>
        </funktiokutsu-label>
    </div>
</script>

<!-- TOTUUSARVO -->
<script type="text/ng-template" id="totuusarvo">
    <div class="parameter" ng-class="funktioSelection == funktiowrapper ? 'active' : ''">
        <span class="icon">&nbsp;</span>
        <funktiokutsu-label>
            <span add-class-on-mouseover="bold" class="node"
                  ng-click="showFunktiokutsuTools()">
                <span ng-if="!funktiowrapper.lapsi.syoteparametrit[0].arvo">{{funktionimiService.getName(funktiowrapper.lapsi.funktionimi)}}</span>
                <span add-class-on-mouseover="bold" class="node"
                      ng-if="funktiowrapper.lapsi.syoteparametrit[0].arvo !== undefined">
                      <span ng-if="funktiowrapper.lapsi.syoteparametrit[0].arvo === 'true'">{{ t('laskentakaavapuu.tosi') || 'Tosi' }}</span>
                      <span ng-if="funktiowrapper.lapsi.syoteparametrit[0].arvo === 'false'">{{ t('laskentakaavapuu.epatosi') || 'Epätosi' }}</span>
                </span>
            </span>
        </funktiokutsu-label>
    </div>

</script>

<!-- HAKUTOIVE -->
<script type="text/ng-template" id="hakutoive">
    <div class="parameter" ng-class="funktioSelection == funktiowrapper ? 'active' : ''">
        <span class="icon" ng-click="funktiowrapper.open = funktiowrapper.open ? false : true">&nbsp;</span>
        <funktiokutsu-label>
            <span add-class-on-mouseover="bold" class="node"
                  ng-click="showFunktiokutsuTools()">
                <span ng-if="funktiowrapper.lapsi.syoteparametrit[0].arvo">{{funktiowrapper.lapsi.syoteparametrit[0].arvo}}. hakutoive</span>
                <span ng-if="!funktiowrapper.lapsi.syoteparametrit[0].arvo">{{funktionimiService.getName(funktiowrapper.lapsi.funktionimi)}}</span>
            </span>
        </funktiokutsu-label>
    </div>
</script>

<!-- HAKUTOIVERYHMASSA -->
<script type="text/ng-template" id="hakutoiveryhmassa">
    <div class="parameter" ng-class="funktioSelection == funktiowrapper ? 'active' : ''">
        <span class="icon" ng-click="funktiowrapper.open = funktiowrapper.open ? false : true">&nbsp;</span>
        <funktiokutsu-label>
            <span add-class-on-mouseover="bold" class="node"
                  ng-click="showFunktiokutsuTools()">

                <span ng-if="!getSyoteparametriArvo(funktiowrapper.lapsi.syoteparametrit, 'n')">?</span>
                <span ng-if="getSyoteparametriArvo(funktiowrapper.lapsi.syoteparametrit, 'n')">{{getSyoteparametriArvo(funktiowrapper.lapsi.syoteparametrit, 'n')}}</span>

                <span>. hakutoive ryhmassa </span>

                <span ng-if="!getSyoteparametriArvo(funktiowrapper.lapsi.syoteparametrit, 'ryhmaoid')">?</span>
                <span ng-if="getSyoteparametriArvo(funktiowrapper.lapsi.syoteparametrit, 'ryhmaoid')">{{getSyoteparametriArvo(funktiowrapper.lapsi.syoteparametrit, 'ryhmaoid')}}</span>

            </span>
        </funktiokutsu-label>
    </div>
</script>

<!-- DEMOGRAFIA -->
<script type="text/ng-template" id="demografia">
    <div class="parameter" ng-class="funktioSelection == funktiowrapper ? 'active' : ''">
        <span class="icon" ng-click="funktiowrapper.open = funktiowrapper.open ? false : true">&nbsp;</span>
        <funktiokutsu-label>
            <span add-class-on-mouseover="bold" class="node"
              ng-click="showFunktiokutsuTools()">{{funktionimiService.getName(funktiowrapper.lapsi.funktionimi)}}</span>
        </funktiokutsu-label>
    </div>
</script>

<!-- HYLKÄÄ ARVOVÄLILLÄ -->
<script type="text/ng-template" id="hylkaa_arvovalilla">
    <div class="function" ng-class="funktioSelection == funktiowrapper ? 'active' : ''">
        <span class="icon" ng-click="funktiowrapper.open = funktiowrapper.open ? false : true">&nbsp;</span>
        <funktiokutsu-label>
            <span add-class-on-mouseover="bold" class="node"
                  ng-click="showFunktiokutsuTools()">{{funktionimiService.getName(funktiowrapper.lapsi.funktionimi)}}:
            <span>{{getSyoteparametriArvo(funktiowrapper.lapsi.syoteparametrit, 'arvovaliMin')}}</span>
            <span ng-if="!getSyoteparametriArvo(funktiowrapper.lapsi.syoteparametrit, 'arvovaliMin')">?</span>
            <span> - </span>
            <span>{{getSyoteparametriArvo(funktiowrapper.lapsi.syoteparametrit, 'arvovaliMax')}}</span>
            <span ng-if="!getSyoteparametriArvo(funktiowrapper.lapsi.syoteparametrit, 'arvovaliMax')">?</span>
            <span ng-if="getSyoteparametriArvo(funktiowrapper.lapsi.syoteparametrit, 'hylkaysperustekuvaus_FI')"> ({{getSyoteparametriArvo(funktiowrapper.lapsi.syoteparametrit, 'hylkaysperustekuvaus_FI')}})</span>
            </span>
        </funktiokutsu-label>
    </div>
</script>

<!-- SUMMA -->
<script type="text/ng-template" id="summa">
    <div class="function" ng-class="funktioSelection == funktiowrapper ? 'active' : ''">
        <span class="icon sum" ng-click="funktiowrapper.open = funktiowrapper.open ? false : true">&nbsp;</span>
        <funktiokutsu-label>
            <span add-class-on-mouseover="bold" class="node"
              ng-click="showFunktiokutsuTools()">{{ t('laskentakaavapuu.summa') || 'Summa' }}</span>
        </funktiokutsu-label>
    </div>
</script>

<!-- HYLKAA -->
<script type="text/ng-template" id="hylkaa">
    <div class="function" ng-class="funktioSelection == funktiowrapper ? 'active' : ''">
        <span class="icon" ng-click="funktiowrapper.open = funktiowrapper.open ? false : true">&nbsp;</span>
        <funktiokutsu-label>
            <span add-class-on-mouseover="bold" class="node"
              ng-click="showFunktiokutsuTools()">{{funktionimiService.getName(funktiowrapper.lapsi.funktionimi)}}
                <span ng-if="getSyoteparametriArvo(funktiowrapper.lapsi.syoteparametrit, 'hylkaysperustekuvaus_FI')"> ({{getSyoteparametriArvo(funktiowrapper.lapsi.syoteparametrit, 'hylkaysperustekuvaus_FI')}})</span>
            </span>
        </funktiokutsu-label>
    </div>
</script>

<!-- 
TAI
TULO
JOS
OSAMAARA
SUUREMPI
SKAALAUS 
PYORISTYS
PAINOTETTUKESKIARVO
KONVERTOILUKUARVO
KESKIARVO
NEGAATIO
MINIMI
MAKSIMI
JA
EI
SUUREMPITAIYHTASUURI
PIENEMPITAIYHTASUURI
MEDIAANI
PIENEMPI
YHTASUURI
-->
<script type="text/ng-template" id="funktio">
    <div class="function" ng-class="funktioSelection == funktiowrapper ? 'active' : ''">
        <span class="icon" ng-click="funktiowrapper.open = funktiowrapper.open ? false : true">&nbsp;</span>
        <funktiokutsu-label>
            <span add-class-on-mouseover="bold" class="node"
              ng-click="showFunktiokutsuTools()">{{funktionimiService.getName(funktiowrapper.lapsi.funktionimi)}}</span>
        </funktiokutsu-label>
    </div>
</script>


<!-- Temnplatet nimetty funktioargumentti -tyyppisille funktiokutsuille, joille ei ole asetettu arvoa -->
<script type="text/ng-template" id="nimettyFunktioSlot">
    <span add-class-on-mouseover="bold" class="node" ng-init="funktioSlotIndex = findFunktioSlotIndex(parent, $index)"
          ng-click="showNewFunktioList = {visible: true}; hideFunktioMenu()">
        <div ng-if="parent.lapsi.funktionimi === 'OSAMAARA'">
            <span ng-if="$index == 0"><i style="font-size: 18px" class="fa fa-plus-square kaavaeditor-blue"></i> {{ t('laskentakaavapuu.osoittaja') || 'Osoittaja' }} </span>
            <span ng-if="$index == 1"><i style="font-size: 18px" class="fa fa-plus-square kaavaeditor-blue"></i> {{ t('laskentakaavapuu.nimittaja') || 'Nimittäjä' }}</span>
        </div>
        <div ng-if="parent.lapsi.funktionimi === 'PAINOTETTUKESKIARVO'">
            <span ng-if="$index % 2 == 0"><i style="font-size: 18px" class="fa fa-plus-square kaavaeditor-blue"></i> {{ t('laskentakaavapuu.painotuskerroin') || 'Painotuskerroin' }}</span>
            <span ng-if="$index % 2 == 1"><i style="font-size: 18px" class="fa fa-plus-square kaavaeditor-blue"></i> {{ t('laskentakaavapuu.lukuarvo') || 'Lukuarvo' }}</span>
        </div>
        <div ng-if="parent.lapsi.funktionimi === 'SKAALAUS' || 
                    parent.lapsi.funktionimi === 'NEGAATIO' || 
                    parent.lapsi.funktionimi === 'EI' || 
                    parent.lapsi.funktionimi === 'HYLKAA' ||
                    parent.lapsi.funktionimi === 'KONVERTOILUKUARVO' ||
                    parent.lapsi.funktionimi === 'PYORISTYS' || 
                    parent.lapsi.funktionimi === 'HYLKAAARVOVALILLA'">
            <span ng-if="$index == 0"><i style="font-size: 18px" class="fa fa-plus-square kaavaeditor-blue"></i> {{ t('laskentakaavapuu.funktioargumentti') || 'Funktioargumentti' }}</span>
        </div>
        <div ng-if="parent.lapsi.funktionimi === 'NIMETTYTOTUUSARVO'">
            <span ng-if="$index == 0"><i style="font-size: 18px" class="fa fa-plus-square kaavaeditor-blue"></i> {{ t('laskentakaavapuu.funktioargumentti') || 'Funktioargumentti' }}</span>
        </div>
        <div ng-if="parent.lapsi.funktionimi === 'NIMETTYLUKUARVO'">
            <span ng-if="$index == 0"><i style="font-size: 18px" class="fa fa-plus-square kaavaeditor-blue"></i> {{ t('laskentakaavapuu.funktioargumentti') || 'Funktioargumentti' }}</span>
        </div>
        <div ng-if="parent.lapsi.funktionimi === 'YHTASUURI' || 
                    parent.lapsi.funktionimi === 'SUUREMPITAIYHTASUURI' ||
                    parent.lapsi.funktionimi === 'PIENEMPITAIYHTASUURI' ||
                    parent.lapsi.funktionimi === 'SUUREMPI' ||
                    parent.lapsi.funktionimi === 'PIENEMPI'">
            <span ng-if="$index == 0"><i style="font-size: 18px" class="fa fa-plus-square kaavaeditor-blue"></i> {{ t('laskentakaavapuu.vasenoperandi') || 'Vasen operandi' }}</span>
            <span ng-if="$index == 1"><i style="font-size: 18px" class="fa fa-plus-square kaavaeditor-blue"></i> {{ t('laskentakaavapuu.oikeaoperandi') || 'Oikea operandi' }}</span>
        </div>
        <div ng-if="parent.lapsi.funktionimi === 'JOS'">
            <span ng-if="$index == 0"><i style="font-size: 18px"
                                         class="fa fa-plus-square kaavaeditor-blue"></i> {{ t('laskentakaavapuu.ehto') || 'Ehto' }}</span>
            <span ng-if="$index == 1"><i style="font-size: 18px" class="fa fa-plus-square kaavaeditor-blue"></i> {{ t('laskentakaavapuu.sitten') || 'Sitten' }}</span>
            <span ng-if="$index == 2"><i style="font-size: 18px" class="fa fa-plus-square kaavaeditor-blue"></i> {{ t('laskentakaavapuu.muuten') || 'Muuten' }}</span>
        </div>
    </span>

    <div ng-if="showNewFunktioList.visible && isLukuarvoFunktioSlot(parent, funktioSlotIndex) && !isAlikaava"
         class="function"
         ng-include="'lukuarvoFunktiot'"></div>
    <div ng-if="showNewFunktioList.visible && !isLukuarvoFunktioSlot(parent, funktioSlotIndex) && !isAlikaava"
         class="function"
         ng-include="'totuusarvoFunktiot'"></div>

</script>


<!-- UUDEN FUNKTION LISÄYS JUUREEN -->
<script type="text/ng-template" id="addFunktioToRoot">
    <span add-class-on-mouseover="bold" class="node" ng-click="showNewFunktioList = {visible: true}"><i
            style="font-size: 18px;" class="fa fa-plus-square kaavaeditor-blue"></i> </span>
    <div ng-init="funktioSlotIndex = 0"
         ng-if="showNewFunktioList.visible && laskentakaavatyyppi === 'LUKUARVOFUNKTIO' && !alikaava"
         ng-include="'lukuarvoFunktiot'"></div>
    <div ng-init="funktioSlotIndex = 0"
         ng-if="showNewFunktioList.visible && laskentakaavatyyppi === 'TOTUUSARVOFUNKTIO' && !isAlikaava"
         ng-include="'totuusarvoFunktiot'"></div>
</script>


<!-- UUDEN FUNKTION LISÄYS -->
<script type="text/ng-template" id="addFunktio">
    <span add-class-on-mouseover="bold" class="node" ng-click="showNewFunktioList = {visible: true}; hideFunktioMenu()"><i
            style="font-size: 18px;" class="fa fa-plus-square kaavaeditor-blue"></i> {{ t('laskentakaavapuu.funktioargumentti') || 'Funktioargumentti' }}</span>

        <div ng-init="funktioSlotIndex = findFunktioSlotIndex(parent, $index)"
             ng-if="showNewFunktioList.visible && isLukuarvoFunktioSlot(parent, funktioSlotIndex) && !isAlikaava"
             class="function"
             ng-include="'lukuarvoFunktiot'"></div>
        <div ng-init="funktioSlotIndex = findFunktioSlotIndex(parent, $index)"
             ng-if="showNewFunktioList.visible && !isLukuarvoFunktioSlot(parent, funktioSlotIndex) && !isAlikaava"
             class="function"
             ng-include="'totuusarvoFunktiot'"></div>
</script>


<!-- UUSI LUKUARVOFUNKTIO -->
<script type="text/ng-template" id="lukuarvoFunktiot">

    <table class="dropmenu-table" ng-controller="funktioMenuController">
        <thead>
        <th colspan="2">{{ t('laskentakaavapuu.lisaa') || 'Lisää uusi funktio' }} <span class="float-right"
                                                                                        ng-click="showNewFunktioList.visible = false"><i
                style="font-size: 18px;" class="fa fa-times-circle-o"></i></span></th>
        </thead>
        <tbody>
        <tr>
            <td ng-click="addFunktio(parent, 'HAELUKUARVO', funktioSlotIndex); showNewFunktioList.visible = false">
                <span>{{ t('laskentakaavapuu.haelukuarvo') || 'Hae lukuarvo' }}</span></td>
            <td ng-click="addFunktio(parent, 'LUKUARVO', funktioSlotIndex); showNewFunktioList.visible = false"><span>{{ t('laskentakaavapuu.vakio') || 'Vakio' }}</span>
            </td>
        </tr>
        <tr>
            <td ng-click="addFunktio(parent, 'SUMMA', funktioSlotIndex); showNewFunktioList.visible = false">
                <span>{{ t('laskentakaavapuu.summa') || 'Summa' }}</span></td>
            <td ng-click="addFunktio(parent, 'JOS', funktioSlotIndex); showNewFunktioList.visible = false">
                <span>{{ t('laskentakaavapuu.jos') || 'Jos' }}</span></td>
        </tr>
        <tr>
            <td ng-click="addFunktio(parent, 'TULO', funktioSlotIndex); showNewFunktioList.visible = false">
                <span>{{ t('laskentakaavapuu.tulo') || 'Tulo' }}</span></td>
            <td ng-click="addFunktio(parent, 'OSAMAARA', funktioSlotIndex); showNewFunktioList.visible = false"><span>{{ t('laskentakaavapuu.osamaara') || 'Osamäärä' }}</span>
            </td>
        </tr>
        <tr>
            <td ng-click="addFunktio(parent, 'KESKIARVO', funktioSlotIndex); showNewFunktioList.visible = false"><span>{{ t('laskentakaavapuu.keskiarvo') || 'Keskiarvo' }}</span>
            </td>
            <td ng-click="addFunktio(parent, 'MEDIAANI', funktioSlotIndex); showNewFunktioList.visible = false"><span>{{ t('laskentakaavapuu.mediaani') || 'Mediaani' }}</span>
            </td>
        </tr>
        <tr>
            <td ng-click="addFunktio(parent, 'MINIMI', funktioSlotIndex); showNewFunktioList.visible = false"><span>{{ t('laskentakaavapuu.minimi') || 'Minimi' }}</span>
            </td>
            <td ng-click="addFunktio(parent, 'MAKSIMI', funktioSlotIndex); showNewFunktioList.visible = false"><span>{{ t('laskentakaavapuu.maksimi') || 'Maksimi' }}</span>
            </td>
        </tr>
        <tr>
            <td ng-click="addFunktio(parent, 'SUMMANPARASTA', funktioSlotIndex); showNewFunktioList.visible = false">
                <span>{{ t('laskentakaavapuu.nparastasumma') || 'N parasta summa' }}</span></td>
            <td ng-click="addFunktio(parent, 'KESKIARVONPARASTA', funktioSlotIndex); showNewFunktioList.visible = false">
                <span>{{ t('laskentakaavapuu.nparastakeskiarvo') || 'N parasta keskiarvo' }}</span></td>
        </tr>
        <tr>
            <td ng-click="addFunktio(parent, 'TULONPARASTA', funktioSlotIndex); showNewFunktioList.visible = false">
                <span>{{ t('laskentakaavapuu.nparastatulo') || 'N parasta tulo' }}</span></td>
            <td ng-click="addFunktio(parent, 'PAINOTETTUKESKIARVO', funktioSlotIndex); showNewFunktioList.visible = false">
                <span>{{ t('laskentakaavapuu.painotettukeskiarvo') || 'Painotettu keskiarvo' }}</span></td>
        </tr>
        <tr>
            <td ng-click="addFunktio(parent, 'NMAKSIMI', funktioSlotIndex); showNewFunktioList.visible = false"><span>{{ t('laskentakaavapuu.nparas') || 'N paras' }}</span>
            </td>
            <td ng-click="addFunktio(parent, 'NMINIMI', funktioSlotIndex); showNewFunktioList.visible = false"><span>{{ t('laskentakaavapuu.nhuonoin') || 'N huonoin' }}</span>
            </td>
        </tr>
        <tr>
            <td ng-click="addFunktio(parent, 'NEGAATIO', funktioSlotIndex); showNewFunktioList.visible = false"><span>{{ t('laskentakaavapuu.negaatio') || 'Negaatio' }}</span>
            </td>
            <td ng-click="addFunktio(parent, 'PYORISTYS', funktioSlotIndex); showNewFunktioList.visible = false"><span>{{ t('laskentakaavapuu.pyoristys') || 'Pyöristys' }}</span>
            </td>
        </tr>
        <tr>
            <td ng-click="addFunktio(parent, 'HYLKAA', funktioSlotIndex); showNewFunktioList.visible = false"><span>{{ t('laskentakaavapuu.hylkaa') || 'Hylkää' }}</span>
            </td>
            <td ng-click="addFunktio(parent, 'HYLKAAARVOVALILLA', funktioSlotIndex); showNewFunktioList.visible = false">
                <span>{{ t('laskentakaavapuu.hylkaaarvovalilla') || 'Hylkää arvovälillä' }}</span></td>
        </tr>
        <tr>
            <td ng-click="addFunktio(parent, 'KONVERTOILUKUARVO', funktioSlotIndex); showNewFunktioList.visible = false">
                <span>{{ t('laskentakaavapuu.konversio') || 'Konversio' }}</span></td>
            <td ng-click="addFunktio(parent, 'HAEOSAKOEARVOSANA', funktioSlotIndex); showNewFunktioList.visible = false">
                <span>{{ t('laskentakaavapuu.yoosakoearvosana') || 'YO-kokeen pisteet' }}</span>
            </td>
        </tr>
        <tr>
            <td ng-click="addFunktio(parent, 'HAETOTUUSARVOJAKONVERTOILUKUARVOKSI', funktioSlotIndex); showNewFunktioList.visible = false">
                <span>{{ t('laskentakaavapuu.haetotuusarvojakonvertoilukuarvoksi') || 'Hae totuusarvo ja konvertoi lukuarvoksi' }}</span>
            </td>
            <td ng-click="addFunktio(parent, 'NIMETTYLUKUARVO', funktioSlotIndex); showNewFunktioList.visible = false">
                <span>{{ t('laskentakaavapuu.nimettylukuarvo') || 'Nimetty lukuarvo' }}</span></td>
        </tr>
        <tr>
            <td ng-click="addFunktio(parent, 'HAELUKUARVOEHDOLLA', funktioSlotIndex); showNewFunktioList.visible = false">
                <span>{{ t('laskentakaavapuu.haelukuarvoehdolla') || 'Hae lukuarvo ehdolla' }}</span></td>
            <td ng-click="addFunktio(parent, 'HAEYOARVOSANA', funktioSlotIndex); showNewFunktioList.visible = false">
                <span>{{ t('laskentakaavapuu.yoarvosana') || 'YO-arvosana' }}</span></td>
        </tr>
        <tr>
            <td ng-click="addFunktio(parent, 'HAEAMMATILLINENYTOARVOSANA', funktioSlotIndex); showNewFunktioList.visible = false">
                <span>{{ t('laskentakaavapuu.ammatillinenytoarvosana') || 'Ammatillinen yto-arvosana' }}</span></td>
        </tr>
        <tr ng-if="parent.lapsi">
            <td ng-click="addLaskentakaavaviite(parent, funktioSlotIndex); showNewFunktioList.visible = false"><span>{{ t('laskentakaavapuu.viittaus') || 'Viittaus toiseen kaavaan' }}</span>
            </td>
            <td ng-click="addFunktio(parent, 'HAEMERKKIJONOJAKONVERTOILUKUARVOKSI', funktioSlotIndex); showNewFunktioList.visible = false">
                <span>{{ t('laskentakaavapuu.haemerkkijono') || 'Hae merkkijono ja konvertoi lukuarvoksi' }}</span></td>
        </tr>
        <tr>
            <td ng-click="addFunktio(parent, 'SKAALAUS', funktioSlotIndex); showNewFunktioList.visible = false"><span>{{ t('laskentakaavapuu.skaalaus') || 'Skaalaus' }}</span>
            </td>
            <td ng-if="clipboard && clipboard.lapsi.tyyppi === 'LUKUARVOFUNKTIO'" ng-click="pasteFunktiokutsu(parent, funktioSlotIndex); showNewFunktioList.visible = false"><span>{{ t('laskentakaavapuu.lisaaleikepoydalta') || 'Lisää funktiokutsu leikepöydältä'}}</span></td>
        </tr>
        </tbody>
    </table>
</script>

<!-- UUSI TOTUUSARVOFUNKTIO -->
<script type="text/ng-template" id="totuusarvoFunktiot">
    <table class="dropmenu-table" ng-controller="funktioMenuController">
        <thead>
        <th colspan="2">{{ t('laskentakaavapuu.lisaa') || 'Lisää uusi funktio' }} <span class="float-right"
                                                                                        ng-click="showNewFunktioList.visible = false"><i
                style="font-size: 18px;" class="fa fa-times-circle-o"></i></span></th>
        </thead>
        <tbody>
        <tr>
            <td ng-click="addFunktio(parent, 'HAETOTUUSARVO', funktioSlotIndex); showNewFunktioList.visible = false">
                <span>{{ t('laskentakaavapuu.haetotuusarvo') || 'Hae totuusarvo' }}</span></td>
            <td ng-click="addFunktio(parent, 'TAI', funktioSlotIndex); showNewFunktioList.visible = false">
                <span>{{ t('laskentakaavapuu.tai') || 'Tai' }}</span></td>
        </tr>
        <tr>
            <td ng-click="addFunktio(parent, 'SUUREMPITAIYHTASUURI', funktioSlotIndex); showNewFunktioList.visible = false">
                <span>{{ t('laskentakaavapuu.suurempitaiyhtasuuri') || 'Suurempi tai yhtä suuri' }}</span></td>
            <td ng-click="addFunktio(parent, 'SUUREMPI', funktioSlotIndex); showNewFunktioList.visible = false"><span>{{ t('laskentakaavapuu.suurempi') || 'Suurempi' }}</span>
            </td>
        </tr>
        <tr>
            <td ng-click="addFunktio(parent, 'YHTASUURI', funktioSlotIndex); showNewFunktioList.visible = false"><span>{{ t('laskentakaavapuu.yhtasuuri') || 'Yhtä suuri' }}</span>
            </td>
            <td ng-click="addFunktio(parent, 'PIENEMPI', funktioSlotIndex); showNewFunktioList.visible = false"><span>{{ t('laskentakaavapuu.pienempi') || 'Pienempi' }}</span>
            </td>
        </tr>
        <tr>
            <td ng-click="addFunktio(parent, 'PIENEMPITAIYHTASUURI', funktioSlotIndex); showNewFunktioList.visible = false">
                <span>{{ t('laskentakaavapuu.pienempitaiyhtasuuri') || 'Pienempi tai yhtä suuri' }}</span></td>
            <td ng-click="addFunktio(parent, 'EI', funktioSlotIndex); showNewFunktioList.visible = false">
                <span>{{ t('laskentakaavapuu.ei') || 'Ei' }}</span></td>
        </tr>
        <tr>
            <td ng-click="addFunktio(parent, 'TOTUUSARVO', funktioSlotIndex); showNewFunktioList.visible = false"><span>{{ t('laskentakaavapuu.totuusarvo') || 'Totuusarvo' }}</span>
            </td>
            <td ng-click="addFunktio(parent, 'JA', funktioSlotIndex); showNewFunktioList.visible = false">
                <span>{{ t('laskentakaavapuu.ja') || 'Ja' }}</span></td>
        </tr>
        <tr>
            <td ng-click="addFunktio(parent, 'DEMOGRAFIA', funktioSlotIndex); showNewFunktioList.visible = false"><span>{{ t('laskentakaavapuu.demografia') || 'Demografia' }}</span>
            </td>
            <td ng-click="addFunktio(parent, 'HAKUTOIVE', funktioSlotIndex); showNewFunktioList.visible = false"><span>{{ t('laskentakaavapuu.hakutoive') || 'Hakutoive' }}</span>
            </td>
        </tr>
        <tr>
            <td ng-click="addFunktio(parent, 'HAKUTOIVERYHMASSA', funktioSlotIndex); showNewFunktioList.visible = false">
                <span>{{ t('laskentakaavapuu.hakutoiveryhmassa') || 'Hakutoive hakukohderyhmässä' }}</span>
            </td>
            <td ng-click="addFunktio(parent, 'HAEMERKKIJONOJAKONVERTOITOTUUSARVOKSI', funktioSlotIndex); showNewFunktioList.visible = false">
                <span>{{ t('laskentakaavapuu.haemerkkijonototuusarvoksi') || 'Hae merkkijono ja konvertoi totuusarvoksi' }}</span>
            </td>
        </tr>
        <tr>
            <td ng-click="addFunktio(parent, 'NIMETTYTOTUUSARVO', funktioSlotIndex); showNewFunktioList.visible = false">
                <span>{{ t('laskentakaavapuu.nimettytotuusarvo') || 'Nimetty totuusarvo' }}</span></td>
            <td ng-click="addFunktio(parent, 'HAEMERKKIJONOJAVERTAAYHTASUURUUS', funktioSlotIndex); showNewFunktioList.visible = false">
                <span>{{ t('laskentakaavapuu.haemerkkijonoyhtasuuruus') || 'Hae merkkijono ja vertaa yhtäsuuruus' }}</span>
            </td>
        </tr>
        <tr>
            <td ng-click="addFunktio(parent, 'VALINTAPERUSTEYHTASUURUUS', funktioSlotIndex); showNewFunktioList.visible = false">
                <span>{{ t('laskentakaavapuu.valintaperusteyhtasuuruus') || 'Valintaperusteyhtäsuuruus' }}</span></td>
            <td ng-click="addFunktio(parent, 'HAKUKELPOISUUS', funktioSlotIndex); showNewFunktioList.visible = false">
                <span>{{ t('laskentakaavapuu.hakukelpoisuus') || 'Hakukelpoisuus'}}</span>
            </td>
        </tr>
        <tr>
            <td ng-click="addFunktio(parent, 'ONKOAMMATILLINENYTOARVIOINTIASTEIKKO', funktioSlotIndex); showNewFunktioList.visible = false">
                <span>{{ t('laskentakaavapuu.onkoammatillinenytoarviointiasteikko') || 'Onko ammatillinen yto-arviointiasteikko' }}</span></td>
        </tr>
        <tr>
            <td ng-if="parent.lapsi"
                ng-click="addLaskentakaavaviite(parent, funktioSlotIndex); showNewFunktioList.visible = false"><span>{{ t('laskentakaavapuu.viittaus') || 'Viittaus toiseen kaavaan' }}</span>
            </td>
        </tr>
        <tr ng-if="clipboard && clipboard.lapsi.tyyppi === 'TOTUUSARVOFUNKTIO'">
            <td ng-click="pasteFunktiokutsu(parent, funktioSlotIndex); showNewFunktioList.visible = false"><span>{{ t('laskentakaavapuu.lisaaleikepoydalta') || 'Lisää funktiokutsu leikepöydältä'}}</span></td>
        </tr>
        </tbody>
    </table>
</script>

