<h1>{{ t('hakijaryhmavalintatapajono.header') || 'Hakijaryhmän liittäminen' }}</h1>

<div class="tabs">
    <a href="#/etusivu" class="tab current"><span>{{ t('common.etusivu') || 'Valintaryhmät ja hakukohteet' }}</span></a>
    <a ng-if="valintaryhmaOid" ng-href="#/valintaryhma/{{valintaryhmaOid}}/laskentakaavalista" class="tab"><span>{{ t('common.laskentakaava') || 'Laskentakaavat' }}</span></a>
    <a ng-if="hakukohdeOid" ng-href="#/hakukohde/{{hakukohdeOid}}/laskentakaavalista" class="tab"><span>{{ t('common.laskentakaava') || 'Laskentakaavat' }}</span></a>
    <a auth ng-if="userAccess.crudOph || (userAccess.hasCrudRights() && userModel.isKKUser)" href="#/import" class="tab float-right"><span>{{ t('common.import') || 'Yhteisvalinnan hallinta' }}</span></a>
</div>

<div class="tabsheet">
    <breadcrumb></breadcrumb>
<form name="form" ng-submit="submit()">


    <div class="form-row" ng-model="model.hakijaryhmat" >
        <div class="form-row-label">{{ t('hakijaryhmavalintatapajono.hakijaryhmat') || 'Hakijaryhmät' }}</div>
        <div class="form-row-content width-60">
            <table class="virkailija-table-1 margin-bottom-2 width-60">
                <thead>
                <tr>
                    <th></th>
                    <th>{{ t('hakijaryhmavalintatapajono.nimi') || 'Nimi' }}</th>
                    <th>{{ t('hakijaryhmavalintatapajono.laskentakaava') || 'Laskentakaava' }}</th>
                    <th>{{ t('hakijaryhmavalintatapajono.kiintio') || 'Kiintiö' }}</th>
                    <th>{{ t('hakijaryhmavalintatapajono.periytyy') || 'Periytyy' }}</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="data in model.hakijaryhmat">
                    <td>
                        <input type="radio" name="hakijaryhma" value="{{data.oid}}"
                           ng-model="model.hakijaryhma.oid" ng-required="!model.hakijaryhma.oid" />
                    </td>
                    <td class="align-center">
                        {{data.nimi}}
                    </td>
                    <td class="align-center">{{data.laskentakaava_nimi}}</td>
                    <td class="align-center">{{data.kiintio}}</td>
                    <td class="align-center">{{data.inheritance}}</td>
                </tr>
                </tbody>
            </table>

            <div class="clear"></div>
        </div>
    </div>

    <div class="form-row">
        <button auth="update" ng-disabled="!form.$valid" class="button small primary" type="submit">
            {{ t('hakijaryhmavalintatapajono.liita') || 'Liitä' }}
        </button>

        <button class="button small float-left margin-right-2" ng-click="cancel()" popover-popup-delay="500" popover-placement="top" popover-trigger="mouseenter" popover="{{ t('common.muista') || 'Muista tallentaa muutoksesi' }}">{{ t('common.takaisin') || 'Takaisin' }}</button>
    </div>
</form>
</div>