<script type="text/ng-template" id="poistavalintaryhma.html">
    <div class="modal-header">
        <h3 class="modal-title">{{ t('valintaryhmalomake.poistavalintaryhma.header') || 'Oletko varma?' }}</h3>
    </div>
    <div class="modal-body">
        {{ t('valintaryhmalomake.poistavalintaryhma.body') || 'Oletko varma, että halua poistaa valintaryhmän?' }}
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">{{ t('valintaryhmalomake.poistavalintaryhma.kylla') || 'Kyllä' }}</button>
        <button class="btn btn-warning" ng-click="cancel()">{{ t('valintaryhmalomake.poistavalintaryhma.ei') || 'Ei' }}</button>
    </div>
</script>

<script type="text/ng-template" id="poistavalinnanvaihe.html">
    <div class="modal-header">
        <h3 class="modal-title">{{ t('valintaryhmalomake.poistavalinnanvaihe.header') || 'Oletko varma?' }}</h3>
    </div>
    <div class="modal-body">
        {{ t('valintaryhmalomake.poistavalinnanvaihe.body') || 'Oletko varma, että haluat poistaa valinnan vaiheen?' }}
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">{{ t('valintaryhmalomake.poistavalinnanvaihe.kylla') || 'Kyllä' }}</button>
        <button class="btn btn-warning" ng-click="cancel()">{{ t('valintaryhmalomake.poistavalinnanvaihe.ei') || 'Ei' }}</button>
    </div>
</script>

<h1>{{ t('valintaryhmalomake.header') || 'Valintaryhmän muokkaus' }}</h1>


<div class="tabs">
    <a href="#/etusivu" class="tab current"><span>{{ t('common.etusivu') || 'Valintaryhmät ja hakukohteet' }}</span></a>
    <a href="#/valintaryhma/{{model.valintaryhma.oid}}/laskentakaavalista" class="tab"><span>{{ t('common.laskentakaava') || 'Laskentakaavat' }}</span></a>,
    <a auth="crudOph" href="#/import" class="tab float-right"><span>{{ t('common.import') || 'Yhteisvalinnan hallinta' }}</span></a>

</div>

<div class="tabsheets">

<breadcrumb></breadcrumb>

<form name="form" ng-submit="submit()">

<div class="form-row">
    <label class="form-row-label" for="">{{ t('valintaryhmalomake.nimi') || 'Nimi' }}</label>

    <div class="form-row-content width-60">
        <input class="width-60" type="text" name="" id="" ng-model="model.valintaryhma.nimi" required/>
        <br><span class="red" ng-show="model.nameerror">{{ t('valintaryhmalomakeuusi.valintaryhmalomakeuusi.nimiloytyyjo') || 'Valintaryhmän nimi on jo käytössä. Anna jokin toinen nimi ryhmälle.' }}</span>
    </div>
    <div class="clear"></div>
</div>

<div class="form-row">
    <label class="form-row-label" for="">{{ t('valintaryhmalomake.tunniste') || 'Tunniste(oid)' }}:</label>

    <div class="form-row-content">
        <span class="nofield">{{model.valintaryhma.oid}}</span>
    </div>
    <div class="clear"></div>
</div>

<div class="form-row">
    <label class="form-row-label" for="">{{ t('valintaryhmalomake.haku') || 'Haku' }}</label>

    <div class="form-row-content width-60">
        <select ng-model="model.valintaryhma.hakuoid" ng-options="h.oid as h.nimi.kieli_fi for h in model.haut | orderBy:'nimi.kieli_fi'">
            <option value=""></option>
        </select>
    </div>
    <div class="clear"></div>
</div>

<div class="form-row">
    <label class="form-row-label" for="">{{ t('valintaryhmalomake.kohdejoukko') || 'Kohdejoukko' }}</label>

    <div class="form-row-content width-60">
        <select ng-disabled="model.valintaryhma.level > 1" ng-model="model.valintaryhma.kohdejoukko"
                ng-options="k.koodiUri as k.metadata[0].nimi for k in model.kohdejoukot">
        </select>
    </div>
    <div class="clear"></div>
</div>

<div class="form-row">
    <label class="form-row-label" for="">{{ t('valintaryhmalomake.organisaatiot') || 'Organisaatiot' }}:</label>

    <div class="form-row-content  width-60">

        <table class="virkailija-table-1">
            <thead>
            <tr>
                <th>{{ t('valintaryhmalomake.nimi') || 'Nimi' }}</th>
                <th>{{ t('valintaryhmalomake.tyyppi') || 'Tyyppi' }}</th>
                <th>{{ t('valintaryhmalomake.oid') || 'oid' }}</th>
                <th>{{ t('valintaryhmalomake.poista') || 'Poista' }}</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="organisaatio in model.valintaryhma.organisaatiot">
                <td class="align-center">{{organisaatio.nimi['fi'] || organisaatio.nimi['sv'] ||
                    organisaatio.nimi['en']}}
                </td>
                <td class="align-center">
                    <span ng-repeat="type in organisaatio.organisaatiotyypit">{{type}}</span>
                    <span ng-repeat="type in organisaatio.tyypit">{{type}}</span>
                </td>
                <td class="align-center">{{organisaatio.oid}}</td>
                <td class="align-center">
                    <i auth="update" class="fa fa-trash-o organisaatio"
                       ng-click="model.valintaryhma.organisaatiot.splice($index,1)"></i>
                </td>
            </tr>

            </tbody>

        </table>
        <div class="clear"></div>
        <br/>

        <div auth="update" ng-include="'../common/partials/organisaatioSelector.html'"/>

    </div>

    <div class="clear"></div>
</div>

<!-- VALINTAKOEKOODIEN LISTAUS -->
<div ng-include="'valintaryhma/valintakoekoodit.html'" class="form-row"></div>

<!-- HAKUKOHDEKOODIEN LISTAUS -->
<div ng-include="'valintaryhma/hakukohdekoodit.html'" class="form-row"></div>

<!-- VALINNANVAIHEIDEN LISTAUS -->
<div class="form-row">
    <div class="form-row-label">{{ t('valintaryhmalomake.valinnanvaiheet') || 'Valinnan vaiheet' }}</div>
    <div class="form-row-content width-60">
        <table ng-show="model.valinnanvaiheet" class="virkailija-table-1 margin-bottom-2 width-60">
            <thead>
            <tr>
                <th>{{ t('valintaryhmalomake.aktiivinen') || 'Aktiivinen' }}</th>
                <th>{{ t('valintaryhmalomake.nimi') || 'Nimi' }}</th>
                <th>{{ t('valintaryhmalomake.periytyy') || 'Periytyy' }}</th>
                <th>{{ t('valintaryhmalomake.tyyppi') || 'Tyyppi' }}</th>
                <th>{{ t('valintaryhmalomake.poista') || 'Poista' }}</th>
            </tr>
            </thead>
            <tbody ui-sortable ng-model="model.valinnanvaiheet">
            <tr ng-repeat="data in model.valinnanvaiheet">
                <td class="align-center"><input type="checkbox" ng-model="data.aktiivinen"/></td>
                <td class="align-center">
                    <a ng-class="{true:'', false:'line-through'}[data.aktiivinen]"
                       ng-href="#/valintaryhma/{{model.valintaryhma.oid}}/{{model.getValinnanvaiheType(data)}}/{{data.oid}}">{{data.nimi}}</a>
                </td>
                <td class="align-center">
                    <span ng-if="data.inheritance">{{t('valintaperusteet.periytyy.true') || 'Periytyy'}}</span>
                    <span ng-if="!data.inheritance">{{t('valintaperusteet.periytyy.false') || 'Ei periydy'}}</span>
                </td>
                <td class="align-center">
                    <span ng-if="data.valinnanVaiheTyyppi === 'TAVALLINEN'">{{t('valintaperusteet.tyyppi.TAVALLINEN') || 'Tavallinen'}}</span>
                    <span ng-if="data.valinnanVaiheTyyppi === 'VALINTAKOE'">{{t('valintaperusteet.tyyppi.VALINTAKOE') || 'Valintakoe'}}</span>
                </td>
                <td class="align-center">
                    <i auth="crud" ng-show="!data.inheritance" class="fa fa-trash-o"
                       ng-click="model.removeValinnanvaihe(data)"></i>
                </td>
            </tr>
            </tbody>

        </table>

        <div class="clear"></div>

        <div ng-show="model.valintaryhma.oid" class="form-row">
                <span auth="crud" type="button" class="btn btn-sm btn-default" ng-click="lisaaValinnanVaihe()"><i
                        class="fa fa-plus"></i> {{ t('valintaperusteet.valinnanvaihe') || 'Valinnanvaihe'}}</span>
                <span auth="crud" type="button" class="btn btn-sm btn-default"
                      ng-click="lisaaValintakoeValinnanVaihe()"><i
                        class="fa fa-plus"></i> {{ t('valintaperusteet.valintakoevalinnanvaihe') || 'Valintakoevalinnanvaihe'}}</span>
        </div>
    </div>
</div>

<div class="form-row width-100">
    <div class="form-row-label">{{ t('valintaryhmalomake.hakijaryhmat') || 'Hakijaryhmät' }}</div>
    <div class="form-row-content width-60">
        <table ng-show="model.hakijaryhmat" class="virkailija-table-1 margin-bottom-2 width-60">
            <thead>
            <tr>
                <th>{{ t('valintaryhmalomake.nimi') || 'Nimi' }}</th>
                <th>{{ t('valintaryhmalomake.kuvaus') || 'Kuvaus' }}</th>
                <th>{{ t('valintaryhmalomake.laskentakaava') || 'Laskentakaava' }}</th>
                <th>{{ t('valintaryhmalomake.kiintio') || 'Kiintiö' }}</th>
                <th>{{ t('valintaryhmalomake.poista') || 'Poista' }}</th>
            </tr>
            </thead>
            <tbody ng-model="model.hakijaryhmat">
            <tr ng-repeat="data in model.hakijaryhmat">
                <td class="align-center">
                    <a href="#/valintaryhma/{{model.valintaryhma.oid}}/hakijaryhma/{{data.oid}}">{{data.nimi}}</a>
                </td>
                <td class="align-center">{{data.kuvaus}}</td>
                <td class="align-center">{{data.laskentakaava_nimi}}</td>
                <td class="align-center">{{data.kiintio}}</td>
                <td class="align-center">

                    <i auth="crud" ng-show="!data.inheritance" class="fa fa-trash-o"
                       ng-click="model.removeHakijaryhma(data.oid)"></i>
                </td>
            </tr>
            </tbody>
        </table>

        <div class="clear"></div>

        <div ng-show="model.valintaryhma.oid" class="form-row">
            <span auth="crud" class="btn btn-sm btn-default" ng-click="lisaaHakijaryhma()"><i class="fa fa-plus"></i> {{ t('valintaryhmalomake.hakijaryhma') || 'Hakijaryhmä' }}</span>
        </div>
    </div>
</div>


<div class="col-md-12">
    <button type="button" class="float-left margin-right-1 btn btn-sm btn-default" ng-click="cancel()" popover-popup-delay="500" popover-placement="top" popover-trigger="mouseenter" popover="{{ t('common.muista') || 'Muista tallentaa muutoksesi' }}"><i
            class="fa fa-arrow-left"></i> {{ t('common.takaisin') || 'Takaisin' }}
    </button>
    <button auth="update" ng-disabled="!form.$valid" class="btn btn-sm btn-primary" type="submit"><i
            class="fa fa-floppy-o"></i>
        {{ t('common.tallenna') || 'Tallenna' }}
    </button>

    <button auth="crud" class="btn btn-sm btn-primary" type="button" ng-click="deleteValintaryhma()">
        <i class="fa fa-trash-o"></i>
        {{ t('common.poista') || 'Poista' }}
    </button>
</div>
<div class="clear"></div>
</form>


</div>
