<h1>{{ t('valintaryhmalomakeuusi.header') || 'Uuden valintaryhmän luonti' }}</h1>


<div class="tabs">
    <a href="#/etusivu" class="tab current"><span>{{ t('common.etusivu') || 'Valintaryhmät ja hakukohteet' }}</span></a>
    <a href="#/laskentakaavalista"
       class="tab"><span>{{ t('common.laskentakaava') || 'Laskentakaavat' }}</span></a>
    <a auth="crudOph" href="#/import" class="tab float-right"><span>{{ t('common.import') || 'Yhteisvalinnan hallinta' }}</span></a>
</div>
<div class="tabsheets">
    <breadcrumb></breadcrumb>
    <form name="form" ng-submit="submit()">
        <div class="form-row">
            <label class="form-row-label">{{ t('valintaryhmalomakeuusi.ylavalintaryhma') || 'Ylävalintaryhmä' }}</label>

            <div class="form-row-content width-60">
                <div ng-include="'../common/partials/valintaryhmaSelector.html'" />
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>

        <div class="form-row">
            <label class="form-row-label" for="">{{ t('valintaryhmalomakeuusi.nimi') || 'Nimi' }}</label>

            <div class="form-row-content width-60">
                <input class="width-60" type="text" name="" id="" ng-model="model.valintaryhma.nimi" required/>
                <br><span class="red" ng-show="model.nameerror">{{ t('valintaryhmalomakeuusi.valintaryhmalomakeuusi.nimiloytyyjo') || 'Valintaryhmän nimi on jo käytössä. Anna jokin toinen nimi ryhmälle.' }}</span>
            </div>
            <div class="clear"></div>
        </div>

        <div class="form-row">
            <label class="form-row-label" for="">{{ t('valintaryhmalomakeuusi.kohdejoukko') || 'Kohdejoukko' }}</label>

            <div class="form-row-content width-60">
                <select ng-disabled="model.parentOid" ng-model="model.valintaryhma.kohdejoukko"
                        ng-options="k.koodiUri as k.metadata[0].nimi for k in model.kohdejoukot">
                </select>
            </div>
            <div class="clear"></div>
        </div>

        <div class="form-row">
            <label class="form-row-label" for="">{{ t('valintaryhmalomakeuusi.organisaatiot') || 'Organisaatiot' }}:</label>

            <div class="form-row-content  width-60">

                <table class="virkailija-table-1">
                    <thead>
                    <tr>
                        <th>{{ t('valintaryhmalomakeuusi.nimipieni') || 'nimi' }}</th>
                        <th>{{ t('valintaryhmalomakeuusi.tyyppi') || 'tyyppi' }}</th>
                        <th>{{ t('valintaryhmalomakeuusi.oid') || 'oid' }}</th>
                        <th>{{ t('valintaryhmalomakeuusi.poista') || 'poista' }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="organisaatio in model.valintaryhma.organisaatiot">
                        <td class="align-center">{{organisaatio.nimi['fi'] || organisaatio.nimi['sv'] || organisaatio.nimi['en']}}</td>
                        <td class="align-center">
                            <span ng-repeat="type in organisaatio.organisaatiotyypit">{{type}}</span>
                            <span ng-repeat="type in organisaatio.tyypit">{{type}}</span>
                        </td>
                        <td class="align-center">{{organisaatio.oid}}</td>
                        <td class="align-center">
                            <i class="fa fa-trash-o organisaatio" ng-click="model.valintaryhma.organisaatiot.splice($index,1)"></i>
                        </td>
                    </tr>

                    </tbody>

                </table>
                <div class="clear"></div>
                <br />
                <div ng-include="'../common/partials/organisaatioSelector.html'" />

            </div>

            <div class="clear"></div>
        </div>

        <div class="col-sm-2">
            <button type="button" class="btn btn-sm btn-default" ng-click="cancel()" popover-popup-delay="500" popover-placement="top" popover-trigger="mouseenter" popover="{{ t('common.muista') || 'Muista tallentaa muutoksesi' }}"><i class="fa fa-arrow-left"></i> {{ t('common.takaisin') || 'Takaisin' }}</button>
            <button auth="crud" ng-disabled="!form.$valid" class="btn btn-sm btn-primary" type="submit"><i class="fa fa-floppy-o"></i> {{ t('common.tallenna') || 'Tallenna' }}</button>
        </div>
        <div class="clear"></div>
    </form>


</div>
