<h1>Valintaryhmän muokkaus</h1>


<div class="tabs">
    <a href="#/etusivu" class="tab current"><span>Valintaryhmät ja hakukohteet</span></a>
    <a href="#/valintaryhma/{{model.valintaryhma.oid}}/laskentakaavalista" class="tab"><span>Laskentakaavat</span></a>,
    <a auth="crudOph" href="#/import" class="tab float-right"><span>Yhteisvalinnan hallinta</span></a>

</div>

<div class="tabsheets">

<breadcrumb></breadcrumb>

<form name="form" ng-submit="submit()">

<div class="form-row">
    <label class="form-row-label" for="">Nimi</label>

    <div class="form-row-content width-60">
        <input class="width-60" type="text" name="" id="" ng-model="model.valintaryhma.nimi" required/>
    </div>
    <div class="clear"></div>
</div>

<div class="form-row">
    <label class="form-row-label" for="">Tunniste(oid):</label>

    <div class="form-row-content">
        <span class="nofield">{{model.valintaryhma.oid}}</span>
    </div>
    <div class="clear"></div>
</div>

<div class="form-row">
    <label class="form-row-label" for="">Organisaatiot:</label>

    <div class="form-row-content  width-60">

        <table class="virkailija-table-1">
            <thead>
            <tr>
                <th>Nimi</th>
                <th>Tyyppi</th>
                <th>oid</th>
                <th>Poista</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="organisaatio in model.valintaryhma.organisaatiot">
                <td class="align-center">{{organisaatio.nimi['fi'] || organisaatio.nimi['sv'] ||
                    organisaatio.nimi['en']}}
                </td>
                <td class="align-center">
                    <span ng-repeat="type in organisaatio.organisaatiotyypit">{{type}}</span>
                    <span ng-repeat="type in organisaatio.tyypit">{{type}}</span>
                </td>
                <td class="align-center">{{organisaatio.oid}}</td>
                <td class="align-center">
                    <i auth="update" class="fa fa-trash-o organisaatio"
                       ng-click="model.valintaryhma.organisaatiot.splice($index,1)"></i>
                </td>
            </tr>

            </tbody>

        </table>
        <div class="clear"></div>
        <br/>

        <div auth="update" ng-include="'../common/partials/organisaatioSelector.html'"/>

    </div>

    <div class="clear"></div>
</div>

<!-- VALINTAKOEKOODIEN LISTAUS -->
<div ng-include="'valintaryhma/valintakoekoodit.html'" class="form-row"></div>

<!-- HAKUKOHDEKOODIEN LISTAUS -->
<div ng-include="'valintaryhma/hakukohdekoodit.html'" class="form-row"></div>

<!-- VALINNANVAIHEIDEN LISTAUS -->
<div class="form-row width-100">
    <div class="form-row-label">Valinnan vaiheet</div>
    <div class="form-row-content width-60">
        <table ng-show="model.valinnanvaiheet" class="virkailija-table-1 margin-bottom-2 width-60">
            <thead>
            <tr>
                <th>Aktiivinen</th>
                <th>Nimi</th>
                <th>Periytyy</th>
                <th>Tyyppi</th>
                <th>Poista</th>
            </tr>
            </thead>
            <tbody ui-sortable ng-model="model.valinnanvaiheet">
            <tr ng-repeat="data in model.valinnanvaiheet">
                <td class="align-center"><input type="checkbox" ng-model="data.aktiivinen"/></td>
                <td class="align-center">
                    <a ng-class="{true:'', false:'line-through'}[data.aktiivinen]"
                       ng-href="#/valintaryhma/{{model.valintaryhma.oid}}/{{model.getValinnanvaiheType(data)}}/{{data.oid}}">{{data.nimi}}</a>
                </td>
                <td class="align-center">{{'valintaperusteet.periytyy.' + data.inheritance | i18n}}</td>
                <td class="align-center">{{'valintaperusteet.tyyppi.' + data.valinnanVaiheTyyppi | i18n}}</td>
                <td class="align-center">
                    <i auth="crud" ng-show="!data.inheritance" class="fa fa-trash-o"
                       ng-click="model.removeValinnanvaihe(data)"></i>
                </td>
            </tr>
            </tbody>

        </table>

        <div class="clear"></div>

        <div ng-show="model.valintaryhma.oid" class="form-row">
                <span auth="crud" type="button" class="btn btn-sm btn-default" ng-click="lisaaValinnanVaihe()"><i
                        class="fa fa-plus"></i> {{'valintaryhmalomake.valinnanvaihe' | i18n}}</span>
                <span auth="crud" type="button" class="btn btn-sm btn-default"
                      ng-click="lisaaValintakoeValinnanVaihe()"><i
                        class="fa fa-plus"></i> {{'valintaryhmalomake.koekutsuvaihe' | i18n}}</span>
        </div>
    </div>
</div>

<div class="form-row width-100">
    <div class="form-row-label">Hakijaryhmat</div>
    <div class="form-row-content width-60">
        <table ng-show="model.hakijaryhmat" class="virkailija-table-1 margin-bottom-2 width-60">
            <thead>
            <tr>
                <th>Nimi</th>
                <th>Laskentakaava</th>
                <th>Kiintiö</th>
                <th>Periytyy</th>
                <th>Poista</th>
            </tr>
            </thead>
            <tbody ui-sortable ng-model="model.hakijaryhmat">
            <tr ng-repeat="data in model.hakijaryhmat">
                <td class="align-center">
                    <a href="#/valintaryhma/{{model.valintaryhma.oid}}/hakijaryhma/{{data.oid}}">{{data.nimi}}</a>
                </td>
                <td class="align-center">{{data.laskentakaava_nimi}}</td>
                <td class="align-center">{{data.kiintio}}</td>
                <td class="align-center">{{data.inheritance}}</td>
                <td class="align-center">

                    <i auth="crud" ng-show="!data.inheritance" class="fa fa-trash-o"
                       ng-click="removeHakijaryhma(data.oid)"></i>
                </td>
            </tr>
            </tbody>
        </table>

        <div class="clear"></div>

        <div ng-show="model.valintaryhma.oid" class="form-row">
            <span auth="crud" class="btn btn-sm btn-default" ng-click="lisaaHakijaryhma()"><i class="fa fa-plus"></i> Hakijaryhma</span>
        </div>
    </div>
</div>


<div class="col-md-12">
    <button type="button" class="float-left margin-right-1 btn btn-sm btn-default" ng-click="cancel()"><i
            class="fa fa-arrow-left"></i> Takaisin
    </button>
    <button auth="update" ng-disabled="!form.$valid" class="btn btn-sm btn-primary" type="submit"><i
            class="fa fa-floppy-o"></i>
        Tallenna
    </button>

</div>
<div class="clear"></div>
</form>


</div>
