<script type="text/ng-template" id="poistahakijaryhma.html">
    <div class="modal-header">
        <h3 class="modal-title">{{ t('valintaryhmalomake.poistahakijaryhma.header') || 'Oletko varma?' }}</h3>
    </div>
    <div class="modal-body">
        {{ t('valintaryhmalomake.poistahakijaryhma.body') || 'Oletko varma, että haluat poistaa hakijaryhmän?' }}
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" auth ng-disabled="!userAccess.updateOrg" ng-click="ok()">{{ t('valintaryhmalomake.poistahakijaryhma.kylla') || 'Kyllä'
            }}
        </button>
        <button class="btn btn-warning" ng-click="cancel()">{{ t('valintaryhmalomake.poistahakijaryhma.ei') || 'Ei' }}
        </button>
    </div>
</script>

<script type="text/ng-template" id="poistavalintaryhma.html">
    <div class="modal-header">
        <h3 class="modal-title">{{ t('valintaryhmalomake.poistavalintaryhma.header') || 'Oletko varma?' }}</h3>
    </div>
    <div class="modal-body">
        <div ng-if="laskentakaavat">
            {{ t('valintaryhmalomake.poistavalintaryhmalaskentakaavoja.body') || 'Valintaryhmällä on laskentakaavoja.'
            }}
        </div>
        {{ t('valintaryhmalomake.poistavalintaryhma.body') || 'Oletko varma, että haluat poistaa valintaryhmän?' }}
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" auth ng-disabled="!userAccess.crudOrg" ng-click="ok()">{{ t('valintaryhmalomake.poistavalintaryhma.kylla') || 'Kyllä'
            }}
        </button>
        <button class="btn btn-warning" ng-click="cancel()">{{ t('valintaryhmalomake.poistavalintaryhma.ei') || 'Ei'
            }}
        </button>
    </div>
</script>

<script type="text/ng-template" id="poistavalinnanvaihe.html">
    <div class="modal-header">
        <h3 class="modal-title">{{ t('valintaryhmalomake.poistavalinnanvaihe.header') || 'Oletko varma?' }}</h3>
    </div>
    <div class="modal-body">
        {{ t('valintaryhmalomake.poistavalinnanvaihe.body') || 'Oletko varma, että haluat poistaa valinnan vaiheen?' }}
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" auth ng-disabled="!userAccess.updateOrg" ng-click="ok()">{{ t('valintaryhmalomake.poistavalinnanvaihe.kylla') || 'Kyllä'
            }}
        </button>
        <button class="btn btn-warning" ng-click="cancel()">{{ t('valintaryhmalomake.poistavalinnanvaihe.ei') || 'Ei'
            }}
        </button>
    </div>
</script>

<h1>{{ t('valintaryhmalomake.header') || 'Valintaryhmän muokkaus' }}</h1>


<div class="tabs">
    <a href="#/etusivu" class="tab current"><span>{{ t('common.etusivu') || 'Valintaryhmät ja hakukohteet' }}</span></a>
    <a href="#/valintaryhma/{{model.valintaryhma.oid}}/laskentakaavalista" class="tab"><span>{{ t('common.laskentakaava') || 'Laskentakaavat' }}</span></a>,
    <a auth ng-if="userAccess.crudOph" href="#/import" class="tab float-right"><span>{{ t('common.import') || 'Yhteisvalinnan hallinta' }}</span></a>

</div>

<div class="tabsheets">
<breadcrumb></breadcrumb>

<form name="form" class="form-horizontal" ng-submit="submit()">

<div class="form-group">
    <label class="control-label col-md-2" for="valintaryhmanimi">{{ t('valintaryhmalomake.nimi') || 'Nimi' }}</label>

    <div class="col-md-6">
        <input auth ng-disabled="!userAccess.updateOrg" class="form-control"
               type="text" id="valintaryhmanimi" ng-model="model.valintaryhma.nimi" required/>
        <span class="red" ng-show="model.nameerror">{{ t('valintaryhmalomakeuusi.valintaryhmalomakeuusi.nimiloytyyjo') || 'Valintaryhmän nimi on jo käytössä. Anna jokin toinen nimi ryhmälle.' }}</span>
    </div>
</div>

<div class="form-group">
    <label class="control-label col-md-2">{{ t('valintaryhmalomake.tunniste') || 'Tunniste(oid)' }}:</label>

    <div class="col-md-6">
        <p class="form-control-static">{{model.valintaryhma.oid}}</p>
    </div>
</div>

<div class="form-group">
    <label class="control-label col-md-2" for="hakunimi">{{ t('valintaryhmalomake.haku') || 'Haku' }}</label>

    <div class="col-md-4">
        <select auth ng-disabled="!userAccess.updateOrg" id="hakunimi" class="form-control" ng-model="model.valintaryhma.hakuoid"
                ng-options="h.oid as h.nimi.kieli_fi for h in model.haut | orderBy:'nimi.kieli_fi'">
            <option value=""></option>
        </select>
    </div>
</div>

<div class="form-group">
    <label class="control-label col-md-2" for="kohdejoukko">{{ t('valintaryhmalomake.kohdejoukko') || 'Kohdejoukko'
        }}</label>

    <div class="col-md-6">
        <select id="kohdejoukko" auth ng-disabled="model.valintaryhma.level > 1 || !userAccess.updateOrg" class="form-control"
                ng-model="model.valintaryhma.kohdejoukko"
                ng-options="k.koodiUri as k.metadata[0].nimi for k in model.kohdejoukot">
        </select>
    </div>
</div>

<div class="form-group">
    <label class="control-label col-md-2">{{ t('valintaryhmalomake.organisaatiot') || 'Organisaatiot' }}:</label>

    <div class="col-md-10">

        <table ng-show="model.valintaryhma.organisaatiot" class="virkailija-table-1">
            <thead>
            <tr>
                <th>{{ t('valintaryhmalomake.nimi') || 'Nimi' }}</th>
                <th>{{ t('valintaryhmalomake.tyyppi') || 'Tyyppi' }}</th>
                <th>{{ t('valintaryhmalomake.oid') || 'oid' }}</th>
                <th>{{ t('valintaryhmalomake.poista') || 'Poista' }}</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="organisaatio in model.valintaryhma.organisaatiot">
                <td>{{organisaatio.nimi['fi'] || organisaatio.nimi['sv'] ||
                    organisaatio.nimi['en']}}
                </td>
                <td>
                    <span ng-repeat="type in organisaatio.organisaatiotyypit">{{type}}</span>
                    <span ng-repeat="type in organisaatio.tyypit">{{type}}</span>
                </td>
                <td>{{organisaatio.oid}}</td>
                <td>
                    <button auth ng-disabled="!userAccess.updateOrg" class="btn btn-default btn-sm"
                            ng-click="model.valintaryhma.organisaatiot.splice($index,1)">
                        <i class="fa fa-trash-o organisaatio"></i></button>
                </td>
            </tr>

            </tbody>

        </table>
        <div auth="update" ng-include="'../common/partials/organisaatioSelector.html'"/>
    </div>
</div>

<!-- VALINTAKOEKOODIEN LISTAUS -->
<div ng-include="'valintaryhma/valintakoekoodit.html'"></div>

<!-- HAKUKOHDEKOODIEN LISTAUS -->
<div ng-include="'valintaryhma/hakukohdekoodit.html'"></div>

<!-- VALINNANVAIHEIDEN LISTAUS -->
<div class="form-group">
    <label class="control-label col-md-2">{{ t('valintaryhmalomake.valinnanvaiheet') || 'Valinnan vaiheet' }}</label>
    <div class="col-md-10">
        <table ng-show="model.valinnanvaiheet" class="virkailija-table-1">
            <thead>
            <tr>
                <th>{{ t('valintaryhmalomake.aktiivinen') || 'Aktiivinen' }}</th>
                <th>{{ t('valintaryhmalomake.nimi') || 'Nimi' }}</th>
                <th>{{ t('valintaryhmalomake.periytyy') || 'Periytyy' }}</th>
                <th>{{ t('valintaryhmalomake.tyyppi') || 'Tyyppi' }}</th>
                <th>{{ t('valintaryhmalomake.poista') || 'Poista' }}</th>
            </tr>
            </thead>
            <tbody ui-sortable ng-model="model.valinnanvaiheet">
            <tr ng-repeat="data in model.valinnanvaiheet">
                <td><input auth ng-disabled="!userAccess.updateOrg" type="checkbox"
                           ng-model="data.aktiivinen"/></td>
                <td>
                    <a ng-class="{true:'', false:'line-through'}[data.aktiivinen]"
                       ng-href="#/valintaryhma/{{model.valintaryhma.oid}}/{{model.getValinnanvaiheType(data)}}/{{data.oid}}">{{data.nimi}}</a>
                </td>
                <td>
                    <span ng-if="data.inheritance">{{t('valintaperusteet.periytyy.true') || 'Periytyy'}}</span>
                    <span ng-if="!data.inheritance">{{t('valintaperusteet.periytyy.false') || 'Ei periydy'}}</span>
                </td>
                <td>
                    <span ng-if="data.valinnanVaiheTyyppi === 'TAVALLINEN'">{{t('valintaperusteet.tyyppi.TAVALLINEN') || 'Tavallinen'}}</span>
                    <span ng-if="data.valinnanVaiheTyyppi === 'VALINTAKOE'">{{t('valintaperusteet.tyyppi.VALINTAKOE') || 'Valintakoe'}}</span>
                </td>
                <td>
                    <button auth ng-disabled="!userAccess.crudOrg" ng-show="!data.inheritance"
                            class="btn btn-sm btn-default" ng-click="model.removeValinnanvaihe(data)">
                        <i class="fa fa-trash-o"></i>
                    </button>
                </td>
            </tr>
            </tbody>

        </table>


    </div>
</div>

<div ng-show="model.valintaryhma.oid" class="form-group">
    <div class="col-md-4 col-md-offset-2">
        <button auth ng-disabled="!userAccess.crudOrg" type="button" class="btn btn-sm btn-default"
                ng-click="lisaaValinnanVaihe()"><i
                class="fa fa-plus"></i> {{ t('valintaperusteet.valinnanvaihe') || 'Valinnanvaihe'}}
        </button>
        <button auth ng-disabled="!userAccess.crudOrg" type="button" class="btn btn-sm btn-default"
                ng-click="lisaaValintakoeValinnanVaihe()"><i
                class="fa fa-plus"></i> {{ t('valintaperusteet.valintakoevalinnanvaihe') ||
            'Valintakoevalinnanvaihe'}}
        </button>
    </div>
</div>


<!-- HAKIJARYHMÄT -->
<div class="form-group">
    <label class="control-label col-md-2">{{ t('valintaryhmalomake.hakijaryhmat') || 'Hakijaryhmät' }}</label>

    <div class="col-md-10">
        <table ng-show="model.hakijaryhmat" class="virkailija-table-1">
            <thead>
            <tr>
                <th>{{ t('valintaryhmalomake.nimi') || 'Nimi' }}</th>
                <th>{{ t('valintaryhmalomake.kuvaus') || 'Kuvaus' }}</th>
                <th>{{ t('valintaryhmalomake.laskentakaava') || 'Laskentakaava' }}</th>
                <th>{{ t('valintaryhmalomake.kiintio') || 'Kiintiö' }}</th>
                <th>{{ t('valintaryhmalomake.poista') || 'Poista' }}</th>
                <th>{{ t('valintaryhmalomake.kopioihakijaryhma') || 'Kopioi hakijaryhmä'}}</th>
            </tr>
            </thead>
            <tbody ng-model="model.hakijaryhmat">
            <tr ng-repeat="data in model.hakijaryhmat">
                <td>
                    <a href="#/valintaryhma/{{model.valintaryhma.oid}}/hakijaryhma/{{data.oid}}">{{data.nimi}}</a>
                </td>
                <td>{{data.kuvaus}}</td>
                <td>{{data.laskentakaava_nimi}}</td>
                <td>{{data.kiintio}}</td>
                <td>
                    <button auth ng-disabled="!userAccess.updateOrg" class="btn btn-sm btn-default"
                            ng-show="!data.inheritance" ng-click="model.removeHakijaryhma(data.oid)">
                        <i class="fa fa-trash-o"></i>
                    </button>
                </td>
                <td>
                    <button auth ng-disabled="!userAccess.updateOrg" class="btn btn-default btn-sm"
                            ng-click="openHakijaryhmaKopiointiModal(data)">
                        <i class="fa fa-file-o"></i> <i class="fa fa-long-arrow-right"></i> <i class="fa fa-users"></i>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>


    </div>

    <div ng-controller="HakijaryhmaKopiointiController">
        <modal modal-template="valintaryhma/hakijaryhmaKopiointiModal.html">
            <modal-open></modal-open>
        </modal>
    </div>

</div>

<div ng-show="model.hakijaryhmat" class="form-group">
    <div class="col-md-4 col-md-offset-2">
        <div ng-show="model.valintaryhma.oid">
            <button auth ng-disabled="!userAccess.crudOrg" class="btn btn-sm btn-default" ng-click="lisaaHakijaryhma()">
                <i class="fa fa-plus"></i> {{ t('valintaryhmalomake.hakijaryhma') || 'Hakijaryhmä' }}
            </button>
        </div>
    </div>
</div>


<div class="col-md-12">
    <button type="button" class="float-left margin-right-1 btn btn-sm btn-default" ng-click="cancel()"
            popover-popup-delay="500" popover-placement="top" popover-trigger="mouseenter"
            popover="{{ t('common.muista') || 'Muista tallentaa muutoksesi' }}"><i
            class="fa fa-arrow-left"></i> {{ t('common.takaisin') || 'Takaisin' }}
    </button>
    <button auth ng-disabled="!form.$valid || !userAccess.updateOrg" class="btn btn-sm btn-primary" type="submit"><i
            class="fa fa-floppy-o"></i>
        {{ t('common.tallenna') || 'Tallenna' }}
    </button>

    <button auth ng-disabled="!model.okToDelete || !userAccess.crudOrg" class="btn btn-sm btn-primary" type="button"
            ng-click="deleteValintaryhma()">
        <i class="fa fa-trash-o"></i>
        {{ t('common.poista') || 'Poista' }}
    </button>
</div>
<div class="clear"></div>
</form>


</div>
