<div class="modal-header">
    <h3>{{ t('valintaryhmansiirtomodal.header') || 'Siirrä hakukohde toiseen valintaryhmään' }}</h3>
</div>
<div class="modal-body">
    <div ng-include="'../common/partials/valintaryhmaSelector.html'" />
    <div class="clear"></div>
</div>
<div class="modal-footer">

    <a class="btn btn-primary btn-sm" ng-click="siirra();"
       role="button">{{ t('valintaryhmansiirtomodal.siirra') || 'Siirrä' }}</a>
    <a class="btn btn-default btn-sm" ng-click="sulje();"
       role="button">{{ t('valintaryhmansiirtomodal.sulje') || 'Sulje' }}</a>
</div>
